//Media queries

$screen-phone-max: 459px;
$screen-xs-min: 460px;
$screen-xs-max : 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$c-hirely-red: #E82A1D;
$c-hirely-gray: #F5F5F5;
$c-hirely-navy: #02303F;
$c-hirely-blue: #3088BC;
$c-hirely-dark-gray: #363636;
$c-hirely-mid-gray: #444444;
$c-hirely-text-gray: #ccc;
$c-hirely-light-gray: #dfdfdf;
$c-hirely-purple: #792cab;
$c-hirely-green: rgba(177, 205, 78, 1);
$c-hirely-yellow: #ffec00;
// $c-hirely-pu: #ffec00;
$c-white:#fff;
