<div class="master-wrapper" ng-controller="MasterCtrl">
    <nav id="mobile-nav" ng-class="userType">
        <header class="hi-header" ng-class="{'logged-in-header':isUserLoggedIn}">
            <!--<a class="logo pull-left" ui-sref="app.home">-->
            <a class="logo pull-left" href="http://hirely.us">
                <img src="img/hirely_logo_small.png" alt="Hirely"/>
            </a><!--//logo-->

            <div class="user pull-right">

                <div class="buttons" ng-show="!isUserLoggedIn">
                    <!--<button class="btn red" ui-sref="app.account.register">Register</button>-->
                    <button class="btn red" ui-sref="app.account.login">Login</button>
                </div>

                <div class="buttons" ng-show="isUserLoggedIn">
                    <button class="btn red" ui-sref="user.profile">Edit Profile</button>
                    <button class="btn red" ng-click="logout()">Logout</button>
                </div>

            </div>
        </header>

    </nav>
    <div class="wrapper" id="hirely-content">
        <div header></div>
        <div ui-view>

            <!--main content-->

        </div>
    </div>
    <div footer></div>
</div>