<div class="modal-login">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
                <h4 id="loginModalLabel" class="modal-title text-center">Reset Your Password</h4>
            </div>
            <div class="modal-body">
                <div>
                    <i class="fa fa-alert-icon"></i>
                </div>
                <div class="login-form-container">
                    <uib-alert type="success" ng-show="success">Password reset email sent successfully!</uib-alert>
                    <form class="login-form" name="passwordForm" ng-submit="passwordReset()">
                        <div class="form-group email">
                            <label class="sr-only" for="loginEmail">Your email</label>
                            <input id="loginEmail" name="loginEmail" type="email" class="form-control login-email" placeholder="Your email" required ng-model="email">
                            <div role="alert">
                              <span class="error" ng-show="passwordForm.loginEmail.$error.required && !passwordForm.loginEmail.$pristine">
                                Email is required</span>
                              <span class="error" ng-show="passwordForm.loginEmail.$error.email">
                                Invalid email format</span>
                                <span class="error" ng-show="errorMsg">
                                The specified user does not exist</span>
                            </div>
                        </div><!--//form-group-->

                        <button type="submit" class="btn btn-block btn-cta-primary" ng-disabled="!passwordForm.$valid">Resset Password</button>

                    </form>
                </div><!--//login-form-container-->
            </div><!--//modal-body-->

</div><!--//modal-->