<div class="user-profile-basic hirely-form" ng-class="{waiting:ajaxBusy}">
    <div class="in-form-loader">
        <div class="form-loader">
            <div class="loader"></div>
        </div>
    </div>
    <ng-form class="form-horizontal" name="loginForm" novalidate>
        <fieldset>

            <div class="row">
                <div class="col-sm-12">
                    <div class="field-wrapper" ng-class="{'error': !loginForm.email.$valid && loginForm.email.$dirty, 'valid' : loginForm.email.$valid}">
                        <label for="email">
                            Email
                            <span class="fa fa-check feedback-valid"></span>
                            <span class="fa fa-close feedback-error"></span>
                        </label>
                        <input type="text" class="text-field" id="email" name="email" ng-model="user.email"
                            placeholder=""
                            required
                        />
                        <!-- <input type="text" /> -->
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="field-wrapper"  ng-class="{'error': !loginForm.password.$valid && loginForm.password.$dirty, 'valid' : loginForm.password.$valid}">
                        <label for="password">
                            Password
                            <span class="fa fa-check feedback-valid"></span>
                            <span class="fa fa-close feedback-error"></span>
                        </label>
                        <input type="password" class="text-field" name="upassword" id="password"
                            ng-model="user.password"
                            placeholder=""
                            required
                        />
                    </div>
                </div>
                <div class="col-sm-12 no-col-padding" ng-show="loginForm.password.$error.invalidPassword">
                    <div class="bg-danger error-label">Password should be between 6 and 12 characters</div>
                </div>
                <div class="col-sm-12 no-col-padding" ng-show="loginError">
                    <div class="bg-danger error-label">Your email or password is not correct</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="copy-section text-center">
                        <p>New to Hirely? <a href="javascript:void(0);" ng-click="showRegister()">Reigster now</a></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="copy-section text-center">
                        <p>Forgot your password? <a href="javascript:void(0);" ng-click="showForgotPassword()">Reset password</a></p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="field-wrapper text-center">
                        <button class="btn btn-lg red" ng-disabled="!loginForm.$valid" ng-click="PasswordLogin()">Login</button>
                    </div>
                </div>
            </div>



        </fieldset>
    </ng-form>
</div>