<div class="user-profile-basic hirely-form" ng-class="{waiting:ajaxBusy}">
    <div class="in-form-loader">
        <div class="form-loader">
            <div class="loader"></div>
        </div>
    </div>

    <ng-form class="form-horizontal" name="resetForm" novalidate>
        <fieldset>

            <div class="row">
                <div class="col-sm-12">
                    <div class="field-wrapper" ng-class="{'error': !resetForm.email.$valid && resetForm.email.$dirty, 'valid' : resetForm.email.$valid}">
                        <label for="email">
                            Email
                            <span class="fa fa-check feedback-valid"></span>
                            <span class="fa fa-close feedback-error"></span>
                        </label>
                        <input type="email" class="text-field" id="email" name="email"
                            ng-model="user.email"
                            placeholder="Your email"
                            ng-change="restErrors()"
                            required
                        />
                        <!-- <input type="text" /> -->
                    </div>
                </div>
                <div class="col-sm-12 no-col-padding" ng-show="errorMsg">
                    <div class="bg-danger error-label">The specified user does not exist</div>
                </div>

                <div class="col-sm-12 no-col-padding" ng-show="success">
                    <div class="bg-success error-label">Password reset email sent successfully to your mail box!</div>
                </div>
            </div>



            <div class="row" ng-hide="success">
                <div class="col-sm-12">
                    <div class="field-wrapper text-center">
                        <button class="btn btn-lg red" ng-disabled="!resetForm.$valid" ng-click="passwordReset()">Reset Password</button>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="success">
                <div class="col-sm-12">
                    <div class="field-wrapper text-center">
                        <button class="btn btn-link" ng-click="cancelClick()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="success">
                <div class="col-sm-12">
                    <div class="field-wrapper text-center">
                        <button class="btn btn-lg red" ng-click="cancelClick()">Back To Login</button>
                    </div>
                </div>
            </div>

        </fieldset>
    </ng-form>
</div>