<div class="modal-signup" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.CloseModal()">&times;</button>
        <h4 id="signupModalLabel" class="modal-title text-center">Want to Join hirely? Sign up now.</h4>
        <p class="intro text-center">It only takes 3 minutes!</p>
        <p></p>
    </div>
    <div class="modal-body">
        <div class="social-login text-center">
            <ul class="list-unstyled social-login">
                <li><button class="facebook-btn btn" type="button" ng-click="vm.FbRegister()"><i class="fa fa-facebook"></i>Sign up with Facebook</button></li>
                <li><button class="twitter-btn btn" type="button"><i class="fa fa-twitter"></i>Sign up with Twitter</button></li>
                <li><button class="google-btn btn" type="button" ng-click="vm.GoogleRegister()"><i class="fa fa-google-plus"></i>Sign up with Google</button></li>
            </ul>
        </div>
        <div class="divider"><span>Or</span></div>
        <div class="login-form-container">
            <form name="loginForm" class="login-form" ng-submit="vm.registerNewUser()">
                <div class="form-group email">
                    <label class="sr-only" for="signupfirstName">First Name</label>
                    <input id="signupfirstName" name="signupfirstName" type="text" class="form-control login-email" required placeholder="First Name" ng-model="user.firstName">
                    <div role="alert">
                          <span class="error" ng-show="loginForm.signupfirstName.$error.required && !loginForm.signupfirstName.$pristine">
                            First Name is required</span>
                    </div>
                 </div><!--//form-group-->
                <div class="form-group email">
                    <label class="sr-only" for="signuplastName">last Name</label>
                    <input id="signuplastName" name="signuplastName" type="text" class="form-control login-email" required placeholder="Last Name" ng-model="user.lastName">
                    <div role="alert">
                          <span class="error" ng-show="loginForm.signuplastName.$error.required && !loginForm.signuplastName.$pristine">
                            Last Name is required</span>
                    </div>
                </div><!--//form-group-->
                <div class="form-group email">
                    <label class="sr-only" for="signupEmail">Your email</label>
                    <input id="signupEmail" name="signupEmail" type="email" class="form-control login-email" required placeholder="Your email" ng-model="user.email">
                    <div role="alert">
                      <span class="error" ng-show="loginForm.signupEmail.$error.required && !loginForm.signupEmail.$pristine">
                        Email is required</span>
                      <span class="error" ng-show="loginForm.signupEmail.$error.email">
                        Invalid email format</span>
                    </div>
                </div><!--//form-group-->
                <div class="form-group password">
                    <label class="sr-only" for="signupPassword">Your password</label>
                    <input id="signupPassword" name="signupPassword" type="password" class="form-control login-password" ng-minlength="6" ng-maxlength="12"
                           required placeholder="Password" ng-model="user.password">
                    <div role="alert">
                      <span class="error" ng-show="loginForm.signupPassword.$error.required  && !loginForm.signupPassword.$pristine">
                        Password is required</span>
                      <span class="error" ng-show="loginForm.signupPassword.$error.minlength || loginForm.signupPassword.$error.maxlength">
                        Password should be between 6 and 12 characters</span>
                    </div>
                </div><!--//form-group-->
                <button type="submit" class="btn btn-block btn-cta-primary" ng-disabled="!loginForm.$valid">Sign up</button>
                <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
            </form>
        </div><!--//login-form-container-->
    </div><!--//modal-body-->
    <div class="modal-footer">
        <p>Already have an account? <a class="login-link" id="login-link" href="javascript:;" ng-click="vm.goToLogin($event)">Log in</a></p>
    </div><!--//modal-footer-->
</div><!--//modal-content-->