# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

hirelyApp/node_modules/
hirelyApp/platforms/
hirelyApp/plugins/
hirelyApp/dist/
hirelyApp/lib/
hirelyApp/tmp/
hirelyApp/deploy/
.idea