# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

hirely-app/builds
hirely-app/node_modules/
hirely-app/platforms/
hirely-app/plugins/
hirely-app/dist/
hirely-app/lib/
hirely-app/tmp/
hirely-app/deploy/
.idea

*.log