<div class="form-loader" ng-show="!dataLoaded">
    <p>Loadding</p>
    <div class="loader"></div>
</div>
<div class="content" ng-show="dataLoaded && !dataError && !isAuth">
    <div class="row">
        <div class="col-sm-12 text-center" ng-show="!appWorkflow">
            <h4>
                <span ng-show="registerFrom">Create a Hirely account</span>
                <span ng-show="loginForm">Login to Hirely</span>
                to apply for "{{position.title}}" at {{business.name}}</h4>
        </div>
    </div>
    <div class="inner">
        <div ng-if="!isAuth && !dataError && registerFrom" register-form></div>
        <div ng-if="!isAuth && !dataError && loginForm" login-form></div>
        <div ng-if="!isAuth && !dataError && passwordForm" reset-password-form></div>
    </div>
</div>

<div class="content" ng-show="dataLoaded && dataError">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
            <h4>Position Not Found!</h4>
        </div>
    </div>
</div>

<section class="profile" ng-if="dataLoaded && isAuth">
    <multi-step-container steps="steps" class="simple-prev-next" initial-step="setInitialStep()">
    <header>
            <div class="row">
                <div class="col-xs-12">
                    <div class="steps">
                        <ul>
                            <li ng-class="{'active' : $getActiveIndex(step)==1}" ng-if="!($getActiveIndex(step)-1>=2)"><a href="javascript:void(0);">Basics</a></li>
                            <li ng-class="{'active' : $getActiveIndex(step)==2}" ng-if="!($getActiveIndex(step)-1>=3 || $getActiveIndex(step)+1<=1)"><a href="javascript:void(0);">Experience</a></li>
                            <li ng-class="{'active' : $getActiveIndex(step)==3}" ng-if="!($getActiveIndex(step)-1>=4 || $getActiveIndex(step)+1<=2)"><a href="javascript:void(0);">Education</a></li>
                            <li ng-class="{'active' : $getActiveIndex(step)==4}" ng-if="!($getActiveIndex(step)-1>=5 || $getActiveIndex(step)+1<=3)"><a href="javascript:void(0);">Personality</a></li>
                            <li ng-class="{'active' : $getActiveIndex(step)==5}" ng-if="!($getActiveIndex(step)-1>=6 || $getActiveIndex(step)+1<=4)"><a href="javascript:void(0);">Avilability</a></li>
                            <li ng-class="{'active' : $getActiveIndex(step)==6}" ng-if="!($getActiveIndex(step)-1>=7 || $getActiveIndex(step)+1<=5)"><a href="javascript:void(0);">Pre-Screen</a></li>
                        </ul>
                    </div>
                </div><!--col-xs-->
            </div><!--row-->
    </header>

    <main step-container></main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="left">
                        <button ng-hide="$isFirst()" ng-click="$previousStep()" class="btn back">
                            <span ng-hide="!jobApplication.isNewUser && $getActiveIndex(step) == 6">Back</span>
                            <span ng-show="!jobApplication.isNewUser && $getActiveIndex(step) == 6">Edit Profile</span>
                        </button>
                    </div>
                </div><!--col-sm-3-->
                <div class="col-xs-6">
                    <div class="center">
                        <div class="red">{{100 * ($getActiveIndex(step)-1) / steps.length | numberRound}}% Completed</div>
                        <div class="progress-bar"><span style="width:{{100 * ($getActiveIndex(step)-1) / steps.length}}%;">&nbsp;</span></div>
                        <div class="text-center">Powerd by <a href="javascript:void(0);"><i>Hirely</i></a></div>
                    </div>
                </div><!--col-sm-6-->
                <div class="col-xs-3">
                    <div class="right">
                        <button class="btn next" ng-hide="$isLast()" ng-click="$nextStep()" ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)">Next</button>
                        <button class="btn next" ng-hide="!$isLast()" ng-click="finish()">Finish</button>
                    </div>
                </div><!--col-sm-3-->
            </div><!--row-->
        </div>
    </footer>

    </multi-step-container>
</section>