<header id="header" class="header">
    <div class="container" ng-controller="HeaderCtrl as vm">
        <h1 ng-href="#" class="logo pull-left">
            <a href="index.html">
                <span class="logo-title">hirely</span>
            </a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item" ><a href="#">Start Hiring</a></li>
                    <li class="nav-item" ng-show="currentUser"><a href="#">
                        <div class="sign-in-divider"></div>
                        Hello User</a></li>
                    <li class="nav-item" ng-show="!currentUser"><a ng-click="vm.login()">
                        <div class="sign-in-divider"></div>
                        Log in</a></li>

                    <li class="nav-item nav-item-cta last" ng-show="!currentUser"><button type="button" class="btn btn-blue btn-cta-blue" ng-click="vm.register()" >Get Started</button></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
        </div>
        </div>
    </header>