<footer class="footer">
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ 2015 All Rights Reserved | Privacy Policy </small>
                <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
                    <li><a target="_blank" href="https://twitter.com/onhirely" ><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/onhirely" ><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="" ><i class="fa fa-envelope"></i></a></li>

                </ul><!--//social-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->