
<!--=== Job Img ===-->

<div class="container-fluid" ng-controller="HMCompanyCtrl">
<div class="collapse navbar-collapse navbar-responsive-collapse">
  <div class="menu-container">
    <div class="job-img margin-bottom-80">
    <div class="container text-left"><h2>Company Name ... </h2><h4><a ng-click="vm.hmregister()">Edit Business</a></h4></div>
     <hr>
        <div class="job-img-inputs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="results" details="details" ng-model="results"  options="options" on-Place-Changed="getResults()" required placeholder="Search other Business Sites..."/>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        
                    </div>
               </div>
          </div>
      </div>

<!--=== End Job Img ===-->
<hr>
<div class="col-md-1">
</div>
<!--=== Content Part ===-->
<div class="col-md-10">
    <div class="job-search row">
            <div class="row" >
                <div class="col-sm-6 col-md-3 job-item" ng-repeat="company in companies | filter: HiringManager | filter: siteId ">
        
                    <div class="image-box style-2 margin-bottom-20 shadow bordered light-gray-bg text-center">
                        <div>
                        </div>
                        <div class="job-image img-responsive">
                        <img src="img/jobs/northsidesocial2_l.png" class="img-responsive" alt="">
                    </div>
                        <div class="body">
                            <a>
                                <div class="job-info">
                                    <div class="job-image img-responsive">
                                        <h4>{{company.type}}</h4><h6></h6>
                                    </div>

                                    <div class="job-info">
                                        <h3>{{company.name}}</h3>
                                        <h3>{{company.address.street1}}</h3>
                                        <h3>{{company.address.city}}, {{company.address.state}}, {{company.address.zipCode}}</h3></center>
                                    </div>
                                </div>
                            </a>

                    <div class="separator"></div>
                        <div class="row job-action"><h2>
                            <div class="col-xs-4 col-md-4">
                                <a>
                                    <i>2</i>
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a>
                                    <i>4</i>
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a>
                                    <i>75</i>
                                </a>
                            </div>
                        </div>
                        <div class="row job-action">
                            <div class="col-xs-4 col-md-4">
                                <a>
                                     <a ui-sref="app.hmPosition({siteId: position.siteId, positionId: position.positionId, placeId: placeId})"><i>Active Positions</i></a>
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a>
                                     <a ui-sref="app.hmPosition({siteId: position.siteId, positionId: position.positionId, placeId: placeId})"><i>Inactive Postions</i></a>
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a>
                                    <i>Applications</i>
                                </a>
                            </div>
                            </h2>
                        </div>
                    <div>
            </div>
          </div>
     </div>
 </div>
<div class="col-md-1">
</div>      

  </div>
   
</div>
</div>
</div>
</div>


<!-- End Tab v1 -->

