<div class="form-loader" ng-show="!stepTwoLoaded">
    <div class="loader"></div>
</div>

<div class="form-container user-profile-exp" ng-show="stepTwoLoaded">
    <div class="row">
        <div class="cards-wrapper">
            <div class="card" ng-repeat="eduItem in education">
                <h3>{{eduItem.institutionName}}</h3>
                <p>{{eduItem.programType}} - {{eduItem.degree}} </p>
                <p>
                    <span ng-show="eduItem.dateEndMonth.length">End Date: {{eduItem.dateEndMonth}}/{{eduItem.dateEndYear}} - </span>
                    <span>{{statusToStr(eduItem.status)}}</span>
                </p>
                <div class="btn-group">
                    <button class="btn blue" ng-click="editEducation($index)">EDIT</button>
                    <button class="btn red" ng-click="removeEducation($index)">REMOVE</button>
                </div>
            </div>
            <div class="card add-card">
                <div class="add-group">
                    <button class="btn btn-circle blue" ng-click="showEducation()">+</button>
                    <p>Add Education</p>
                </dvi>
            </dvi>
        </div><!--cards-wrapper-->
    </div><!--row-->
</div><!--user-profile-exp-->

<div class="form-overlay" ng-show="addEducationForm" id="expFormDiv">
    <header>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Education</h3>
                </div><!--col-xs-->
            </div><!--row-->
    </header>

    <div class="form-container user-profile-exp hirely-form" ng-show="stepTwoLoaded">
        <form name="stepTwoE" novalidate form-step-validity>
            <fieldset>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper" ng-class="{'error': !stepTwoE.programType.$valid && stepTwoE.programType.$dirty, 'valid' : stepTwoE.programType.$valid}">
                            <label for="programType">
                                Program Type
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <select class="" id="programType" name="programType"
                                ng-model="educationInstance.programType"
                                required>
                                <option></option>
                                <option ng-repeat="type in programTypes" value="{{type}}">{{type}}</option>
                            </select>
                            <span class="glyphicon glyphicon-menu-down"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper" ng-class="{'error': stepTwoE.institution.$error.required && stepTwoE.institution.$dirty, 'valid' : stepTwoE.institution.$valid}">
                            <label for="institution">
                                School
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <input type="text" class="text-field" id="institution" name="institution"
                                ng-model="educationInstance.institutionName"
                                required
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.educationCity.$valid && stepTwoE.educationCity.$dirty, 'valid' : stepTwoE.educationCity.$valid}">
                            <label for="educationCity">
                                City
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <input type="text" class="text-feild" id="educationCity" name="educationCity"
                                ng-model="educationInstance.city"
                                required
                            />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.educationState.$valid && stepTwoE.educationState.$dirty, 'valid' : stepTwoE.educationState.$valid}">
                            <label for="educationState">
                                State
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <select  class="form-control" id="educationState" name="educationState"
                                ng-model="educationInstance.state"
                                required
                            >
                                <option></option>
                                <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
                            </select>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper" ng-class="{'error': stepTwoE.degree.$error.required && stepTwoE.degree.$dirty, 'valid' : stepTwoE.degree.$valid}">
                            <label for="degree">
                                DEGREE OR CERTIFICATE
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <span class="info-label" ng-click="tipVisibility=!tipVisibility" uib-tooltip="Please provide the name or title of your degree or certificate. Example: GED or Bartending.">?</span>
                            <div ng-show="tipVisibility">Please provide the name or title of your degree or certificate. Example: GED or Bartending.</div>
                            <input type="text" class="text-feild" id="degree" name="degree"
                                ng-model="educationInstance.degree"
                                required
                            />
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.workDateStartM.$valid && stepTwoE.workDateStartM.$dirty, 'valid' : stepTwoE.workDateStartM.$valid}">
                            <label for="workDateStartM">
                                Start Month
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <select  class="option-field" id="workDateStartM" name="workDateStartM"
                                ng-model="occupation.dateStartMonth"
                                ng-maxlength="2"
                                required
                                validate-month
                            >

                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.workDateStartY.$valid && stepTwoE.workDateStartY.$dirty, 'valid' : stepTwoE.workDateStartY.$valid}">
                            <label for="workDateStartY">
                                Start Year
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <input type="tel" class="text-field" id="workDateStartY" name="workDateStartY"
                                placeholder="YYYY"
                                ng-model="occupation.dateStartYear"
                                ng-minlength="4"
                                ng-maxlenght="4"
                                required
                                validate-year
                            />
                        </div>
                    </div>
                    <div class="col-sm-12 no-col-padding">
                        <div class="bg-danger error-label" ng-show="stepTwoE.workDateStartY.$error.startDateConflict">Start date conflicting with one of previous entered experience dates</div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper" ng-class="{'error': !stepTwoE.status.$valid && stepTwoE.status.$dirty, 'valid' : stepTwoE.status.$valid}">
                            <label for="eduStatus">
                                Completion Status
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <select id="eduStatus" name="eduStatus" class="form-control" required
                                ng-model="educationInstance.status">
                                <option></option>
                                <option ng-repeat="s in statuss" value="{{s.val}}">{{s.text}}</option>
                            </select>
                            <span class="glyphicon glyphicon-menu-down"></span>

                        </div>
                    </div>
                </div>

                <div class="row" ng-show="educationInstance.status>0">
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.eduDateEndM.$valid && stepTwoE.eduDateEndM.$dirty, 'valid' : stepTwoE.eduDateEndM.$valid}">
                            <label for="eduDateEndM">
                                COMPLETION MONTH
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <select class="form-control" id="eduDateEndM" name="eduDateEndM"
                                ng-model="educationInstance.dateEndMonth"
                                ng-required="educationInstance.status>0"
                                validate-month
                            >
                                <!-- <option></option> -->
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field-wrapper"  ng-class="{'error': !stepTwoE.eduDateEndY.$valid && stepTwoE.eduDateEndY.$dirty, 'valid' : stepTwoE.eduDateEndY.$valid}">
                            <label for="eduDateEndY">
                                COMPLETION Year
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <input type="tel" class="text-feild" id="eduDateEndY" name="eduDateEndY"
                                maxlength="4"
                                ng-model="educationInstance.dateEndYear"
                                ng-required="educationInstance.status>0"
                                validate-year
                            />
                        </div>
                    </div>
                    <div class="col-sm-12 no-col-padding">
                        <div class="error-label bg-danger" ng-show="stepTwoE.eduDateEndY.$error.endDateConflict">End date conflicting with one of previous entered experience dates</div>
                        <div class="error-label bg-danger" ng-show="stepTwoE.eduDateEndY.$error.invalidEndDate">End date should be greater than start date</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper" ng-class="{'error': !stepTwoE.languagesSpoken.$valid && stepTwoE.languagesSpoken.$dirty, 'valid' : stepTwoE.languagesSpoken.$valid}">
                            <label>
                                Extra-Curricular Activities
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <div class="clearfix text-array-field extraCurricularDiv" ng-repeat="extraCurricular in extraCurricularObjs" name="extraCurricularDiv">
                                <input type="text" class="text-field text-array-field-input pull-left extraCurricular" name="extraCurricular" ng-model="extraCurricular.text" minlength="3" />
                                <button class="pull-right text-array-field-subtract" ng-click="rmAndFocusExtraCurricular($index)"><i class="fa fa-minus"></i></button>
                            </div>
                            <button class="btn text-array-field-add" ng-click="addAndFocusExtraCurricular()"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper text-center">
                            <button class="btn btn-lg red" ng-disabled="!stepTwoE.$valid" ng-click="addEducation()">SAVE</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper text-center" style="padding-top: 10px;">
                            <button class="btn btn-link" ng-click="cancelEducation()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="field-wrapper text-center" style="padding-top: 15px;">
                            <!--Powered by <a href="javascript:void(0);"><i>Hirely</i></a>-->
                            See a bug? <a href="mailto:support@hirely.io?subject=Feedback"><i>Please email us!</i></a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div><!--form-container-->
</div><!--form-overlay-->


