<div class="form-content">


    <!-- Education -->

        <legend class="text-center" ng-show="stepTwoLoaded">Education History</legend>
        <div class="row">
            <div class="col-md-9 xp-form">
                <div class="xp-item" ng-repeat="eduItem in eduItems">
                    <a href="JavaScript:;" class="delete text-danger" ng-click="removeEducation($index)"><i class="glyphicon glyphicon-remove"></i></a>

                    <h2 class="company">{{eduItem.institutionName}}</h2>

                    <h2 class="position">{{eduItem.degree}} / {{eduItem.programType}}</h2>

                    <p class="period" ng-class="{'bg-danger':eduItem.conflict}">{{eduItem.dateStartMonth}}/{{eduItem.dateStartYear}} - <span ng-show="eduItem.dateEnd">{{eduItem.dateEndMonth}}/{{eduItem.dateEndYear}}</span><span ng-show="!eduItem.dateEnd">Current</span></p>
                </div>

            </div>
        </div>

        <div class="row clearfix" ng-show="stepTwoLoaded">
            <div class="col-md-9 grid-center-within-parent text-center">
                <a class="btn btn-info" ng-click="addEducationForm = true; addEducationButton = false"
                   ng-show="!addEducationForm">
                    Add a New Education
                </a>
            </div>
        </div>

        <div class="row clearfix" ng-show="addEducationForm">
            <ng-form class="form-horizontal" name="stepTwoE" form-step-validity>
            <fieldset>


            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="institution" class="control-label">Instituation Name</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.institution.$error.required && stepTwoE.institution.$dirty, 'has-feedback has-success' : stepTwoE.institution.$valid}">
                            <input type="text" class="form-control" id="institution" name="institution"
                                ng-model="education.institutionName"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.institution.$error.required && stepTwoE.institution.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.institution.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="programType" class="control-label">Program Type</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.programType.$error.required && stepTwoE.programType.$dirty, 'has-feedback has-success' : stepTwoE.programType.$valid}">
                            <select class="form-control" id="programType" name="programType"
                                ng-model="education.programType"
                                required>
                                <option></option>
                                <option ng-repeat="type in programTypes" value="{{type}}">{{type}}</option>
                            </select>

                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.programType.$error.required && stepTwoE.programType.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.programType.$valid"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="degree" class="control-label">Degree or Certificate</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.degree.$error.required && stepTwoE.degree.$dirty, 'has-feedback has-success' : stepTwoE.degree.$valid}">
                            <input type="text" class="form-control" id="degree" name="degree"
                                ng-model="education.degree"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.degree.$error.required && stepTwoE.degree.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.degree.$valid"></span>
                        </div>
                    </div>
                </div>
             </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="educationCity" class="control-label">City</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.educationCity.$error.required && stepTwoE.educationCity.$dirty, 'has-feedback has-success' : stepTwoE.educationCity.$valid}">
                            <input type="text" class="form-control" id="educationCity" name="educationCity"
                                ng-model="education.city"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.educationCity.$error.required && stepTwoE.educationCity.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.educationCity.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="educationState" class="control-label">State</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.educationState.$error.required && stepTwoE.educationState.$dirty, 'has-feedback has-success' : stepTwoE.educationState.$valid}">
                            <select  class="form-control" id="educationState" name="educationState"
                                ng-model="education.state"
                                required
                            >
                                <option></option>
                                <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.educationState.$error.required && stepTwoE.educationState.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.educationState.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateStartM" class="control-label">Start Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateStartM.$dirty && (stepTwoE.eduDateStartM.$error.required || stepTwoE.eduDateStartM.$error.invalidMonth || stepTwoE.eduDateStartM.$error.startDateConflict) , 'has-feedback has-success' : stepTwoE.eduDateStartM.$valid}">
                            <!-- <input type="text" class="form-control" id="eduDateStartM" name="eduDateStartM"
                                ng-model="education.dateStartMonth"
                                required
                                validate-month
                            /> -->
                            <select class="form-control" id="eduDateStartM" name="eduDateStartM"
                                ng-model="education.dateStartMonth"
                                required
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateStartM.$dirty && (stepTwoE.eduDateStartM.$error.required || stepTwoE.eduDateStartM.$error.invalidMonth || stepTwoE.eduDateStartM.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateStartM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateStartY" class="control-label">Start Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateStartY.$dirty && (stepTwoE.eduDateStartY.$error.required || stepTwoE.eduDateStartY.$error.invalidYear || stepTwoE.eduDateStartY.$error.startDateConflict) , 'has-feedback has-success' : stepTwoE.eduDateStartY.$valid}">
                            <input type="text" class="form-control" id="eduDateStartY" name="eduDateStartY"
                                ng-model="education.dateStartYear"
                                required
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateStartY.$dirty && (stepTwoE.eduDateStartY.$error.required || stepTwoE.eduDateStartY.$error.invalidYear || stepTwoE.eduDateStartY.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateStartY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateStartY.$error.startDateConflict">Start date conflicting with one of previous entered education dates</div>
            </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="NO" data-on="YES">
                            <input type="checkbox" id="eduEnrolled" name="eduEnrolled" ng-model="education.currentlyEnrolled"/>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="eduEnrolled">I am currently enrolled</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450" ng-show="!education.currentlyEnrolled">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateEndM" class="control-label">End Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateEndM.$dirty && (stepTwoE.eduDateEndM.$error.required || stepTwoE.eduDateEndM.$error.invalidMonth || stepTwoE.eduDateEndM.$error.endDateConflict || stepTwoE.eduDateEndM.$error.invalidEndDate) , 'has-feedback has-success' : stepTwoE.eduDateEndM.$valid}">
                            <!-- <input type="text" class="form-control" id="eduDateEndM" name="eduDateEndM"
                                ng-model="education.dateEndMonth"
                                ng-required="!education.currentlyEnrolled"
                                validate-month
                            /> -->
                            <select class="form-control" id="eduDateEndM" name="eduDateEndM"
                                ng-model="education.dateEndMonth"
                                ng-required="!education.currentlyEnrolled"
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateEndM.$dirty && (stepTwoE.eduDateEndM.$error.required || stepTwoE.eduDateEndM.$error.invalidMonth || stepTwoE.eduDateEndM.$error.endDateConflict || stepTwoE.eduDateEndM.$error.invalidEndDate)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateEndM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateEndY" class="control-label">End Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateEndY.$dirty && (stepTwoE.eduDateEndY.$error.required || stepTwoE.eduDateEndY.$error.invalidYear || stepTwoE.eduDateEndY.$error.endDateConflict || stepTwoE.eduDateEndY.$error.invalidEndDate) , 'has-feedback has-success' : stepTwoE.eduDateEndY.$valid}">
                            <input type="text" class="form-control" id="eduDateEndY" name="eduDateEndY"
                                ng-model="education.dateEndYear"
                                ng-required="!education.currentlyEnrolled"
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateEndY.$dirty && (stepTwoE.eduDateEndY.$error.required || stepTwoE.eduDateEndY.$error.invalidYear || stepTwoE.eduDateEndY.$error.endDateConflict || stepTwoE.eduDateEndY.$error.invalidEndDate)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateEndY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateEndY.$error.endDateConflict">End date conflicting with one of previous entered education dates</div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateEndY.$error.invalidEndDate">End date should be greater than start date</div>
            </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="NO" data-on="YES">
                            <input type="checkbox" id="eduOnline" name="eduOnline" ng-model="education.isOnline"/>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="eduOnline">Is it online degree?</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix grid-center-within-parent max-width-450">
                <a class="btn btn-default" ng-click="addEducationForm = false; addEducationButton = true">
                    Cancel
                </a>

                <button class="btn btn-primary" ng-disabled="!stepTwoE.$valid" ng-click="addEducationForm = false; addEducationButton = true; addEducation()">
                    Save Education
                </button>
            </div>
        </fieldset>
    </ng-form>
        </div><!-- End Education -->
</div><!--form-content-->

