div.absolute1 {
    position: absolute;
    border: 200px;
    padding: 15px;
    top: 250px;
    left: 0;
    width: 400px;
    height: 50px;
    border: 3px;
}
div.absolute2 {
    position: absolute;
    border: 200px;
    padding: 15px;
    top: 270px;
    right: 0;
    width: 200px;
    height: 50px;
    border: 3px;
}
li {
    overflow: hidden;
}
.buttons, .owners {
    float: left;
}
.text {
    overflow: hidden;
    color: red;
    padding-left: 4px;
}
#comments_block {
   overflow-y: scroll;
   overflow-x: hidden;
   width: 1000px;
   height: 1560px;
}
.angular-google-map-container { 
  width: 1000px;
  height: 1560px;
}