<div class="form-loader" ng-show="!stepFourLoaded">
    <div class="loader"></div>
</div>
<div class="form-container user-profile-basic hirely-form" ng-show="stepFourLoaded">
    <form class="form-horizontal" name="stepFour" novalidate form-step-validity>
        <fieldset>
            <div class="row" ng-show="!isApplyEligible">
                <div class="col-sm-12 error-label bg-warning" style="margin:0">
                        <p>You Already Applied for this job! You may re-apply in {{daysUntilReapply}} days.  You're former pre-screen answers are below for reference.</p>
                </div>
            </div>
            <div class="row" ng-show="isApplyEligible">
                <div class="col-sm-12 text-center error-label bg-warning" style="margin:0">
                    <p>You've applied for this job but it's been long enough that we recommend you re-apply.  Your former answers have been pre-filled.</p>
                </div>
            </div>
            <div class="row" ng-repeat="q in application.prescreenAnswers">
                <div class="col-sm-12">
                    <div class="field-wrapper" ng-class="{'error': questionForm.question.$error.required && questionForm.question.$dirty, 'valid' : questionForm.question.$valid}">
                        <ng-form name="questionForm">
                            <label for="q_{{$index}}">
                                {{q.question}}
                                <span class="fa fa-check feedback-valid"></span>
                                <span class="fa fa-close feedback-error"></span>
                            </label>
                            <textarea ng-disabled="!isApplyEligible" class="text-field" name="question" id="q_{{$index}}" ng-model="q.answer" required></textarea>
                        </ng-form>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div><!--user-profile-pasics
