<div class="form-loader" ng-show="!stepThreeLoaded">
    <div class="loader"></div>
</div>

<div class="form-container user-profile-personality" ng-show="stepThreeLoaded">
    <form name="personalityForm" novalidate form-step-validity>
        <div class="row">
            <div class="col-sm-12">
                <!-- <div class="first-time text-center" ng-show="!resultsLoaded">
                    <h4>Help us make you shine by completing a 90 second personality assessment. It’s fast, we promise!</h4>
                    <button class="btn btn-large dark-gray" ng-click="showAssessment()">TAKE ASSESSMENT</button>
                    <div>&nbsp</div>
                </div>
                <div>&nbsp</div> -->


                <div class="assessment" ng-show="personalityExam">
                    <div class="personality-analysis" ng-show="stepThreeLoaded"></div>
                </div><!--assessment-->

                <div class="results text-center" ng-show="resultsLoaded">
                    <uib-accordion >
                        <uib-accordion-group heading="Personality Blend" is-open="status.isFirstOpen">
                            <div class="col-sm-12 personality-results" ng-show="stepThreeLoaded && traitifyResultLoaded"></div>
                        </uib-accordion-group>

                        <uib-accordion-group heading="Personality Breakdown">
                            <div class="col-sm-12 personality-types" ng-show="stepThreeLoaded && traitifyTypesLoaded"></div>
                        </uib-accordion-group>

                        <uib-accordion-group heading="Personality Traits">
                            <div class="col-sm-12 personality-traits" ng-show="stepThreeLoaded && traitifyTraitsLoaded"></div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>

                <div class="info">
                    <a href="javascript:void(0)" ng-show="personalityExam" ng-click="toggleInstructions()">?</a>
                    <div class="instructions" ng-show="true === showInstructions">
                        {{instructions}}
                    </div>
                </div>
            </div><!--col-->
        </div><!--row-->
    </form>
</div><!--user-profile-exp-->

