<form class="form-horizontal" name="stepOne" novalidate form-step-validity>
	<fieldset>
		<legend>Basic Profile Info</legend>
		<div class="form-content">

			<div class="form-loader" ng-show="!stepOneLoaded">
				<div class="loader"></div>
			</div>

			<div class="form-fields-wrapper" ng-show="stepOneLoaded">
				<div class="form-group">
					<label for="firstname" class="col-sm-3 control-label">First name
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.firstname.$error.required && stepOne.firstname.$dirty, 'has-feedback has-success' : stepOne.firstname.$valid}">
							<input type="text" class="form-control" id="firstname" name="firstname" ng-model="user.firstName" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.firstname.$error.required && stepOne.firstname.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.firstname.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Last name -->
				<div class="form-group">
					<label for="lastname" class="col-sm-3 control-label">Last name
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.lastname.$error.required && stepOne.lastname.$dirty, 'has-feedback has-success' : stepOne.lastname.$valid}">
							<input type="text" class="form-control" name="lastname" id="lastname" ng-model="user.lastName" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.lastname.$error.required && stepOne.lastname.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.lastname.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Email -->
				<div class="form-group">
					<label for="email" class="col-sm-3 control-label">Email
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.email.$error.required && stepOne.email.$dirty, 'has-feedback has-success' : stepOne.email.$valid}">
							<input type="email" class="form-control" name="email" id="email" ng-model="user.email" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.email.$error.required && stepOne.email.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.email.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Mobile -->
				<div class="form-group">
					<label for="mobile" class="col-sm-3 control-label">Mobile
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.mobile.$error.required && stepOne.mobile.$dirty, 'has-feedback has-success' : stepOne.mobile.$valid}">
							<input type="phone" class="form-control" name="mobile" id="mobile" ng-model="user.mobile" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.mobile.$error.required && stepOne.mobile.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.mobile.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Address -->
				<div class="form-group">
					<label for="address" class="col-sm-3 control-label">Address
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.address.$error.required && stepOne.address.$dirty, 'has-feedback has-success' : stepOne.address.$valid}">
							<input type="text" ng-model="user.address.formattedAddress" id="address" name="address" uib-typeahead="location as location.address for location in searchLocations($viewValue)" class="form-control txt-search" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
							typeahead-on-select="setAddress($item)" required>
							<div class="spinner" ng-show="loadingLocations">
								<div class="double-bounce1"></div>
								<div class="double-bounce2"></div>
							</div>
							<i class="fa fa-places-alert fa-exclamation-triangle" ng-show="noResults"></i>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.address.$error.required && stepOne.address.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.address.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Unit -->
				<div class="form-group">
					<label for="address-unit" class="col-sm-3 control-label">Apartment \ Unit
						<!-- <span class="required-field">*</span> -->
					</label>
					<div class="col-sm-5 col-md-3">
						<input type="text" class="form-control" id="address-unit" ng-model="user.address.unit">
					</div>
				</div>


				<!-- City -->
				<div class="form-group">
					<label for="address-city" class="col-sm-3 control-label">City
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.city.$error.required && stepOne.city.$dirty, 'has-feedback has-success' : stepOne.city.$valid}">
							<input type="text" class="form-control" name="city" id="address-city" ng-model="user.address.city" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.city.$error.required && stepOne.city.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.city.$valid"></span>
						</div>
					</div>
				</div>

				<!-- State -->
				<!-- Zipcode -->
				<div class="form-group">
					<label for="state" class="col-sm-3 control-label">State
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.state.$error.required && stepOne.state.$dirty, 'has-feedback has-success' : stepOne.state.$valid}">
							<input type="text" class="form-control" name="state" id="state" ng-model="user.address.state" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.state.$error.required && stepOne.state.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.state.$valid"></span>
						</div>
					</div>
				</div>

				<!-- Zipcode -->
				<div class="form-group">
					<label for="zipcode" class="col-sm-3 control-label">Zip Code
						<span class="required-field">*</span>
					</label>
					<div class="col-sm-9 col-md-6">
						<div ng-class="{'has-feedback has-error': stepOne.zipcode.$error.required && stepOne.zipcode.$dirty, 'has-feedback has-success' : stepOne.zipcode.$valid}">
							<input type="text" class="form-control" id="zipcode" name="zipcode" ng-model="user.address.zipCode" required>
							<span class="fa fa-close form-control-feedback" ng-show="stepOne.zipcode.$error.required && stepOne.zipcode.$dirty"></span>
							<span class="fa fa-check form-control-feedback" ng-show="stepOne.zipcode.$valid"></span>
						</div>
					</div>
				</div>

			</div>

		</div>
	</fieldset>
</form>
