<div class="modal-signup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.CloseModal()">&times;</button>
        <h4 id="signupModalLabel" class="modal-title text-center">Want to Join hirely? Sign up now.</h4>
        <p class="intro text-center">It only takes 3 minutes!</p>
        <p></p>
    </div>
    <div class="modal-body">
        <div class="social-login text-center">
            <ul class="list-unstyled social-login">
                <li><button class="facebook-btn btn" type="button" ng-click="vm.FbRegister()"><i class="fa fa-facebook"></i>Sign up with Facebook</button></li>
                <li><button class="twitter-btn btn" type="button"><i class="fa fa-twitter"></i>Sign up with Twitter</button></li>
                <li><button class="google-btn btn" type="button"><i class="fa fa-google-plus"></i>Sign up with Google</button></li>
            </ul>
        </div>
        <div class="divider"><span>Or</span></div>
        <div class="login-form-container">
            <form class="login-form">
                <div class="form-group email">
                    <label class="sr-only" for="signup-email">Your email</label>
                    <input id="signup-email" name="signup-email" type="email" class="form-control login-email" placeholder="Your email">
                </div><!--//form-group-->
                <div class="form-group password">
                    <label class="sr-only" for="signup-password">Your password</label>
                    <input id="signup-password" name="signup-password" type="password" class="form-control login-password" placeholder="Password">
                </div><!--//form-group-->
                <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
            </form>
        </div><!--//login-form-container-->
    </div><!--//modal-body-->
    <div class="modal-footer">
        <p>Already have an account? <a class="login-link" id="login-link" href="#">Log in</a></p>
    </div><!--//modal-footer-->
</div><!--//modal-content-->