<div class="form-content">
    <!-- Work Experience -->

        <legend>Work Experience</legend>


        <div class="form-loader clearfix" ng-show="!stepTwoLoaded" style="min-height: 200px;">
            <div class="loader"></div>
        </div>

        <div class="row" ng-show="stepTwoLoaded">
            <div class="col-md-9 xp-form">
                <div class="xp-item" ng-repeat="xpItem in xpItems">

                    <h2 class="company">{{xpItem.formattedAddress}} <a href="JavaScript:;" class="delete text-danger" ng-click="removeJobXp($index)"><i class="glyphicon glyphicon-remove"></i></a></h2>

                    <h2 class="position">{{xpItem.reportedJobName}}</h2>

                    <p class="period" ng-class="{'bg-danger':xpItem.conflict}">{{xpItem.dateStartMonth}}/{{xpItem.dateStartYear}} - <span ng-show="xpItem.dateEndMonth">{{xpItem.dateEndMonth}}/{{xpItem.dateEndYear}}</span><span ng-show="!xpItem.dateEndMonth">Current</span></p>

                    <p class="description">{{xpItem.accomplishments}}</p>


                </div>

            </div>
        </div>

        <div class="row" ng-show="stepTwoLoaded">
            <div class="col-md-9">
                <a class="btn btn-info" ng-click="addWorkXpForm = true; addWorkXpButton = false"
                   ng-show="!addWorkXpForm">
                    Add a New Experience
                </a>
            </div>
        </div>

        <div class="row" ng-show="addWorkXpForm">
            <form class="form-horizontal" name="stepTwo" form-step-validity>
                 <fieldset>
            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="company">Company Name</label>

                        <div ng-class="{'has-feedback has-error': stepTwo.company.$error.required && stepTwo.company.$dirty, 'has-feedback has-success' : stepTwo.company.$valid}">
                            <input type="text" id="company" name="company"
                                class="form-control txt-search"
                                ng-model="occupation.formattedAddress"
                                uib-typeahead="location as location.address for location in searchLocations($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-no-results="noResults"
                                typeahead-on-select="setAddress($item)"
                                required
                            />
                            <div class="spinner" ng-show="loadingLocations">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <i class="fa fa-places-alert fa-exclamation-triangle" ng-show="noResults"></i>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.company.$error.required && stepTwo.company.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.company.$valid"></span>
                        </div>


                        <!--<div class="has-feedback">-->
                            <!--<input type="text" class="form-control" id="inputWithRightIcon-2"-->
                                   <!--ng-model="company"/>-->
                        <!--</div>-->
                    </div>
                </div>


                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="position">Position</label>

                        <div ng-class="{'has-feedback has-error': stepTwo.position.$error.required && stepTwo.position.$dirty, 'has-feedback has-success' : stepTwo.position.$valid}">
                            <input type="text" id="position" name="position" class="form-control txt-search"
                                ng-model="occupation.reportedJobName"
                                uib-typeahead="position as position.reportedTitle for position in searchPosition($viewValue)"
                                typeahead-loading="loadingPositions"
                                typeahead-no-results="noResultsPos"
                                typeahead-on-select="setPosition($item)"
                                typeahead-popup-template-url="customPopupTemplate.html"
                                required
                            />

                            <div class="spinner" ng-show="loadingPositions">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <i class="fa fa-places-alert fa-exclamation-triangle" ng-show="noResultsPos"></i>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.position.$error.required && stepTwo.position.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.position.$valid"></span>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="customPopupTemplate.html">
              <div class="custom-popup-wrapper"
                 ng-style="{top: position().top+'px', left: position().left+'px'}"
                 style="display: block;"
                 ng-show="isOpen() && !moveInProgress"
                 aria-hidden="{{!isOpen()}}">
                <p class="message">select location from drop down.</p>

                <ul class="dropdown-menu" role="listbox">
                    <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                         role="option" id="{{::match.id}}">
                        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                        <ul>
                            <li ng-repeat="sub in match.model.occupations track by $index" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" id="{{$index}}">
                            <a href tabindex=\"-1\">{{sub.occupationTitle}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </script>
<style>
  .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }
  .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }
  .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
</style>
             <div class="col-md-9 clearfix" ng-show="positionSub">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                         <label class="control-label" for="workCity">Occupation</label>
                         <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.occupationSub.$error.required && stepTwo.occupationSub.$dirty, 'has-feedback has-success' : stepTwo.occupationSub.$valid}">
                            <select name="occupationSub" ng-options="item as item.occupationTitle for item in positionSub" ng-model="sub" ng-change="setPositionSub(item)"></select>
                        </div>
                    </div>
                </div>
             </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workCity">City</label>
                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workCity.$error.required && stepTwo.workCity.$dirty, 'has-feedback has-success' : stepTwo.workCity.$valid}">
                            <input type="text" class="form-control" id="workCity" name="workCity"
                                ng-model="occupation.city"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workState">State</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workState.$error.required && stepTwo.workState.$dirty, 'has-feedback has-success' : stepTwo.workState.$valid}">
                            <input type="text" class="form-control" id="workState" name="workState"
                               ng-model="occupation.state"
                               required
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateStartM">Start Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateStartM.$dirty && (stepTwo.workDateStartM.$error.required || stepTwo.workDateStartM.$error.invalidMonth || stepTwo.workDateStartM.$error.startDateConflict), 'has-feedback has-success' : stepTwo.workDateStartM.$valid}">
                            <input type="text" class="form-control" id="workDateStartM" name="workDateStartM"
                                ng-model="occupation.dateStartMonth"
                                ng-maxlength="2"
                                required
                                validate-month
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateStartY">Start Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateStartY.$dirty && (stepTwo.workDateStartY.$error.required || stepTwo.workDateStartY.$error.invalidYear || stepTwo.workDateStartY.$error.startDateConflict), 'has-feedback has-success' : stepTwo.workDateStartY.$valid}">
                            <input type="text" class="form-control" id="workDateStartY" name="workDateStartY"
                                ng-model="occupation.dateStartYear"
                                ng-minlength="4"
                                ng-maxlenght="4"
                                required
                                validate-year
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateStartY.$error.startDateConflict">Start date conflicting with one of previous entered experience dates</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="OFF" data-on="ON">
                            <input type="checkbox" id="workHere" name="workHere"
                                ng-model="occupation.currentlyHere"
                            />
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="workHere">I currently work here</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix" ng-if="!occupation.currentlyHere">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateEndM">End Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateEndM.$dirty && (stepTwo.workDateEndM.$error.invalidMonth || stepTwo.workDateEndM.$error.required || stepTwo.workDateEndM.$error.invalidEndDate || stepTwo.workDateEndM.$error.endDateConflict), 'has-feedback has-success' : stepTwo.workDateEndM.$valid}">
                            <input type="text" class="form-control" id="workDateEndM" name="workDateEndM"
                                ng-model="occupation.dateEndMonth"
                                ng-required="!occupation.currentlyHere"
                                validate-month
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateEndY">End Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateEndY.$dirty && (stepTwo.workDateEndY.$error.required || stepTwo.workDateEndY.$error.invalidYear || stepTwo.workDateEndY.$error.invalidEndDate || stepTwo.workDateEndY.$error.endDateConflict), 'has-feedback has-success' : stepTwo.workDateEndY.$valid}">
                            <input type="text" class="form-control" id="workDateEndY" name="workDateEndY"
                                ng-model="occupation.dateEndYear"
                                ng-required="!occupation.currentlyHere"
                                validate-year
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateEndY.$error.endDateConflict">End date conflicting with one of previous entered experience dates</div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateEndY.$error.invalidEndDate">End date should be greater than start date</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="accomplishments" class="control-label">Accomplishments</label>
                        <textarea class="form-control" id="accomplishments" name="accomplishments" cols="20" rows="3"
                            ng-model="occupation.accomplishments"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <a class="btn btn-default" ng-click="addWorkXpForm = false; addWorkXpButton = true">
                    Cancel
                </a>

                <button class="btn btn-primary" ng-disabled="!stepTwo.$valid" ng-click="addWorkXpForm = false; addWorkXpButton = true; addJobXp()">
                    Save Experience
                </button>
            </div>
        </fieldset>
        <form>
        </div><!--work-experienc-->



    <!-- End Work Experience -->

    <div class="section-separator"></div>

    <!-- Education -->

        <legend ng-show="stepTwoLoaded">Education History</legend>
        <!--
        <div class="row">
            <div class="col-md-9 xp-form">
                <div class="ed-item" ng-repeat="edItem in edItems">

                    <!--<h2 class="company">Commonwealth Bank</h2>-->
                    <!--<h2 class="position">Software Engineer</h2>-->
                    <!--<p class="period">August 2015 - Current (4 months) | Sydney Area</p>-->
                    <!--<p class="description">I’m currently based at Commonwealth Bank, working on a multi-tier enterprise project built-->
                    <!--using Java, Oracle, Teradata in the backend and custom built SPA vanilla JavaScript framework on-->
                    <!--the frontend.</p>


                    <h2 class="company">{{xpItem.company}}</h2>

                    <h2 class="position">{{xpItem.position}}</h2>

                    <p class="period">August 2015 - Current (4 months) | Sydney Area</p>

                    <p class="description">{{xpItem.description}}</p>
                </div>

            </div>
        </div>-->

        <div class="row" ng-show="stepTwoLoaded">
            <div class="col-md-9">
                <a class="btn btn-info" ng-click="addEducationForm = true; addEducationButton = false"
                   ng-show="!addEducationForm">
                    Add a New Education
                </a>
            </div>
        </div>

        <div class="row" ng-show="addEducationForm">
            <form class="form-horizontal" name="stepTwoE" form-step-validity>
            <fieldset>
            <div class="col-md-9">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-2" class="control-label">Program Type</label>

                        <div class="has-feedback">
                            <select class="form-control" id="inputWithRightIcon-2"
                                ng-model="program_type"
                                required
                            />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-9">
             <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-3" class="control-label">Instituation Name</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-3"
                                   ng-model="inst_name"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-9">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-2" class="control-label">Degree or Certificate</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-4"
                                   ng-model="degree"/>
                        </div>
                    </div>
                </div>
             </div>

            <div class="col-md-9">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-2" class="control-label">City</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-4"
                                   ng-model="city"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-3" class="control-label">State</label>

                        <div class="has-feedback">
                            <select  class="form-control" id="inputWithRightIcon-5"
                                   ng-model="state"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-2" class="control-label">Start Month</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-6"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-3" class="control-label">Start Year</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-7"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="OFF" data-on="ON">
                            <input type="checkbox" id="invoicesame" name="invoicesame" ng-model="currentlyHere"/>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="invoicesame">I am currently enrolled</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9" ng-if="!currentlyHere">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-2" class="control-label">End Month</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-9"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="inputWithRightIcon-3" class="control-label">End Year</label>

                        <div class="has-feedback">
                            <input type="text" class="form-control" id="inputWithRightIcon-10"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-md-9">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="inputTextarea-2" class="control-label">Accomplishments</label>
                        <textarea class="form-control" id="inputTextarea-2" cols="20" rows="3" ng-model="description"></textarea>
                    </div>
                </div>
            </div> -->

            <div class="col-md-9">
                <a class="btn btn-default" ng-click="addEducationForm = false; addEducationButton = true">
                    Cancel
                </a>

                <a class="btn btn-primary" ng-click="addEducationForm = false; addEducationButton = true; addEducation()">
                    Save Education
                </a>
            </div>
        </fieldset>
    </form>
        </div><!-- End Education -->
</div><!--form-content-->

