<div class="form-content">
    <!-- Work Experience -->

        <legend>Work Experience</legend>


        <div class="form-loader clearfix" ng-show="!stepTwoLoaded" style="min-height: 200px;">
            <div class="loader"></div>
        </div>

        <div class="row" ng-show="stepTwoLoaded">
            <div class="col-md-9 xp-form">
                <div class="xp-item" ng-repeat="xpItem in xpItems">

                    <h2 class="company">{{xpItem.formattedAddress}} <a href="JavaScript:;" class="delete text-danger" ng-click="removeJobXp($index)"><i class="glyphicon glyphicon-remove"></i></a></h2>

                    <h2 class="position">{{xpItem.reportedJobName}}</h2>

                    <p class="period" ng-class="{'bg-danger':xpItem.conflict}">{{xpItem.dateStartMonth}}/{{xpItem.dateStartYear}} - <span ng-show="xpItem.dateEndMonth">{{xpItem.dateEndMonth}}/{{xpItem.dateEndYear}}</span><span ng-show="!xpItem.dateEndMonth">Current</span></p>

                    <p class="description">{{xpItem.accomplishments}}</p>


                </div>

            </div>
        </div>

        <div class="row" ng-show="stepTwoLoaded">
            <div class="col-md-9">
                <a class="btn btn-info" ng-click="addWorkXpForm = true; addWorkXpButton = false"
                   ng-show="!addWorkXpForm">
                    Add a New Experience
                </a>
            </div>
        </div>

        <div class="row" ng-show="addWorkXpForm">
            <form class="form-horizontal" name="stepTwo" form-step-validity>
                 <fieldset>
            <div class="col-md-9 clearfix">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="company">Company Name</label>

                        <div ng-class="{'has-feedback has-error': stepTwo.company.$error.required && stepTwo.company.$dirty, 'has-feedback has-success' : stepTwo.company.$valid}">
                            <input type="text" id="company" name="company"
                                class="form-control txt-search"
                                ng-model="occupation.formattedAddress"
                                uib-typeahead="location as location.address for location in searchLocations($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-no-results="noResults"
                                typeahead-on-select="setAddress($item)"
                                required
                            />
                            <div class="spinner" ng-show="loadingLocations">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <i class="fa fa-places-alert fa-exclamation-triangle" ng-show="noResults"></i>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.company.$error.required && stepTwo.company.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.company.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="position">Position</label>

                        <div ng-class="{'has-feedback has-error': stepTwo.position.$dirty && (stepTwo.position.$error.required || stepTwo.position.$error.occupationRequired) , 'has-feedback has-success' : stepTwo.position.$valid}">
                            <input type="text" id="position" name="position" class="form-control txt-search"
                                ng-model="occupation.reportedJobName"
                                uib-typeahead="position as position.reportedTitle for position in searchPosition($viewValue)"
                                typeahead-loading="loadingPositions"
                                typeahead-no-results="noResultsPos"
                                typeahead-on-select="setPosition($item)"
                                required
                            />

                            <div class="spinner" ng-show="loadingPositions">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <i class="fa fa-places-alert fa-exclamation-triangle" ng-show="noResultsPos"></i>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.position.$error.required && stepTwo.position.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.position.$valid"></span>
                        </div>

                    </div>
                </div>
            </div>

             <div class="col-md-9 clearfix" ng-show="positionSub">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                         <label class="control-label" for="workCity">Occupation</label>
                         <div class="btn-group fullwidth" uib-dropdown keyboard-nav>
                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default fullwidth" uib-dropdown-toggle>
                                Select right occupation <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                <li role="menuitem" ng-repeat="sub in positionSub">
                                    <a href="javascript:;" ng-click="setPositionSub(sub)">{{sub.occupationTitle}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
             </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workCity">City</label>
                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workCity.$error.required && stepTwo.workCity.$dirty, 'has-feedback has-success' : stepTwo.workCity.$valid}">
                            <input type="text" class="form-control" id="workCity" name="workCity"
                                ng-model="occupation.city"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workCity.$error.required && stepTwo.workCity.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workCity.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workState">State</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workState.$error.required && stepTwo.workState.$dirty, 'has-feedback has-success' : stepTwo.workState.$valid}">
                            <input type="text" class="form-control" id="workState" name="workState"
                               ng-model="occupation.state"
                               required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workState.$error.required && stepTwo.workState.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workState.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateStartM">Start Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateStartM.$dirty && (stepTwo.workDateStartM.$error.required || stepTwo.workDateStartM.$error.invalidMonth || stepTwo.workDateStartM.$error.startDateConflict), 'has-feedback has-success' : stepTwo.workDateStartM.$valid}">
                            <!-- <input type="text" class="form-control" id="workDateStartM" name="workDateStartM"
                                ng-model="occupation.dateStartMonth"
                                ng-maxlength="2"
                                required
                                validate-month
                            /> -->
                            <select  class="form-control" id="workDateStartM" name="workDateStartM"
                                ng-model="occupation.dateStartMonth"
                                ng-maxlength="2"
                                required
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workDateStartM.$dirty && (stepTwo.workDateStartM.$error.required || stepTwo.workDateStartM.$error.invalidMonth || stepTwo.workDateStartM.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workDateStartM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateStartY">Start Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateStartY.$dirty && (stepTwo.workDateStartY.$error.required || stepTwo.workDateStartY.$error.invalidYear || stepTwo.workDateStartY.$error.startDateConflict), 'has-feedback has-success' : stepTwo.workDateStartY.$valid}">
                            <input type="text" class="form-control" id="workDateStartY" name="workDateStartY"
                                ng-model="occupation.dateStartYear"
                                ng-minlength="4"
                                ng-maxlenght="4"
                                required
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workDateStartY.$dirty && (stepTwo.workDateStartY.$error.required || stepTwo.workDateStartY.$error.invalidYear || stepTwo.workDateStartY.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workDateStartY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateStartY.$error.startDateConflict">Start date conflicting with one of previous entered experience dates</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="OFF" data-on="ON">
                            <input type="checkbox" id="workHere" name="workHere"
                                ng-model="occupation.currentlyHere"
                            />
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="workHere">I currently work here</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix" ng-show="!occupation.currentlyHere">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateEndM">End Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateEndM.$dirty && (stepTwo.workDateEndM.$error.invalidMonth || stepTwo.workDateEndM.$error.required || stepTwo.workDateEndM.$error.invalidEndDate || stepTwo.workDateEndM.$error.endDateConflict), 'has-feedback has-success' : stepTwo.workDateEndM.$valid}">
                            <!-- <input type="text" class="form-control" id="workDateEndM" name="workDateEndM"
                                ng-model="occupation.dateEndMonth"
                                ng-required="!occupation.currentlyHere"
                                validate-month
                            /> -->
                            <select type="text" class="form-control" id="workDateEndM" name="workDateEndM"
                                ng-model="occupation.dateEndMonth"
                                ng-required="!occupation.currentlyHere"
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workDateEndM.$dirty && (stepTwo.workDateEndM.$error.invalidMonth || stepTwo.workDateEndM.$error.required || stepTwo.workDateEndM.$error.invalidEndDate || stepTwo.workDateEndM.$error.endDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workDateEndM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label class="control-label" for="workDateEndY">End Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwo.workDateEndY.$dirty && (stepTwo.workDateEndY.$error.required || stepTwo.workDateEndY.$error.invalidYear || stepTwo.workDateEndY.$error.invalidEndDate || stepTwo.workDateEndY.$error.endDateConflict), 'has-feedback has-success' : stepTwo.workDateEndY.$valid}">
                            <input type="text" class="form-control" id="workDateEndY" name="workDateEndY"
                                ng-model="occupation.dateEndYear"
                                ng-required="!occupation.currentlyHere"
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwo.workDateEndY.$dirty && (stepTwo.workDateEndY.$error.required || stepTwo.workDateEndY.$error.invalidYear || stepTwo.workDateEndY.$error.invalidEndDate || stepTwo.workDateEndY.$error.endDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwo.workDateEndY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateEndY.$error.endDateConflict">End date conflicting with one of previous entered experience dates</div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwo.workDateEndY.$error.invalidEndDate">End date should be greater than start date</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="accomplishments" class="control-label">Accomplishments</label>
                        <textarea class="form-control" id="accomplishments" name="accomplishments" cols="20" rows="3"
                            ng-model="occupation.accomplishments"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <a class="btn btn-default" ng-click="addWorkXpForm = false; addWorkXpButton = true">
                    Cancel
                </a>

                <button class="btn btn-primary" ng-disabled="!stepTwo.$valid" ng-click="addWorkXpForm = false; addWorkXpButton = true; addJobXp()">
                    Save Experience
                </button>
            </div>
        </fieldset>
        <form>
        </div><!--work-experienc-->



    <!-- End Work Experience -->

    <div class="section-separator"></div>

    <!-- Education -->

        <legend ng-show="stepTwoLoaded">Education History</legend>
        <div class="row">
            <div class="col-md-9 xp-form">
                <div class="xp-item" ng-repeat="eduItem in eduItems">
                    <a href="JavaScript:;" class="delete text-danger" ng-click="removeEducation($index)"><i class="glyphicon glyphicon-remove"></i></a>

                    <h2 class="company">{{eduItem.institutionName}}</h2>

                    <h2 class="position">{{eduItem.degree}} / {{eduItem.programType}}</h2>

                    <p class="period" ng-class="{'bg-danger':eduItem.conflict}">{{eduItem.dateStartMonth}}/{{eduItem.dateStartYear}} - <span ng-show="eduItem.dateEnd">{{eduItem.dateEndMonth}}/{{eduItem.dateEndYear}}</span><span ng-show="!eduItem.dateEnd">Current</span></p>
                </div>

            </div>
        </div>

        <div class="row clearfix" ng-show="stepTwoLoaded">
            <div class="col-md-9">
                <a class="btn btn-info" ng-click="addEducationForm = true; addEducationButton = false"
                   ng-show="!addEducationForm">
                    Add a New Education
                </a>
            </div>
        </div>

        <div class="row clearfix" ng-show="addEducationForm">
            <ng-form class="form-horizontal" name="stepTwoE" form-step-validity>
            <fieldset>


            <div class="col-md-9 clearfix">
                <div class="col-xs-12">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="institution" class="control-label">Instituation Name</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.institution.$error.required && stepTwoE.institution.$dirty, 'has-feedback has-success' : stepTwoE.institution.$valid}">
                            <input type="text" class="form-control" id="institution" name="institution"
                                ng-model="education.institutionName"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.institution.$error.required && stepTwoE.institution.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.institution.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="programType" class="control-label">Program Type</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.programType.$error.required && stepTwoE.programType.$dirty, 'has-feedback has-success' : stepTwoE.programType.$valid}">
                            <select class="form-control" id="programType" name="programType"
                                ng-model="education.programType"
                                required>
                                <option></option>
                                <option ng-repeat="type in programTypes" value="{{type}}">{{type}}</option>
                            </select>

                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.programType.$error.required && stepTwoE.programType.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.programType.$valid"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="degree" class="control-label">Degree or Certificate</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.degree.$error.required && stepTwoE.degree.$dirty, 'has-feedback has-success' : stepTwoE.degree.$valid}">
                            <input type="text" class="form-control" id="degree" name="degree"
                                ng-model="education.degree"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.degree.$error.required && stepTwoE.degree.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.degree.$valid"></span>
                        </div>
                    </div>
                </div>
             </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="educationCity" class="control-label">City</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.educationCity.$error.required && stepTwoE.educationCity.$dirty, 'has-feedback has-success' : stepTwoE.educationCity.$valid}">
                            <input type="text" class="form-control" id="educationCity" name="educationCity"
                                ng-model="education.city"
                                required
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.educationCity.$error.required && stepTwoE.educationCity.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.educationCity.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="educationState" class="control-label">State</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.educationState.$error.required && stepTwoE.educationState.$dirty, 'has-feedback has-success' : stepTwoE.educationState.$valid}">
                            <select  class="form-control" id="educationState" name="educationState"
                                ng-model="education.state"
                                required
                            >
                                <option></option>
                                <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.educationState.$error.required && stepTwoE.educationState.$dirty"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.educationState.$valid"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateStartM" class="control-label">Start Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateStartM.$dirty && (stepTwoE.eduDateStartM.$error.required || stepTwoE.eduDateStartM.$error.invalidMonth || stepTwoE.eduDateStartM.$error.startDateConflict) , 'has-feedback has-success' : stepTwoE.eduDateStartM.$valid}">
                            <!-- <input type="text" class="form-control" id="eduDateStartM" name="eduDateStartM"
                                ng-model="education.dateStartMonth"
                                required
                                validate-month
                            /> -->
                            <select class="form-control" id="eduDateStartM" name="eduDateStartM"
                                ng-model="education.dateStartMonth"
                                required
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateStartM.$dirty && (stepTwoE.eduDateStartM.$error.required || stepTwoE.eduDateStartM.$error.invalidMonth || stepTwoE.eduDateStartM.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateStartM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateStartY" class="control-label">Start Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateStartY.$dirty && (stepTwoE.eduDateStartY.$error.required || stepTwoE.eduDateStartY.$error.invalidYear || stepTwoE.eduDateStartY.$error.startDateConflict) , 'has-feedback has-success' : stepTwoE.eduDateStartY.$valid}">
                            <input type="text" class="form-control" id="eduDateStartY" name="eduDateStartY"
                                ng-model="education.dateStartYear"
                                required
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateStartY.$dirty && (stepTwoE.eduDateStartY.$error.required || stepTwoE.eduDateStartY.$error.invalidYear || stepTwoE.eduDateStartY.$error.startDateConflict)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateStartY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateStartY.$error.startDateConflict">Start date conflicting with one of previous entered education dates</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="NO" data-on="YES">
                            <input type="checkbox" id="eduEnrolled" name="eduEnrolled" ng-model="education.currentlyEnrolled"/>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="eduEnrolled">I am currently enrolled</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix" ng-show="!education.currentlyEnrolled">
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateEndM" class="control-label">End Month</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateEndM.$dirty && (stepTwoE.eduDateEndM.$error.required || stepTwoE.eduDateEndM.$error.invalidMonth || stepTwoE.eduDateEndM.$error.endDateConflict || stepTwoE.eduDateEndM.$error.invalidEndDate) , 'has-feedback has-success' : stepTwoE.eduDateEndM.$valid}">
                            <!-- <input type="text" class="form-control" id="eduDateEndM" name="eduDateEndM"
                                ng-model="education.dateEndMonth"
                                ng-required="!education.currentlyEnrolled"
                                validate-month
                            /> -->
                            <select class="form-control" id="eduDateEndM" name="eduDateEndM"
                                ng-model="education.dateEndMonth"
                                ng-required="!education.currentlyEnrolled"
                                validate-month
                            >
                                <option></option>
                                <option ng-repeat="month in months" value="{{month.order}}">{{month.name}}</option>
                            </select>
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateEndM.$dirty && (stepTwoE.eduDateEndM.$error.required || stepTwoE.eduDateEndM.$error.invalidMonth || stepTwoE.eduDateEndM.$error.endDateConflict || stepTwoE.eduDateEndM.$error.invalidEndDate)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateEndM.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" style="margin-right: 0px;">
                        <label for="eduDateEndY" class="control-label">End Year</label>

                        <div class="has-feedback" ng-class="{'has-feedback has-error': stepTwoE.eduDateEndY.$dirty && (stepTwoE.eduDateEndY.$error.required || stepTwoE.eduDateEndY.$error.invalidYear || stepTwoE.eduDateEndY.$error.endDateConflict || stepTwoE.eduDateEndY.$error.invalidEndDate) , 'has-feedback has-success' : stepTwoE.eduDateEndY.$valid}">
                            <input type="text" class="form-control" id="eduDateEndY" name="eduDateEndY"
                                ng-model="education.dateEndYear"
                                ng-required="!education.currentlyEnrolled"
                                validate-year
                            />
                            <span class="fa fa-close form-control-feedback" ng-show="stepTwoE.eduDateEndY.$dirty && (stepTwoE.eduDateEndY.$error.required || stepTwoE.eduDateEndY.$error.invalidYear || stepTwoE.eduDateEndY.$error.endDateConflict || stepTwoE.eduDateEndY.$error.invalidEndDate)"></span>
                            <span class="fa fa-check form-control-feedback" ng-show="stepTwoE.eduDateEndY.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateEndY.$error.endDateConflict">End date conflicting with one of previous entered education dates</div>
                <div class="col-xs-12 bg-danger step-5-error-label" ng-show="stepTwoE.eduDateEndY.$error.invalidEndDate">End date should be greater than start date</div>
            </div>

            <div class="col-md-9 clearfix">
                <div class="form-group">
                    <div class="col-md-9 col-sm-12 checkbox">
                        <label class="custom-option toggle" data-off="NO" data-on="YES">
                            <input type="checkbox" id="eduOnline" name="eduOnline" ng-model="education.isOnline"/>
                            <span class="button-checkbox"></span>
                        </label>
                        <label for="eduOnline">Is it online degree?</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix">
                <a class="btn btn-default" ng-click="addEducationForm = false; addEducationButton = true">
                    Cancel
                </a>

                <button class="btn btn-primary" ng-disabled="!stepTwoE.$valid" ng-click="addEducationForm = false; addEducationButton = true; addEducation()">
                    Save Education
                </button>
            </div>
        </fieldset>
    </ng-form>
        </div><!-- End Education -->
</div><!--form-content-->

