/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .wrapper {
    min-height: inherit;
    margin-bottom: 0;
  }
  .wrapper:after {
    content: none;
  }
  .footer {
    height: auto;
    padding-bottom: 0;
  }
  .modal.modal-video .modal-dialog,
  .modal.modal-login .modal-dialog,
  .modal.modal-signup .modal-dialog,
  .modal.modal-resetpass .modal-dialog {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .promo .intro .title {
    font-size: 22px;
  }
  .promo .search .title {
    font-size: 42px;
  }
  .promo .intro .summary {
    font-size: 18px;
  }
  .signup .signup-form .form-group {
    width: 180px;
  }
  .signup .signup-form .form-control {
    font-size: 13px;
  }
  .why .benefits .item .icon .fa,
  .why .benefits .item .icon .pe-icon {
    margin-bottom: 30px;
  }
  .why .benefits .item .title {
    text-align: center;
  }
  .why .benefits .item .content p {
    text-align: center;
    padding: 15px;
  }
  .why .testimonials .item {
    padding: 15px;
  }
  .press {
    padding-bottom: 0;
  }
  .press li {
    margin-bottom: 30px;
  }
  .press li a img {
    max-width: 120px;
  }
  .press li.xs-break {
    clear: left;
  }
  .video {
    padding: 30px 0;
  }
  .video .control {
    position: static;
  }
  .footer-col {
    margin-bottom: 60px;
  }
  .footer .bottom-bar .copyright {
    margin-bottom: 15px;
  }
  .footer .bottom-bar .social li {
    float: left;
    margin-left: 0;
    margin-right: 10px;
  }
  .features-video {
    margin-bottom: 30px;
  }
  .features {
    padding: 30px 0;
  }
  .features .item {
    padding: 15px 0;
    margin-bottom: 0;
  }
  .features .item .content {
    padding: 30px;
  }
  .contact-main .item {
    margin-bottom: 15px;
  }
  .contact-main .item.last {
    margin-bottom: 60px;
  }
  .contact-main .item .item-inner {
    min-height: inherit;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .header .main-nav .nav .dropdown-menu {
    border: none;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    min-height: inherit;
    margin-bottom: 0;
  }
  .wrapper:after {
    content: none;
  }
  .footer {
    height: auto;
    padding-bottom: 0;
  }
  .footer .bottom-bar .social li {
    float: right;
  }
  .footer-col-inner {
    margin-bottom: 15px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .header h1.logo {
    float: none !important;
    text-align: center;
  }
  .main-nav {
    float: none !important;
  }
  .main-nav .navbar-collapse {
    float: none;
    text-align: center;
  }
  .main-nav .navbar-collapse .nav {
    margin: 0 auto;
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .why .benefits .item .icon .fa,
  .why .benefits .item .icon .pe-icon {
    margin-bottom: 30px;
  }
  .why .benefits .item {
    padding: 15px;
  }
  .why .testimonials .item {
    padding: 15px;
  }
  .press {
    padding-bottom: 0;
  }
  .press li {
    margin-bottom: 30px;
  }
  .press li a img {
    max-width: 140px;
  }
  .press li.break {
    clear: left;
  }
  .price-plan .item .heading .label {
    padding: 5px;
    right: 10px;
    font-size: 11px;
  }
  .contact-main .item {
    margin-bottom: 15px;
  }
  .contact-main .item.last {
    margin-bottom: 60px;
  }
  .contact-main .item .item-inner {
    min-height: inherit;
  }
  .video .summary {
    max-width: 320px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-fixed-top {
    position: fixed;
    top: 0;
  }
  .main-nav {
    float: right !important;
  }
  .header h1.logo {
    float: left !important;
    text-align: left;
  }
  .main-nav {
    float: right !important;
  }
  .main-nav .navbar-collapse {
    float: left;
    text-align: left;
  }
  .main-nav .navbar-collapse .nav {
    margin: inherit;
    float: left;
  }
  .press {
    padding-bottom: 30px;
  }
  .press li {
    margin-bottom: 0;
  }
  .press li.break {
    clear: none;
  }
  .press li a img {
    max-width: 160px;
  }
  .price-plan .item .heading .label {
    padding: 5px 10px;
    right: 15px;
    font-size: 12px;
  }
  .contact-main .item {
    margin-bottom: 30px;
  }
  .contact-main .item .item-inner {
    min-height: 300px;
  }
  .video .summary {
    max-width: 360px;
  }
  /* Sticky Footer */
  html,
  body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
    margin-bottom: 100px;
    /* equal to footer height */
  }
  .wrapper:after {
    content: "";
    display: block;
    height: 100px;
    /* must be the same height as footer */
  }
  .footer {
    height: 100px;
    /* must be the same height as footer */
  }
}
/* Large devices (large desktops, 1200px and up) */
.content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5px;
}
.grid {
  height: 50px;
}
.grid-heading {
  margin-bottom: 20px;
}
.grid-heading i {
  margin-right: 5px;
}
.search-form .btn-search {
  margin-left: 0px;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10501 !important;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.pac-container {
  z-index: 99999999;
}
.margin-top-40 {
  margin-top: 40px;
}
.next-button {
  padding-top: 40px;
  padding-bottom: 40px;
}
.light-gray-bg.shadow,
.light-gray-bg.shadow-narrow {
  background-color: #f5f5f5;
}
.shadow,
.shadow-narrow {
  position: relative;
  background-color: #fff;
}
.bordered {
  border-radius: 3px;
  border: 1px solid #cccccc;
}
.padding-20 {
  padding: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-clear {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
h3 + .separator,
h4 + .separator,
h5 + .separator {
  margin-top: 15px;
}
.separator {
  width: 100%;
  margin: 20px auto 15px;
  position: relative;
  height: 1px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  clear: both;
  background-color: #cccccc;
}
/* Candidate section */
.candidate {
  background: #f5f5f5;
}
.candidate .profile {
  /* Candidate Experience*/
  /*Candidate Avaialbility */
}
.candidate .profile .profile-pic {
  text-align: center;
  margin-bottom: 25px;
}
.candidate .profile .profile-pic img {
  height: 150px;
  width: 150px;
}
.candidate .profile .profile-pic a {
  left: 50%;
  bottom: 50%;
  margin-left: -65px;
  text-align: center;
  position: absolute;
  margin-bottom: 60px;
}
.candidate .profile .profile-pic .btn-cta-blue {
  display: block;
  margin: 0 auto;
}
.candidate .profile .layered-content {
  background: #fff;
}
.candidate .profile .candidate-content {
  background: #ededed;
  border: 1px solid #dce0e0;
  padding: 20px;
}
.candidate .profile .candidate-content .profile-nav {
  padding: 30px 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dce0e0;
}
.candidate .profile .user-profile {
  background-color: #fff;
  border: 1px solid #dce0e0;
  padding: 20px;
}
.candidate .profile .status-buttons a {
  color: #444444;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.candidate .profile .status-buttons a:hover {
  text-decoration: none;
  color: #cc2a0b;
}
.candidate .profile .status-buttons a .nav-number {
  color: #FFF;
  background: #002063;
  display: block;
  height: 50px;
  margin: 0 auto 10px;
  padding-top: 15px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
}
.candidate .profile .status-buttons a.active .nav-number {
  background: #e42f0c;
}
.candidate .profile .status-buttons a.active {
  color: #e42f0c;
}
.candidate .profile .user-experience {
  /*Timeline v2
------------------------------------*/
  /* The line */
  /* The date/time */
  /* Right content */
  /*
   .timeline-v2 > li .cbp_tmlabel img.big-thumb {
       width: 100%;
   }
   */
  /*
   .timeline-v2 > li .cbp_tmlabel img.small-thumb {
       width: 111px;
       height: auto;
   }
   */
  /* The icons */
  /* Example Media Queries */
}
.candidate .profile .user-experience .timeline-v2 {
  list-style: none;
  position: relative;
}
.candidate .profile .user-experience .timeline-v2 > li {
  position: relative;
  padding-bottom: 40px;
}
.candidate .profile .user-experience .timeline-v2:before {
  top: 0;
  bottom: 0;
  left: 34%;
  width: 5px;
  content: '';
  background: #f3f3f3;
  position: absolute;
  margin-left: -11px;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime {
  width: 40%;
  display: block;
  position: absolute;
  padding-right: 80px;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime span {
  top: 9px;
  display: block;
  text-align: left;
  position: relative;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime span:first-child {
  color: #444444;
  font-size: 14px;
  line-height: 1.5;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime span:last-child {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel {
  color: #444444;
  line-height: 1.4;
  clear: both;
  position: relative;
  /*border-radius: 5px;*/
  margin: 0 0 40px 35%;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel li {
  padding: 0;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel h2 {
  margin-top: 0px;
  font-size: 17px;
  padding: 0 0 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel h3 {
  margin-top: 0px;
  font-size: 14px;
  padding: 0 0 5px;
  margin-bottom: 10px;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel .text-left {
  float: left;
}
.candidate .profile .user-experience .timeline-v2 > li .cbp_tmicon {
  top: 22px;
  left: 31%;
  width: 10px;
  height: 10px;
  position: absolute;
  background: #e42f0c;
  margin: 0 0 0 -17px;
  box-shadow: 0 0 0 4px #f3f3f3;
  -webkit-font-smoothing: antialiased;
  border-radius: 50% !important;
}
@media screen and (max-width: 65.375em) {
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  .candidate .profile .user-experience .timeline-v2:before {
    display: none;
  }
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmtime span {
    text-align: left;
  }
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel {
    padding: 1em;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmlabel:after {
    left: 20px;
    top: -20px;
    right: auto;
    border-bottom-color: #f3f3f3;
    border-right-color: transparent;
  }
  .candidate .profile .user-experience .timeline-v2 > li .cbp_tmicon {
    left: auto;
    float: right;
    position: relative;
    margin: -55px 5px 0 0px;
  }
}
.candidate .profile .user-experience .edit-buttons a {
  padding: 0 10px;
  font-size: 14px;
}
.candidate .profile .user-experience .edit-buttons a span {
  padding: 0 10px 0 5px;
}
.candidate .profile .user-experience form {
  padding: 20px;
  background: #f5f5f5;
}
.candidate .profile .schedule {
  padding: 40px;
  text-align: center;
}
.candidate .profile .schedule .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.candidate .profile .tgl {
  display: none;
}
.candidate .profile .tgl,
.candidate .profile .tgl:after,
.candidate .profile .tgl:before,
.candidate .profile .tgl *,
.candidate .profile .tgl *:after,
.candidate .profile .tgl *:before,
.candidate .profile .tgl + .tgl-btn {
  box-sizing: border-box;
}
.candidate .profile .tgl::-moz-selection,
.candidate .profile .tgl:after::-moz-selection,
.candidate .profile .tgl:before::-moz-selection,
.candidate .profile .tgl *::-moz-selection,
.candidate .profile .tgl *:after::-moz-selection,
.candidate .profile .tgl *:before::-moz-selection,
.candidate .profile .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.candidate .profile .tgl::selection,
.candidate .profile .tgl:after::selection,
.candidate .profile .tgl:before::selection,
.candidate .profile .tgl *::selection,
.candidate .profile .tgl *:after::selection,
.candidate .profile .tgl *:before::selection,
.candidate .profile .tgl + .tgl-btn::selection {
  background: none;
}
.candidate .profile .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.candidate .profile .tgl + .tgl-btn:after,
.candidate .profile .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.candidate .profile .tgl + .tgl-btn:after {
  left: 0;
}
.candidate .profile .tgl + .tgl-btn:before {
  display: none;
}
.candidate .profile .tgl:checked + .tgl-btn:after {
  left: 50%;
}
.candidate .profile .tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
  perspective: 100px;
}
.candidate .profile .tgl-flip + .tgl-btn:after,
.candidate .profile .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.candidate .profile .tgl-flip + .tgl-btn:after {
  content: "\f185";
  font-family: FontAwesome;
  margin: auto;
  background: #e42f0c;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  border: solid 1px #555;
  border-radius: 50% !important;
}
.candidate .profile .tgl-flip + .tgl-btn:before {
  background: #cccccc;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  border: solid 1px #555;
  border-radius: 50% !important;
}
.candidate .profile .tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}
.candidate .profile .tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.candidate .profile .tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0;
  background: #3162a2;
}
.candidate .profile .tgl-btn {
  margin: auto;
}
.candidate .profile .tgl-flip + .tgl-btn-morning:before {
  font-family: FontAwesome;
  content: "\f185";
}
.candidate .profile .tgl-flip + .tgl-btn-morning:after {
  font-family: FontAwesome;
  content: "\f185";
}
.candidate .profile .tgl-flip + .tgl-btn-evening:before {
  font-family: FontAwesome;
  content: "\F186 ";
}
.candidate .profile .tgl-flip + .tgl-btn-evening:after {
  font-family: FontAwesome;
  content: "\F186";
}
.candidate .profile .tgl-flip + .tgl-btn-afternoon:before {
  font-family: FontAwesome;
  content: "\F042";
}
.candidate .profile .tgl-flip + .tgl-btn-afternoon:after {
  font-family: FontAwesome;
  content: "\F042 ";
}
.candidate .profile .tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}
/*Candidate Personality */
.personality .results,
.personality .personality-traits {
  margin: 20px;
}
.personality .personality-types {
  margin: 20px;
}
.personality .personality-traits {
  margin: 0;
}
.personality .personality-types-container-scroller {
  height: 140px !important;
  position: relative;
}
/* Job Filter */
.job-filter .panel-body {
  position: absolute;
  border: 1px solid #dddddd;
  background: #fff;
  width: 94%;
  z-index: 1000;
}
/*Job Search Results */
.job-search {
  padding: 20px;
}
.job-search .search-results {
  overflow-y: scroll;
}
.job-search .search-results-map {
  overflow: hidden;
}
.job-search .job-item .shadow *,
.job-search .job-item .shadow-narrow * {
  position: relative;
  z-index: 3;
}
.job-search .job-item .light-gray-bg.shadow-narrow:before,
.job-search .job-item .light-gray-bg.shadow:before {
  background-color: #fafafa;
}
.job-search .job-item .shadow-narrow:before,
.job-search .job-item .shadow:before {
  position: absolute;
  left: 0;
  height: 60%;
  bottom: 0;
  width: 100%;
  content: "";
  background-color: #fff;
  z-index: 2;
}
.job-search .job-item .job-image {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}
.job-search .job-item .job-image img {
  width: 100%;
  height: auto;
}
.job-search .job-item .job-image .panel-overlay-job-image {
  bottom: 20px;
  left: 0;
  padding: 7px 10px;
  background-color: rgba(60, 63, 64, 0.9);
  color: #fff;
  position: absolute;
  text-decoration: none;
  font-weight: bold;
}
.job-search .job-item .job-image .panel-overlay-job-image .wage {
  font-size: 16px;
  color: #fff;
}
.job-search .job-item .job-action {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: #999999;
}
.job-search .job-item .job-action a {
  color: #002063;
  text-decoration: none;
}
.job-search .shadow-narrow:after,
.job-search .shadow:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 96%;
  left: 50%;
  bottom: 2px;
  margin-left: -48%;
  -webkit-box-shadow: 0 5px 7px #999;
  /* box-shadow: 0 5px 7px #999; */
  z-index: 1;
  border-radius: 10%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.job-search .body a {
  color: #444444;
}
.job-search .body a:hover {
  color: #5e5e5e;
}
.job-search .body .job-info {
  margin-left: 20px;
  margin-right: 20px;
}
.job-search .body .job-info h3,
.job-search .body .job-info h4,
.job-search .body .job-info h5,
.job-search .body .job-info h6 {
  line-height: .8;
  text-align: left;
}
.job-search .body .company-info {
  width: 100%;
  float: left;
}
.job-search .body .company-info h3 {
  float: left;
}
.job-search .body .company-info h4 {
  float: left;
}
.job-search .body .company-info h5 {
  float: left;
}
.job-search .body .company-info h6 {
  float: right;
}
/* Slider */
rzslider {
  margin: 40px 0 30px 0;
}
rzslider span.rz-pointer {
  background: #3162a2;
  top: -8px;
  height: 20px;
  width: 20px;
}
rzslider span.rz-pointer:after {
  top: 6px;
  left: 6px;
  height: 7px;
  width: 7px;
}
.map-window-site {
  width: 306px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid white;
}
.map-window-site .map-window-site-container {
  background-color: #ededed;
}
.map-window-site .map-window-site-container .map-window-site-img {
  float: left;
  width: 74px;
  height: 74px;
}
.map-window-site .map-window-site-container .map-window-site-body {
  float: left;
  padding-top: 6px;
  width: calc(70%);
}
.map-window-site .map-window-site-container .map-window-site-body h1 {
  font-size: 14px;
  margin: 0 0 0px 5px;
  display: inline-block;
  color: #e42f0c;
  font-weight: 700;
}
.map-window-site .map-window-site-container .map-window-site-body h3 {
  font-size: 12px;
  margin: 0 0 0px 5px;
  display: inline-block;
  color: #e42f0c;
}
.job-details {
  border: 1px solid #cccccc;
}
.job-details .job-img {
  min-height: 400px;
}
.job-details .job-img .bg-slider-wrapper {
  height: 400px;
}
.job-details .job-basics {
  padding-left: 40px;
}
.job-details .job-info {
  background-color: #f5f5f5;
}
.job-details .job-info .job-benefits {
  margin-top: -160px;
  width: 340px;
}
.job-details .job-info .job-benefits .job-wage {
  background-color: rgba(60, 63, 64, 0.9);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  text-transform: capitalize;
  z-index: 1001;
}
.job-details .job-info .job-benefits .job-info {
  border: 1px solid #cccccc;
  background: #fff;
  text-align: center;
  padding-top: 10px;
}
.job-details .job-info .job-benefits .job-info .job-apply {
  margin: 20px 0;
}
.job-details .job-info .job-benefits .job-info .job-apply a {
  width: 80%;
  border-radius: 0;
  margin: 0 auto;
}
.job-details .job-info .job-description .job-detail-row {
  margin: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.job-details .job-detail-right {
  background-color: #fff;
  border: 1px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.job-details .job-hiring-mgr {
  text-align: center;
}
.job-details .job-hiring-mgr img {
  height: 150px;
  width: 150px;
}
.job-details .job-detail-share ul {
  list-style-type: none;
}
.job-details .job-detail-share li {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.job-details .job-schedule .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.job-details .job-schedule .schedule-circle {
  height: 20px;
  width: 20px;
  display: block;
  border: 1px solid black;
  margin-left: 15px;
  border-radius: 20px;
}
.job-details .job-schedule .schedule-circle-yes {
  background-color: #3162a2;
}
.job-details .job-schedule .schedule-circle-no {
  background-color: #fff;
}
