<html ng-app="hirelyMap">
<head>
<meta charset="utf-8" />
<title></title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


<!-- CSS Page Style -->
<link href="css/blog_masonry_3col.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700'
    rel='stylesheet' type='text/css'>
    
<style>

.angular-google-map-container { 
  height: 600px;
   width: 1200px;
}
</style>

</head>
<!--=== Job Img ===-->
{{details.formatted_address}}  {{details.geometry.location.G}} {{details.geometry.location.K}}

<div class="collapse navbar-collapse navbar-responsive-collapse">
  <div class="menu-container">
    <div class="job-img margin-bottom-30">
         <div class="container text-center">
               <h2>Let Hirely help you find the Job you Need ...</h2>
        </div>
  <hr>
        <div class="job-img-inputs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 md-margin-bottom-10">
                      <div class="form-group" ng-controller="JobSearchCtrl">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input type="text" id="search" ng-model="selected" typeahead="job as job.Title for job in jobs | filter:{Lay_Title:$viewValue} | limitTo:15" class="form-control" ng-init="" placeholder="Find your next gig"> 
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="results" details="details" ng-model="results"  options="options" on-Place-Changed="getResults()" required placeholder="Search Jobs in other Cities!!"/>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="searchText" ng-model="searchText" googleplace placeholder="What Type of Job are you seeking??..." >
                  </div>
                 </div>
               </div>
       


  </div>
</div>

<!--=== End Job Img ===-->
<hr>
<!--=== Content Part ===-->

<div class="blog_masonry_3col">
  <div class="container content grid-boxes" ng-app="hirelyApp" ng-controller="JobCtrl" >
    <div class="col-md-4" ng-repeat="job in jobOpenings | orderBy:'orderBy'| filter:searchText | filter:selected | limitTo:9" >
     <div class="grid-boxes-in">
        <img class="img-responsive" src="{{job.Image}}" alt="" width="450" height="333">
        <div class="grid-boxes-caption">
           <h3><a href="#">{{job.Job_Title}}</a></h3>
           <h5 style="color:white"><a href="#">@ {{job.Company}}</a></h5>
           <ul class="list-inline grid-boxes-news">
           <li><span>{{job.Wage}} - <i class="fa fa-clock-o"> - {{job.Shifts}}</i></span></li> 
           <li>|</li>
             <li><a href="#">HM: {{job.Hiring_Manager}}</a></li>
             <li>|</li>
             <li>{{job.Location}}</li>
             <li>|</li>
             <li><a href="#">@2015</a></li>
           </ul>
           <span>Job Details - </span>
           <input type="radio"
              value="{{job.UID}}"
              jobid="jobUID" 
              job="favorite"''
              ng-init="jobUID='{{job.UID}}'" ng-model='jobUID' ng-Click='setJobResults(jobUID)'>
       
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
  </div>
</div>  

</div><!--=== End Content Part ===-->
 
<div class="container">
<div class="row">
    Show Map: <input type="checkbox" text="Show / Hide Map" ng-model="map.show">
</div>
<div class="row" ng-if="map.show">
    <div ng-controller="mapController">
    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">
      <ui-gmap-markers 
        models="marker.id" 
        coords="marker.coords" 
        events="marker.events" 
        options="marker.options"
        icon="marker.options.icon"
        idkey="marker.id">
    </ui-gmap-markers>
      </ui-gmap-google-map>
  </div>
</div>
</div>
</div>

<!-- End Tab v1 -->

<!-- JS Global Compulsory -->

<script src="js/jquery-migrate.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="js/back-to-top.js"></script>
<script src="js/smoothScroll.js"></script>
<script src="js/jquery.masonry.min.js"></script>
<!-- JS Customization -->
<script src="js/custom.js"></script>
<script src="js/ng-map.min.js"></script>
<!-- JS Page Level -->
<script src="js/blog-masonry.js"></script>
<script src="//maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>
<script src="js/bapp.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
</body>

</html>