ul.dropdown-menu{
  position: absolute;
  width: 100%;
  text-align: left;
  padding: 0px;
  border-radius: 0px;
  margin-top: 0px;
  li a{
    font-weight: 300;
    padding: 3px 12px;
    strong{
      font-weight: 500;
    }
    &:hover, &:focus{
      text-decoration: none;
      color: #ffffff !important;
      background-color: $color !important;
    }
  }
  .active a{
    &, &:hover, &:focus{
      text-decoration: none;
      color: #ffffff !important;
      background-color: $color !important;
    }
  }
}




