files: 
"/etc/nginx/conf.d/http_redirect.conf":
  mode: "000644"
  owner: root
  group: root
  content: |
    LoadModule rewrite_module modules/mod_rewrite.so
    RewriteEngine On
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

container_commands:
  00_restartHttpd:
    command: service httpd restart
    ignoreErrors: true