commands:
  00_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  01_node_add_to_path:
    command: sudo rm /usr/bin/node &> /dev/null; sudo ln -s /opt/elasticbeanstalk/node-install/node-v5.6.0-linux-x64/bin/node /usr/bin/
  02_npm_add_to_path:
    command: sudo rm /usr/bin/npm &> /dev/null; sudo ln -s /opt/elasticbeanstalk/node-install/node-v5.6.0-linux-x64/bin/npm /usr/bin/
  03_npm_install_bower:
    command: sudo npm install -g bower &> /var/log/03_npm_install_npm_tools.log
  04_npm_add_bower_to_path:
    command: sudo rm /usr/bin/bower &> /dev/null; sudo ln -s /opt/elasticbeanstalk/node-install/node-v5.6.0-linux-x64/lib/node_modules/bower/bin/bower /usr/bin/
container_commands:
  00_bower_install:
    command: sudo bower install --allow-root