.section-frist{
  width:100%;
  height:100vh !important;
  display: table !important;
  padding-bottom: 70px;
}

.btn{
  border-radius: 0px !important;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  border-radius: 0px !important;
}

.opac{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.45);
  z-index: 100;
}


