<div class="candidate-details clearfix">
    <a href="javascript:void(0)" class="close" ng-click="closeModal()"><i class="icon glyphicon glyphicon-remove"></i></a>
    <!--f-->
    <article>
        <div class="hidden appId">{{application._id}}</div>
        <div class="hidden userId">{{application.userId}}</div>
        <div class="hidden posId">{{application.positionId}}</div>
        <div class="row">
            <div class="col-sm-12">
                <div id="left-column">

                    <div class="box" ng-show="!activeSection">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image">
                                    <div class="image-wrapper" ng-show="business.hideProfileImages || location.hideProfileImages || position.hideProfileImages">
                                        <img src="{{applicant.profileImageThumbURL || defaultImage}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="details">
                                    <h4>{{applicant.firstName}} {{applicant.lastName}}</h4>
                                    <div class="job">
                                        <span ng-if="applicant.workExperience.length < 1">No Experience Listed</span>
                                        <span ng-if="applicant.workExperience.length > 0">{{applicant.workCategories}} Experience</span>
                                    </div>

                                    <p class="status">
                                        {{position.title}} - <span class="{{statusLabelsHm[application.status+1] | lowercase}}">{{statusLabelsHm[application.status+1]}}</span>
                                    </p>
                                </div><!--details-->
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--box-->

                    <div class="box">
                        <div class="title" ng-class="{blue:application.status==2, red:application.status==6 || application.status==7, gray:application.status==1 || application.status==8, green:application.status ==3 ||application.status ==4||application.status ==5}">
                            <h5>Applicant Status: {{statusLabelsHm[application.status+1]}}</h5>
                        </div>

                        <div class="actions clearfix">
                            <div class="menu">
                                <div class="inner">

                                    <div ng-if="application.status == 1 && AuthService.isSuperUser">
                                        <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 5)" title="Dismiss" uib-tooltip="Dismiss"><i class="icon-thumb_down_icon"></i></a>
                                        <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 2)" title="Pass" uib-tooltip="Pass"><i class="icon-check_circle_icon"></i></a>
                                    </div>

                                    <div ng-if="application.status == 2">
                                        <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 5)" title="Dismiss" uib-tooltip="Dismiss"><i class="icon-thumb_down_icon"></i></a>
                                        <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 3)" title="Like" uib-tooltip="Like"><i class="icon-thumb_up_icon"></i></a>
                                    </div>

                                    <div ng-if="application.status == 3">
                                        <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 5)" title="Dismiss" uib-tooltip="Dismiss"><i class="icon-thumb_down_icon"></i></a>
                                        <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 4)" title="Hire" uib-tooltip="Hire"><i class="icon-dollar_sign_icon"></i></a>
                                    </div>

                                    <div ng-if="application.status == 4">
                                        <a class="green" href="javascript:void(0);" title="Hire" uib-tooltip="Hire"><i class="icon-dollar_sign_icon"></i></a>
                                    </div>

                                    <div ng-if="application.status == 5">
                                        <a class="red" title="Dismiss" uib-tooltip="Dismiss"><i class="icon-thumb_down_icon"></i></a>
                                    </div>


                                </div>
                            </div><!--menu-->
                        </div><!--actions-->
                    </div><!--box actions-->

                    <div class="box">
                        <div class="title blue">
                            <h5>Contact {{applicant.firstName}}</h5>
                        </div>
                        <div class="contacts">
                            <ul>
                                <li><a href="tel:{{applicants[detailsUserId].mobile}}"><i class="icon green glyphicon glyphicon-earphone"></i>{{formatPhoneNumber(applicants[detailsUserId].mobile)}}</a></li>
                                <li><a href="mailto:{{applicants[detailsUserId].email}}"><i class="icon blue glyphicon glyphicon-envelope"></i>{{applicants[detailsUserId].email}}</a></li>
                            </ul>
                        </div>
                    </div><!--box contact-->

                    <div class="arrows clearfix" style="padding-bottom:20px">
                        <button class="btn mid-gray pull-left" ng-click="preApplication()" ng-show="isModal" ng-disabled="detailsIndex === 0"><i class="icon glyphicon glyphicon-menu-left"></i></button>
                        <button class="btn mid-gray pull-right" ng-click="nextApplication()" ng-show="isModal" ng-disabled="detailsIndex >= filtered.length-1"><i class="icon glyphicon glyphicon-menu-right"></i></button>
                    </div><!--arrows-->

                    <div class="box" ng-repeat="im in position.interviewMaterials">
                        <a target="_blank" href="{{im.url}}">
                            <button class="btn mid-gray" style="width:100%">{{im.name}}</button>
                        </a>
                    </div><!--box interview materials-->

                    <div class="box">
                        <div class="title">
                            <h5>Pre-Screening</h5>
                        </div>
                        <div class="prescreen">
                            <ul>
                                <li ng-repeat="answer in application.prescreenAnswers">
                                    <b>{{answer.question}}</b>
                                    <p>
                                        {{answer.answer}}
                                    </p>
                                </li>
                            </ul>
                        </div><!--prescreen-->
                    </div><!--box pre-screen-->

                    <div class="box">
                        <div class="title">
                            <h5>Skills</h5>
                        </div>
                        <div class="skills clearfix">
                            <div class="score">
                                <div class="border" ng-class="getScoreColor(scores[applicant._id].scores[position.expLvl].exp)" ng-style="getScoreClip(scores[applicant._id].scores[position.expLvl].exp)"></div>
                                <div class="circle">{{scores[applicant._id].scores[position.expLvl].exp | number:0}}</div>
                            </div><!--score-->
                            <p class="score-title">Experience Match</p>
                            <div class="traits clearfix">
                                <h4>Candidate vs Key Position Skills</h4>
                                <div class="trait" ng-repeat="skill in occupationMetas.skillMetrics | limitTo : 6">
                                    <h5><span uib-tooltip="{{occupationMetas.descriptions[skill.sid].Description}}">{{skill.name}}</span></h5>
                                    <div class="scale">
                                        <div class="bar" style="width:{{ (100 * applicants[applicant._id].scores.Skills[skill.name] / 7 | number:0) || 0 }}%;">{{ (100 * applicants[detailsUserId].scores.Skills[skill.name] / 7 | number:0) || 0}}%</div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div><!--box skills-->

                    <div class="box">
                        <div class="title">
                            <h5>Personality <!-- <a href="javascript:void(0)" class="info">?</a> --></h5>
                        </div>
                        <div class="personality clearfix">
                            <!-- <div class="head">{{applicant.firstName}} is a <span class="{{applicant.personalityExams[0].personalityBlend.personalityTypes[0]._id}}">{{applicant.personalityExams[0].personalityBlend.personalityTypes[0]._id}}</span> &amp; <span class="{{applicant.personalityExams[0].personalityBlend.personalityTypes[1]._id}}">{{applicant.personalityExams[0].personalityBlend.personalityTypes[1]._id}}</span></div> -->
                            <div class="score">
                                <div class="border" ng-class="getScoreColor(scores[applicant._id].scores[position.expLvl].psy)" ng-style="getScoreClip(scores[applicant._id].scores[position.expLvl].psy)"></div>
                                <div class="circle">{{scores[applicant._id].scores[position.expLvl].psy | number:0}}</div>
                            </div><!--score-->
                            <div class="traits clearfix">
                                <div class="trait" ng-repeat="trait in occupationMetas.traitMetrics | limitTo : 6">
                                    <h5><span uib-tooltip="{{trait.description}}">{{trait.name}}</span></h5>
                                    <div class="scale">
                                        <div class="bar" style="width:{{getApplicantTraitScore(trait.name)}}%;">{{getApplicantTraitScore(trait.name)}}%</div>
                                    </div>
                                </div>

                            </div>
                            <div class="environment">
                                <div class="head"><h5>{{applicant.firstName}}'s ideal work environments</h5></div>
                                <ul>
                                    <li ng-repeat="env in personalityBlendMeta.meta.environments">{{env}}</li>
                                </ul>
                            </div>
                        </div>

                    </div><!--box personality-->

                    <div class="box">
                        <div class="title">
                            <h5>Availability</h5>
                        </div>
                        <div class="availability clearfix">
                            <div class="score">
                                <div class="border" ng-class="getScoreColor(applicants[detailsUserId].shiftsScore.availabilityScore)" ng-style="getScoreClip(applicants[detailsUserId].shiftsScore.availabilityScore)"></div>
                                <div class="circle">{{applicants[detailsUserId].shiftsScore.availabilityScore}}</div>
                            </div><!--score-->
                            <p class="score-title">Shift Match</p>

                            <div class="details">
                                <p>I'm available to start <span ng-show="daysUntilAvailable != 'Immediately'">in</span> <b>{{daysUntilAvailable}}</b> upon hire</p>
                                <p>Hours Per Week: <b>{{applicant.availability.hoursPerWeekMin}}</b> to <b>{{applicant.availability.hoursPerWeekMax}}</b></p>
                            </div>

                            <div class="shifts">
                                <h6>Candidate vs Shift</h6>
                                <div class="table">
                                    <div class="srow">
                                        <div class="td srow-label">&nbsp;</div>
                                        <div class="td srow-shift shift-title" ng-repeat="shift in position.shifts.mon">{{shift.label}}</div>
                                    </div>
                                    <div class="srow" ng-repeat="day in days">
                                        <div class="td srow-label">{{day}}</div>
                                        <div class="td srow-shift" ng-repeat="shift in applicants[detailsUserId].shiftsScore[day]" ng-class="{'shift-match':shift.match === true, 'shift-unmatch': shift.match === false}">
                                            {{hours[shift.tStart].label}}
                                            <span ng-if="shift.tStart || shift.tStart ==0">-</span>
                                            {{hours[shift.tEnd].label}}
                                            &nbsp;
                                        </div>
                                    </div>
                                    <!-- <div class="srow">
                                        <div class="td srow-label">Mon</div>
                                        <div class="td srow-shift shift-match">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift shift-unmatch">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Tue</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Wed</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Thu</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Fri</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Sat</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">Sun</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                        <div class="td srow-shift">12am-6am</div>
                                    </div>
                                    <div class="srow">
                                        <div class="td srow-label">&nbsp;</div>
                                        <div class="td srow-shift shift-no">&nbsp;</div>
                                        <div class="td srow-shift shift-match">Available</div>
                                        <div class="td srow-shift shift-unmatch">Unavailable</div>
                                        <div class="td srow-shift shift-no">&nbsp;</div>
                                    </div> -->
                                </div><!--table-->
                            </div><!--shifts-->
                        </div><!--availability-->

                    </div><!--box avail-->

                    <div class="box">
                        <div class="title">
                            <h5>Experience</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="work in applicant.workExperience">
                                    <div class="icon icon-{{getPositionIcon(work.occId, 'cssClass')}}" style="color:{{getPositionIcon(work.occId, 'iconColor')}}"></div>
                                    <div class="exp">
                                        <h6>{{work.reportedOccTitle}} <span>{{work.monthCount}}</span></h6>
                                        <div class="address"><p>{{work.formattedAddress}} - {{work.city}}, {{work.state}}</p></div>
                                        <div class="date">
                                            <p>{{work.dateStart | date : 'MMM yyyy'}} to <span ng-if="!work.dateEnd">Present</span><span ng-if="work.dateEnd">{{work.dateEnd | date : 'MMM yyyy'}}</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="applicant.workExperience.length < 1">No Experience Provided</div>
                        </div>
                    </div><!--box exp-->

                    <div class="box">
                        <div class="title">
                            <h5>Education</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="edu in applicant.education">

                                    <div class="exp">
                                        <h6>{{edu.institutionName}} <span>({{educationStatusLabels[edu.status]}})</span></h6>
                                        <div class="address">
                                            <p>
                                                {{edu.city}},
                                                {{edu.state}}
                                            </p>
                                        </div>
                                        <div class="address">
                                            <p>
                                                {{edu.degree}}
                                                <br>
                                                {{edu.programType}}
                                            </p>
                                        </div>
                                        <div class="address"></div>
                                        <div class="date">{{edu.dateEnd | date : 'MMM yyyy'}}</div>
                                        <div class="curriculars">
                                            <strong>Extra Curriculars</strong>
                                            <ul>
                                                <li ng-repeat="curr in edu.extraCurriculars">{{curr}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="applicant.education.length < 1">No Education Provided</div>
                        </div>
                    </div><!--box edu-->

                    <div class="box-activity">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="title">
                                    <h5>Activity</h5>
                                </div>

                                <div class="list">
                                    <ul>
                                        <li ng-repeat="act in detailsApp.history">
                                            <div class="details">
                                                <div class="icon" ng-class="activityColor(act)">
                                                    <i ng-class="{'icon-stop_triangle_icon':act.meta.toStatus==-1, 'icon-employeebadge_outline_icon':act.meta.toStatus==1, 'icon-check_circle_icon':act.meta.toStatus==2, 'icon-thumb_up_icon':act.meta.toStatus==3, 'icon-chat_icon':act.meta.toStatus==4, 'icon-dollar_sign_icon':act.meta.toStatus==5, 'icon-thumb_down_icon':act.meta.toStatus==6, 'icon-expired_icon':act.meta.toStatus==7, 'icon-hand_stop_icon':act.meta.toStatus==8 }"></i>
                                                </div>
                                                <div class="body">{{act.body}} by <b>{{act.userFirstName}} {{act.userLastName}}</b> on {{act.time | date:'MM/dd/yyyy'}} </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div ng-if="detailsApp.history.length < 1">No activity registered.</div>
                                </div><!--list-->

                            </div><!--col-->
                        </div><!--row-->
                    </div><!--box-activity-->

                </div><!--left-column-->
            </div><!--col-->

        </div><!--row-->
    </article>
</div><!--candidate-details