<div class="form-loader" ng-show="!dataLoaded">
    <p>Loading</p>
    <div class="loader"></div>
</div>

<div class="content" ng-show="dataLoaded && dataError">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
            <h4>{{dataError}}</h4>
        </div>
    </div>
</div>

<div class="sub-header" id="subHeader" ng-show="dataLoaded && !dataError">
    <div class="max-width clearfix">
        <div class="row">
            <div class="col-sm-12">

                <div class="status-bar">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul id="statusBtns">
                                <li><button class="btn" ng-class="{red:isFilterActive('prescreen'), white:!isFilterActive('prescreen'), active:isFilterActive('prescreen')}" ng-click="setFilter('prescreen')">Pre-Screen <span  ng-show="statistics.prescreen > 0">({{statistics.prescreen}})</span></button></li>
                                <li><button class="btn" ng-class="{red:isFilterActive('applied'), white:!isFilterActive('applied'), active:isFilterActive('applied')}" ng-click="setFilter('applied')">Applied <span  ng-show="statistics.applied > 0">({{statistics.applied}})</span></button></li>
                                <li><button class="btn" ng-class="{red:isFilterActive('liked'), white:!isFilterActive('liked'), active:isFilterActive('liked')}" ng-click="setFilter('liked')">Liked <span  ng-show="statistics.liked > 0">({{statistics.liked}})</span></button></li>
                                <li><button class="btn" ng-class="{red:isFilterActive('hired'), white:!isFilterActive('hired'), active:isFilterActive('hired')}" ng-click="setFilter('hired')">Hired <span  ng-show="statistics.hired > 0">({{statistics.hired}})</span></button></li>
                                <li><button class="btn" ng-class="{red:isFilterActive('dismissed'), white:!isFilterActive('dismissed'), active:isFilterActive('dismissed')}" ng-click="setFilter('dismissed')">Dismissed <span ng-show="statistics.dismissed > 0">({{statistics.dismissed}})</span></button></li>
                            </ul>
                            <a href="javascript:void(0)" class="drop" ng-click="toggleStatusMenu();"><i class="glyphicon glyphicon-menu-down"></i></a>
                        </div><!--col-->
                    </div><!--row-->
                </div><!--status-bar-->

                <div class="title">
                    <h2><a href="javascript:void(0);" ng-click="togglePositionMenu($event)">{{position.title}} - {{location.neighborhood}} <i class="icon glyphicon glyphicon-menu-down" ng-show="positionsList.length > 0"></i></a></h2>
                    <ul class="menu" ng-show="showPositionMenu">
                        <li class="active" ng-repeat="pos in positionsList">
                            <a href="javascript:void(0);" ng-click="changePosition(pos.slug)">
                                {{pos.title}} - {{location.neighborhood}}
                                <span>{{business.name}}, {{location.city}}</span>
                            </a>
                        </li>
                    </ul>
                </div><!--title-->

            </div><!--col-->
        </div><!--row-->
    </div><!--mac-width-->
</div><!--sub-header-->

<div class="content" ng-show="dataLoaded && !dataError">

    <!--No applications message-->
    <div class="max-width" ng-show="applications.length < 1">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="page-error">
                    <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
                    <h4 ng-show="isFilterActive('applied')">No applicants found for this stage with the current filters.</h4>
                    <h4 ng-show="!isFilterActive('applied')">No applicants found for this stage.</h4>
                </div>
            </div>
        </div>
    </div><!--max-width-->

    <div class="max-width" ng-show="applications.length > 0">


        <div class="body">
            <div class="row">
                <div class="col-sm-2 visible-sm-block visible-md-block visible-lg-block" ng-if="!isFilterActive('applied')">
                    &nbsp; <!--this column to center the list col when applied filter is not active-->
                </div>
                <div id="filtersList" class="col-sm-4 visible-sm-block visible-md-block visible-lg-block" ng-if="isFilterActive('applied')">
                    <div class="box clearfix">
                        <div class="header clearfix">
                            <h3><i class="icon glyphicon glyphicon-filter"></i> Filters</h3>
                            <a class="jsFilterIcon" href="javascript:void(0);" ng-click="clearSideFilters()"><i class="icon glyphicon glyphicon-remove"></i> Clear Filters</a>
                        </div>
                        <div class="inner padding clearfix" id="filtersDiv">
                            <!-- <div class="filter-item">Great Fit <a href="javascript:void(0);" class="icon glyphicon glyphicon-remove"></a></div>
                            <div class="filter-item">Weekends <a href="javascript:void(0);" class="icon glyphicon glyphicon-remove"></a></div>
                            <div class="filter-item">Hospitality <a href="javascript:void(0);" class="icon glyphicon glyphicon-remove"></a></div> -->
                        </div>
                    </div><!--box-->

                    <div class="box clearfix">
                        <a href="javascript:void(0);" class="jsFiltersListBtn" ng-click="toggleFilterMenu($event)">
                            <div class="header clearfix">
                                <h3>Availability</h3>
                                <i class="icon glyphicon glyphicon-menu-up jsFilterIcon"></i>
                            </div>
                        </a>
                        <div class="inner list clearfix jsFiltersList">
                            <ul>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'weekdays')">Weekdays</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'weekends')">Weekends</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'mornings')">Mornings</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'days')">Days</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'nights')">Nights</a></li>
                            </ul>
                        </div>
                    </div><!--box-->

                    <div class="box clearfix">
                        <a href="javascript:void(0);" class="jsFiltersListBtn" ng-click="toggleFilterMenu($event)">
                            <div class="header clearfix">
                                <h3>Seasonal</h3>
                                <i class="icon glyphicon glyphicon-menu-down jsFilterIcon"></i>
                            </div>
                        </a>
                        <div class="inner list clearfix hidden jsFiltersList">
                            <ul>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'winter')">Winter</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'spring')">Spring</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'summer')">Summer</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'fall')">Fall</a></li>
                            </ul>
                        </div>
                    </div><!--box-->

                    <div class="box clearfix">
                        <a href="javascript:void(0);" class="jsFiltersListBtn" ng-click="toggleFilterMenu($event)">
                            <div class="header clearfix">
                                <h3>Education</h3>
                                <i class="icon glyphicon glyphicon-menu-down jsFilterIcon"></i>
                            </div>
                        </a>
                        <div class="inner list clearfix hidden jsFiltersList">
                            <ul>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'noEducaiton')">No Education</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'highSchool')">High School</a></li>
                                <li><a href="javascript:void(0);" ng-click="setSideFilter($event, 'college')">College</a></li>
                            </ul>
                        </div>
                    </div><!--box-->

                </div><!--col-->

                <div class="col-sm-8">

                    <div class="box clearfix">
                        <div class="header clearfix">
                            <h3><i class="icon icon-users_group_icon"></i> Candidates <span ng-show="filtered.length > 0">({{filtered.length}})</span></h3>
                            <div class="sortMenuDiv hidden">
                                <div class="drop-down visible-sm-block visible-md-block visible-lg-block">
                                    <a href="javascript:void(0);" ng-click="toggleSortMenu($event)">
                                        <span class="value">{{sortByLabel}}</span>
                                        <i class="icon glyphicon glyphicon-menu-down"></i>
                                    </a>
                                    <ul ng-show="showSortMenu" id="sortMenu">
                                        <li ng-class="{active: sortBy == 'rank'}"><a href="javascript:void(0);" data-value="rank">Rank</a></li>
                                        <li ng-class="{active: sortBy == 'date'}"><a href="javascript:void(0);" data-value="date">Date</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--box-->

                    <div class="candidates-list"  ng-hide="filtered.length">

                        <div class="text-center noneFound">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="page-error">
                                        <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
                                        <h4 ng-show="isFilterActive('applied')">No applicants found for this stage with the current filters.</h4>
                                        <h4 ng-show="!isFilterActive('applied')">No applicants found for this stage.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--candidate-list-no-data-->

                    <div class="candidates-list" ng-hide="!filtered.length">

                        <div class="candidate-v2" ng-repeat="app in filtered">
                            <div class="card-top">
                                <span class="date">{{app.appliedAt | date:'MM/dd/yyyy'}}</span>
                                <a heref="javascript:void(0)" class="icon" ng-if="app.status > 1"><i class="icon-check_circle_icon"></i></a>
                                <h4>{{applicants[app.userId].firstName}} {{applicants[app.userId].lastName}}</h4>
                                <div class="job">
                                    <span ng-if="applicants[app.userId].workExperience.length < 1">Entry Level</span>
                                    <span ng-if="applicants[app.userId].workExperience.length > 0">{{applicants[app.userId].workCategories}}</span>
                                </div>
                            </div><!--top-->
                            <div class="details">
                                <div class="exp clearfix text-center">
                                    <p>"{{app.prescreenAnswers[0].answer}}"</p>
                                </div>
                                <div class="exp clearfix" ng-if="applicants[app.userId].workExperience.length > 0">
                                    <span class="icon icon-clock_outlone_icon"></span>
                                    <p>
                                        <span ng-repeat="work in applicants[app.userId].workExperience">
                                            {{work.reportedOccTitle}} {{work.monthCount}}<i ng-if="$index < applicants[app.userId].workExperience.length -1">, </i>
                                        </span>
                                    </p>
                                </div>
                                <div class="exp clearfix"ng-if="applicants[app.userId].education.length > 0">
                                    <span class="icon icon-graduation_hat_icon"></span>
                                    <p><!-- {{applicants[app.userId].education}} -->
                                        <span ng-repeat="edu in applicants[app.userId].education">
                                            {{edu.institutionName}} ({{edu.programType}})<i ng-if="$index < applicants[app.userId].education.length -1">, </i>
                                    </p>
                                </div>
                            </div><!--details-->
                            <div class="menu clearfix">
                                <div class="menu-in">
                                    <a class="red" ng-if="app.status < 4" href="javascript:void(0);" ng-click="updateAppStatus($event, app._id, 5)" title="Dismiss" uib-tooltip="Dismiss"><i class="icon-thumb_down_icon"></i></a>

                                    <a class="" href="javascript:void(0);" ng-click="showDetails($index, app.userId, app)" title="Details" uib-tooltip="Details"><i class="icon-menu_dots_icon"></i></a>

                                    <a class="green" ng-if="app.status == 1" href="javascript:void(0);" ng-click="updateAppStatus($event, app._id, 2)" title="Approve" uib-tooltip="Approve"><i class="icon-check_circle_icon"></i></a>
                                    <a class="green" ng-if="app.status == 2" href="javascript:void(0);" ng-click="updateAppStatus($event, app._id, 3)" title="Like" uib-tooltip="Like"><i class="icon-thumb_up_icon"></i></a>
                                    <a class="green" ng-if="app.status == 3" href="javascript:void(0);" ng-click="updateAppStatus($event, app._id, 4)" title="Hire" uib-tooltip="Hire"><i class="icon-dollar_sign_icon"></i></a>
                                    <a class="green" ng-if="app.status == 4"  title="Hired" uib-tooltip="Hired"><i class="icon-dollar_sign_icon"></i></a>
                                    <a class="red" ng-if="app.status == 5"  title="Dismissed" uib-tooltip="Dismissed"><i class="icon-thumb_down_icon"></i></a>
                                </div>
                            </div><!--menu-->
                        </div><!--candidate-v2-->

                    </div><!--candidates-list-->

                </div><!--col-->

                <div class="col-sm-2 visible-sm-block visible-md-block visible-lg-block" ng-if="!isFilterActive('applied')">
                    &nbsp; <!--this column to center the list col when applied filter is not active-->
                </div>
            </div><!--row-->
        </div><!--body-->
    </div><!--max-width-->
</div><!--content-->