<div class="candidate-details clearfix">
    <a href="javascript:void(0)" ng-show="isModal" class="close" ng-click="closeModal()"><i class="icon glyphicon glyphicon-remove"></i></a>
    <header ng-class="{active:activeSection}">
        <a href="javascript:void(0)" class="close" ng-click="closeModal()"><i class="icon glyphicon glyphicon-remove"></i></a>
        <div class="menu clearfix">
            <ul>
                <li ng-class="{active:activeSection === 'pre-screen'}"><a href="javascript:void(0);" ng-click="showSection('pre-screen')">Pre-Screen</a></li>
                <li ng-class="{active:activeSection === 'personality'}"><a href="javascript:void(0);" ng-click="showSection('personality')">Personality</a></li>
                <li ng-class="{active:activeSection === 'availability'}"><a href="javascript:void(0);" ng-click="showSection('availability')">Availability</a></li>
                <li ng-class="{active:activeSection === 'experience'}"><a href="javascript:void(0);" ng-click="showSection('experience')">Experience</a></li>
                <li ng-class="{active:activeSection === 'education'}"><a href="javascript:void(0);" ng-click="showSection('education')">Education</a></li>
                <li class="all" ng-show="activeSection"><a href="javascript:void(0);" ng-click="showSection(undefined)">All</a></li>
            </ul>
        </div>
    </header>
    <article>
        <div class="row">
            <div class="col-sm-8">
                <div id="left-column">

                    <div class="box" ng-show="!activeSection">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image">
                                    <div class="image-wrapper">
                                        <img src="{{applicant.profileImageThumbURL || defaultImage}}" />
                                    </div>
                                    <div class="date">Applied: {{application.appliedAt | date:'MM/dd/yyyy'}}</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="details">
                                    <h4>{{applicant.firstName}} {{applicant.lastName}}</h4>
                                    <div class="fit-scale">
                                        <i ng-class="getFitClass2(0, application.score)"></i>
                                        <i ng-class="getFitClass2(1, application.score)"></i>
                                        <i ng-class="getFitClass2(2, application.score)"></i>
                                        <i ng-class="getFitClass2(3, application.score)"></i>
                                        <i ng-class="getFitClass2(4, application.score)"></i>
                                        <i ng-class="getFitClass2(5, application.score)"></i>
                                        <i ng-class="getFitClass2(6, application.score)"></i>
                                        <i ng-class="getFitClass2(7, application.score)"></i>
                                        <i ng-class="getFitClass2(8, application.score)"></i>
                                        <i ng-class="getFitClass2(9, application.score)"></i>
                                        <span class="legend">{{getFitClass(-1, application.score) | uppercase}} Fit</span>
                                    </div>
                                    <div class="answers visible-sm-block visible-md-block visible-lg-block">
                                        <!-- <div class="answer" ng-repeat="answer in application.prescreenAnswers | limitTo : 1">
                                            <p>{{answer.answer}}</p>
                                        </div> -->
                                    </div>
                                    <p class="traits visible-sm-block visible-md-block visible-lg-block" ng-show="applicant.personalityExams.length > 0">
                                        <strong>Top Traits</strong> <span uib-tooltip="{{trait.meta.definition}}" ng-repeat="trait in applicant.personalityExams[0].personalityTraits | limitTo : 5">{{trait._id}}<i ng-if="!$last">, </i></span>
                                    </p>
                                    <p class="status">
                                        {{position.title}} - <span class="{{statusLabelsHm[application.status+1] | lowercase}}">{{statusLabelsHm[application.status+1]}}</span>
                                    </p>
                                </div><!--details-->
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'pre-screen'">
                        <div class="title">
                            <h5>Pre-Screening</h5>
                        </div>
                        <div class="prescreen">
                            <ul>
                                <li ng-repeat="answer in application.prescreenAnswers">
                                    <b>{{answer.question}}</b>
                                    <p>
                                        {{answer.answer}}
                                    </p>
                                </li>
                            </ul>
                        </div><!--prescreen-->
                    </div><!--box-->

                    <div class="box"  ng-show="!activeSection || activeSection === 'personality'">
                        <div class="title">
                            <h5>Personality <!-- <a href="javascript:void(0)" class="info">?</a> --></h5>
                        </div>
                        <div class="personality clearfix">
                            <div class="head">{{applicant.firstName}} is a <span class="{{applicant.personalityExams[0].personalityBlend.personalityTypes[0]._id}}">{{applicant.personalityExams[0].personalityBlend.personalityTypes[0]._id}}</span> &amp; <span class="{{applicant.personalityExams[0].personalityBlend.personalityTypes[1]._id}}">{{applicant.personalityExams[0].personalityBlend.personalityTypes[1]._id}}</span></div>
                            <div class="traits clearfix">
                                <div class="col">
                                    <strong>Strongest Traits</strong>
                                    <div ng-repeat="trait in applicant.personalityExams[0].personalityTraits | limitTo : 5">{{trait._id}}</div>
                                </div>
                                <div class="col">
                                    <strong>Weakest Traits</strong>
                                    <div ng-repeat="trait in applicant.personalityExams[0].personalityTraits | limitTo : 5 : 51">{{trait._id}}</div>
                                </div>
                            </div>
                            <div class="environment">
                                <div class="head">{{applicant.firstName}}'s ideal work environments</div>
                                <ul>
                                    <li ng-repeat="env in personalityBlendMeta.meta.environments">{{env}}</li>
                                </ul>
                            </div>
                        </div>

                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'availability'">
                        <div class="title">
                            <h5>Availability</h5>
                        </div>
                        <div class="details">
                            <p>I'm available to start <span ng-show="daysUntilAvailable != 'Immediately'">in</span> <b>{{daysUntilAvailable}}</b> upon hire</p>
                            <p>I'm looking for <b>{{applicant.availability.hoursPerWeekMin}}</b> to <b>{{applicant.availability.hoursPerWeekMax}}</b> hours per week</p>
                            <p>My current availability for shifts is as follows</p>
                        </div>

                        <div class="timetable">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="days-list">
                                        <ul>
                                            <li class="arrow"><a href="javascript:void(0);" class="border" ng-click="previousDay()"><i class="glyphicon glyphicon-menu-left"></i></a></li>
                                            <li ng-repeat="day in days" ng-class="{active:currentDayLabel === day, green:applicant.availability[day].length>0}"><a href="javascript:void(0);" ng-click="showTimeTable(day)">{{day|uppercase}}</a></li>
                                            <li class="arrow"><a href="javascript:void(0);" ng-click="nextDay()"><i class="glyphicon glyphicon-menu-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div><!--row-->


                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="hours">
                                        <h4>am</h4>
                                        <div class="hour-btns clearfix">
                                            <button class="btn-hour" ng-repeat="h in currentDays[currentDayLabel] | filter: {dayHalf:'am'}" ng-class="{'active':h.active}"><span>{{h.hourName}}<br>{{h.dayHalf}}</span></button>
                                        </div><!--hour-btns-->
                                    </div><!--hours-->
                                </div><!--col-->

                                <div class="col-sm-5">
                                    <div class="hours">
                                        <h4>pm</h4>
                                        <div class="hour-btns clearfix">
                                            <button class="btn-hour" ng-repeat="h in currentDays[currentDayLabel] | filter: {dayHalf:'pm'}" ng-class="{'active':h.active}"><span>{{h.hourName}}<br>{{h.dayHalf}}</span></button>
                                        </div><!--hour-btns-->
                                    </div><!--hours-->
                                </div><!--col-->
                                <div class="col-sm-1"></div>
                            </div><!--row-->
                        </div>
                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'experience'">
                        <div class="title">
                            <h5>Experience</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="work in applicant.workExperience">
                                    <div class="icon icon-{{getPositionIcon(work.occId, 'cssClass')}}" style="color:{{getPositionIcon(work.occId, 'iconColor')}}"></div>
                                    <div class="exp">
                                        <h6>{{work.reportedOccTitle}} <span>{{work.monthCount}}</span></h6>
                                        <div class="address"><p>{{work.formattedAddress}} - {{work.city}}, {{work.state}}</p></div>
                                        <div class="date">
                                            <p>{{work.dateStart | date : 'MMM yyyy'}} to <span ng-if="!work.dateEnd">Present</span><span ng-if="work.dateEnd">{{work.dateEnd | date : 'MMM yyyy'}}</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="applicant.workExperience.length < 1">No Experience Provided</div>
                        </div>
                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'education'">
                        <div class="title">
                            <h5>Education</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="edu in applicant.education">

                                    <div class="exp">
                                        <h6>{{edu.institutionName}} <span>({{educationStatusLabels[edu.status]}})</span></h6>
                                        <div class="address">
                                            <p>
                                                {{edu.city}},
                                                {{edu.state}}
                                            </p>
                                        </div>
                                        <div class="address">
                                            <p>
                                                {{edu.degree}}
                                                <br>
                                                {{edu.programType}}
                                            </p>
                                        </div>
                                        <div class="address"></div>
                                        <div class="date">{{edu.dateEnd | date : 'MMM yyyy'}}</div>
                                        <div class="curriculars">
                                            <strong>Extra Curriculars</strong>
                                            <ul>
                                                <li ng-repeat="curr in edu.extraCurriculars">{{curr}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="applicant.education.length < 1">No Education Provided</div>
                        </div>
                    </div><!--box-->

                    <div class="box-activity">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="title">
                                    <h5>Activity</h5>
                                </div>

                                <div class="list">
                                    <ul>
                                        <li ng-repeat="act in detailsApp.history">
                                            <div class="details">
                                                <div class="icon" ng-class="activityColor(act)">
                                                    <i ng-class="{'icon-stop_triangle_icon':act.meta.toStatus==-1, 'icon-employeebadge_outline_icon':act.meta.toStatus==1, 'icon-check_circle_icon':act.meta.toStatus==2, 'icon-thumb_up_icon':act.meta.toStatus==3, 'icon-chat_icon':act.meta.toStatus==4, 'icon-dollar_sign_icon':act.meta.toStatus==5, 'icon-thumb_down_icon':act.meta.toStatus==6, 'icon-expired_icon':act.meta.toStatus==7, 'icon-hand_stop_icon':act.meta.toStatus==8 }"></i>
                                                </div>
                                                <div class="body">{{act.body}} by <b>{{act.userFirstName}} {{act.userLastName}}</b> on {{act.time | date:'MM/dd/yyyy'}} </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div ng-if="detailsApp.history.length < 1">No activity registered.</div>
                                </div><!--list-->

                            </div><!--col-->
                        </div><!--row-->
                    </div><!--box-activity-->

                </div><!--left-column-->
            </div><!--col-->


            <div class="col-sm-4 visible-sm-block visible-md-block visible-lg-block">

                <div class="box" ng-show="activeSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="image">
                                <div class="image-wrapper">
                                    <img src="{{applicant.profileImageThumbURL || defaultImage}}" />
                                </div>
                                <div class="date">Applied: {{application.appliedAt | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="details center">
                                <h4>{{applicant.firstName}} {{applicant.lastName}}</h4>
                                <div class="fit-scale">
                                    <i ng-class="getFitClass(0, application.score)"></i>
                                    <i ng-class="getFitClass(1, application.score)"></i>
                                    <i ng-class="getFitClass(2, application.score)"></i>
                                    <i ng-class="getFitClass(3, application.score)"></i>
                                    <i ng-class="getFitClass(4, application.score)"></i>
                                    <i ng-class="getFitClass(5, application.score)"></i>
                                    <i ng-class="getFitClass(6, application.score)"></i>
                                    <i ng-class="getFitClass(7, application.score)"></i>
                                    <i ng-class="getFitClass(8, application.score)"></i>
                                    <i ng-class="getFitClass(9, application.score)"></i>
                                    <span class="legend">{{getFitClass(-1, application.score) | uppercase}} Fit</span>
                                </div>

                            </div><!--details-->
                        </div><!--col-->
                    </div><!--row-->
                </div><!--box-->

                <div class="box">
                    <div class="title" ng-class="{blue:application.status==2, red:application.status==6 || application.status==7, gray:application.status==1 || application.status==8, green:application.status ==3 ||application.status ==4||application.status ==5}">
                        <h5>Applicant Status: {{statusLabelsHm[application.status+1]}}</h5>
                    </div>

                    <div class="actions clearfix">
                        <div class="menu">
                            <div class="inner">
                                <div ng-if="application.status == -1">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 2)" title="Shortlist" uib-tooltip="Shortlist"><i class="icon-check_circle_icon"></i></a>
                                    <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 8)" title="Hard Fail" uib-tooltip="Hard Fail"><i class="icon-hand_stop_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 1">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 2)" title="Shortlist" uib-tooltip="Shortlist"><i class="icon-check_circle_icon"></i></a>
                                    <a class="purple" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, -1)" title="Soft Fail" uib-tooltip="Soft Fail"><i class="icon-stop_triangle_icon"></i></a>
                                    <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 8)" title="Hard Fail" uib-tooltip="Hard Fail"><i class="icon-hand_stop_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 2">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 3)" title="Shortlist" uib-tooltip="Shortlist"><i class="icon-thumb_up_icon"></i></a>
                                    <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 6)" title="Not Selected" uib-tooltip="Not Selected"><i class="icon-thumb_down_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 3">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 4)" title="Interview" uib-tooltip="Interview"><i class="icon-chat_icon"></i></a>
                                    <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 6)" title="Not Selected" uib-tooltip="Not Selected"><i class="icon-thumb_down_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 4">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 5)" title="Hire" uib-tooltip="Hire"><i class="icon-dollar_sign_icon"></i></a>
                                    <a class="red" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 6)" title="Not Selected" uib-tooltip="Not Selected"><i class="icon-thumb_down_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 5">
                                    <!-- <a class="gray" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 3)" title="Undo Hire" uib-tooltip="Undo Hire"><i class="icon-undo_icon"></i></a> -->
                                    <a class="green" title="Hired" uib-tooltip="Hired"><i class="icon-dollar_sign_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 6">
                                    <!-- <a class="gray" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 3)" title="Undo Not Selected" uib-tooltip="Undo Dismiss"><i class="icon-undo_icon"></i></a> -->
                                    <a class="red" title="Not Selected" uib-tooltip="Not Selected"><i class="icon-thumb_down_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 7">
                                    <a class="red" title="Expired" uib-tooltip="Expired"><i class="icon-expired_icon"></i></a>
                                </div>

                                <div ng-if="application.status == 8">
                                    <a class="green" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, 2)" title="Pass" uib-tooltip="Pass"><i class="icon-check_circle_icon"></i></a>
                                    <a class="purple" href="javascript:void(0);" ng-click="updateAppStatus($event, application._id, -1)" title="Soft Fail" uib-tooltip="Soft Fail"><i class="icon-stop_triangle_icon"></i></a>
                                </div>

                            </div>
                        </div><!--menu-->
                    </div><!--actions-->
                </div><!--box-->
                <div class="box">
                    <div class="title blue">
                        <h5>Contact {{applicant.firstName}}</h5>
                    </div>
                    <div class="contacts">
                        <ul>
                            <li><a href="tel:{{applicants[detailsUserId].mobile}}"><i class="icon green glyphicon glyphicon-earphone"></i>{{formatPhoneNumber(applicants[detailsUserId].mobile)}}</a></li>
                            <li><a href="mailto:{{applicants[detailsUserId].email}}"><i class="icon blue glyphicon glyphicon-envelope"></i>{{applicants[detailsUserId].email}}</a></li>
                        </ul>
                    </div>
                </div><!--box-->

                <div class="arrows clearfix" style="padding-bottom:20px">
                    <button class="btn mid-gray pull-left" ng-click="preApplication()" ng-show="isModal" ng-disabled="detailsIndex === 0"><i class="icon glyphicon glyphicon-menu-left"></i></button>
                    <button class="btn mid-gray pull-right" ng-click="nextApplication()" ng-show="isModal" ng-disabled="detailsIndex >= filtered.length-1"><i class="icon glyphicon glyphicon-menu-right"></i></button>
                </div><!--arrows-->

                <div class="box">
                    <a target="_blank" ui-sref="interviewApplicant({businessSlug:business.slug, locationSlug:location.slug, positionSlug:position.slug, applicationId:application._id, interviewQuestionsIndex:0})">
                        <button class="btn mid-gray" style="width:100%">Print Interview 1 Survey</button>
                    </a>
                </div>
            </div><!--col-->

        </div><!--row-->
    </article>
</div><!--candidate-details