<div class="candidate-details clearfix">
    <a href="javascript:void(0)" class="close" ng-click="closeModal()"><i class="icon glyphicon glyphicon-remove"></i></a>
    <header ng-class="{active:activeSection}">
        <div class="menu clearfix">
            <ul>
                <li ng-class="{active:activeSection === 'pre-screen'}"><a href="javascript:void(0);" ng-click="showSection('pre-screen')">Pre-Screen</a></li>
                <li ng-class="{active:activeSection === 'personality'}"><a href="javascript:void(0);" ng-click="showSection('personality')">Personality</a></li>
                <li ng-class="{active:activeSection === 'availability'}"><a href="javascript:void(0);" ng-click="showSection('availability')">Availability</a></li>
                <li ng-class="{active:activeSection === 'experience'}"><a href="javascript:void(0);" ng-click="showSection('experience')">Experience</a></li>
                <li ng-class="{active:activeSection === 'education'}"><a href="javascript:void(0);" ng-click="showSection('education')">Education</a></li>
                <li class="all" ng-show="activeSection"><a href="javascript:void(0);" ng-click="showSection(undefined)">All</a></li>
            </ul>
        </div>
    </header>
    <article>
        <div class="row">
            <div class="col-sm-9">
                <div id="left-column">

                    <div class="box" ng-show="!activeSection">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="image">
                                    <div class="image-wrapper">
                                        <img src="{{applicants[detailsUserId].profileImageURL || defaultImage}}" />
                                    </div>
                                    <div class="date">Applied: {{detailsApp.createdAt | date:'MM/dd/yyyy'}}</div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="details">
                                    <h4>{{applicants[detailsUserId].firstName}} {{applicants[detailsUserId].lastName}}</h4>
                                    <div class="fit-scale">
                                        <i ng-class="getFitClass(0, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(1, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(2, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(3, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(4, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(5, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(6, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(7, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(8, detailsApp.score)"></i>
                                        <i ng-class="getFitClass(9, detailsApp.score)"></i>
                                        <span class="legend">{{getFitClass(-1, detailsApp.score) | uppercase}} Fit</span>
                                    </div>
                                    <div class="answers visible-sm-block visible-md-block visible-lg-block">
                                        <div class="answer" ng-repeat="answer in detailsApp.prescreenAnswers | limitTo : 1">
                                            <p>{{answer.answer}}</p>
                                        </div>
                                    </div>
                                    <p class="traits visible-sm-block visible-md-block visible-lg-block" ng-show="applicants[detailsUserId].personalityExams.length > 0">
                                        <strong>Top Traits</strong> <span ng-repeat="trait in applicants[detailsUserId].personalityExams[0].personalityTraits | limitTo : 5">{{trait._id}}<i ng-if="!$last">, </i></span>
                                    </p>
                                    <p class="status">
                                        {{position.title}} - <span class="{{statusLabels[detailsApp.status] | lowercase}}">{{statusLabels[detailsApp.status]}}</span>
                                    </p>
                                </div><!--details-->
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--box-->

                    <!-- <div class="mobile-menu clearfix">
                        <ul>
                            <li class="arrow"><a href="javascript:void(0);" ng-click="preSection()"><i class="icon glyphicon glyphicon-menu-left"></i></a></li>
                            <li ng-class="{active:activeSection === 'pre-screen'}"><a href="javascript:void(0);" ng-click="showSection('pre-screen')">Pre-Screen</a></li>
                            <li ng-class="{active:activeSection === 'personality'}"><a href="javascript:void(0);" ng-click="showSection('personality')">Personality</a></li>
                            <li ng-class="{active:activeSection === 'availability'}"><a href="javascript:void(0);" ng-click="showSection('availability')">Availability</a></li>
                            <li ng-class="{active:activeSection === 'experience'}"><a href="javascript:void(0);" ng-click="showSection('experience')">Experience</a></li>
                            <li ng-class="{active:activeSection === 'education'}"><a href="javascript:void(0);" ng-click="showSection('education')">Education</a></li>
                            <li class="arrow"><a href="javascript:void(0);" ng-click="nextSection()"><i class="icon glyphicon glyphicon-menu-right"></i></a></li>
                        </ul>
                    </div> -->

                    <div class="box" ng-show="!activeSection || activeSection === 'pre-screen'">
                        <div class="title">
                            <h5>Pre-Screening</h5>
                        </div>
                        <div class="prescreen">
                            <ul>
                                <li ng-repeat="answer in detailsApp.prescreenAnswers">
                                    <b>{{answer.question}}</b>
                                    <p>
                                        {{answer.answer}}
                                    </p>
                                </li>
                            </ul>
                        </div><!--prescreen-->
                    </div><!--box-->

                    <div class="box"  ng-show="!activeSection || activeSection === 'personality'">
                        <div class="title">
                            <h5>Personality <a href="javascript:void(0)" class="info">?</a></h5>
                        </div>
                        <div class="personality clearfix">
                            <div class="head">{{applicants[detailsUserId].firstName}} is a <span class="{{applicants[detailsUserId].personalityExams[0].personalityBlend.personalityTypes[0]._id}}">{{applicants[detailsUserId].personalityExams[0].personalityBlend.personalityTypes[0]._id}}</span> &amp; <span class="{{applicants[detailsUserId].personalityExams[0].personalityBlend.personalityTypes[1]._id}}">{{applicants[detailsUserId].personalityExams[0].personalityBlend.personalityTypes[1]._id}}</span></div>
                            <div class="traits clearfix">
                                <div class="col">
                                    <strong>Strongest Traits</strong>
                                    <div ng-repeat="trait in applicants[detailsUserId].personalityExams[0].personalityTraits | limitTo : 5">{{trait._id}}</div>
                                </div>
                                <div class="col">
                                    <strong>Weakest Traits</strong>
                                    <div ng-repeat="trait in applicants[detailsUserId].personalityExams[0].personalityTraits | limitTo : 5 : 51">{{trait._id}}</div>
                                </div>
                            </div>
                            <div class="environment">
                                <div class="head">{{applicants[detailsUserId].firstName}}'s ideal work environments</div>
                                <ul>
                                    <li ng-repeat="env in personalityBlendMeta.meta.environments">{{env}}</li>
                                </ul>
                            </div>
                        </div>

                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'availability'">
                        <div class="title">
                            <h5>Availability</h5>
                        </div>
                        <div class="details">
                            <p>I'm available to start <span ng-show="getAvailabilityByDays() != 'Immediately'">in</span> <b>{{getAvailabilityByDays()}}</b> upon hire</p>
                            <p>I'm looking for <b>{{applicants[detailsUserId].availability.hoursPerWeekMin}}</b> to <b>{{applicants[detailsUserId].availability.hoursPerWeekMax}}</b> hours per week</p>
                            <p>My current availability for shifts is as follows</p>
                        </div>

                        <div class="timetable">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="days-list">
                                        <ul>
                                            <li class="arrow"><a href="javascript:void(0);" ng-click="previousDay()"><i class="glyphicon glyphicon-menu-left"></i></a></li>
                                            <li ng-repeat="day in days" ng-class="{active:currentDayLabel === day}"><a href="javascript:void(0);" ng-click="showTimeTable(day)">{{day|uppercase}}</a></li>
                                            <li class="arrow"><a href="javascript:void(0);" ng-click="nextDay()"><i class="glyphicon glyphicon-menu-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div><!--row-->


                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="hours">
                                        <h4>am</h4>
                                        <div class="hour-btns clearfix">
                                            <button class="btn-hour" ng-repeat="h in currentDays[currentDayLabel] | filter: {dayHalf:'am'}" ng-class="{'active':h.active}"><span>{{h.hourName}}<br>{{h.dayHalf}}</span></button>
                                        </div><!--hour-btns-->
                                    </div><!--hours-->
                                </div><!--col-->

                                <div class="col-sm-5">
                                    <div class="hours">
                                        <h4>pm</h4>
                                        <div class="hour-btns clearfix">
                                            <button class="btn-hour" ng-repeat="h in currentDays[currentDayLabel] | filter: {dayHalf:'pm'}" ng-class="{'active':h.active}"><span>{{h.hourName}}<br>{{h.dayHalf}}</span></button>
                                        </div><!--hour-btns-->
                                    </div><!--hours-->
                                </div><!--col-->
                                <div class="col-sm-1"></div>
                            </div><!--row-->
                        </div>
                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'experience'">
                        <div class="title">
                            <h5>Experience</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="work in applicants[detailsUserId].workExperience">
                                    <div class="icon icon-{{getPositionIcon(work.occId, 'cssClass')}}" style="color:{{getPositionIcon(work.occId, 'iconColor')}}"></div>
                                    <div class="exp">
                                        <h6>{{work.occTitle}} <span>{{getDateDif($index)}}</span></h6>
                                        <div class="address"><p>{{work.formattedAddress}} - {{work.city}}, {{work.state}}</p></div>
                                        <div class="date">
                                            <p>{{work.dateStart | date : 'MMM yyyy'}} to <span ng-if="!work.dateEnd">Present</span><span ng-if="work.dateEnd">{{work.dateEnd | date : 'MMM yyyy'}}</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--box-->

                    <div class="box" ng-show="!activeSection || activeSection === 'education'">
                        <div class="title">
                            <h5>Education</h5>
                        </div>
                        <div class="experience">
                            <ul>
                                <li class="clearfix" ng-repeat="edu in applicants[detailsUserId].education">

                                    <div class="exp">
                                        <h6>{{edu.institutionName}}</h6>
                                        <div class="address">
                                            <p>
                                                {{edu.degree}}
                                                <br>
                                                {{edu.programType}}
                                            </p>
                                        </div>
                                        <div class="address"></div>
                                        <div class="date">{{edu.dateEnd | date : 'MMM yyyy'}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--box-->
                </div><!--left-column-->
            </div><!--col-->


            <div class="col-sm-3 visible-sm-block visible-md-block visible-lg-block">

                <div class="box" ng-show="activeSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="image">
                                <div class="image-wrapper">
                                    <img src="{{applicants[detailsUserId].profileImageURL || defaultImage}}" />
                                </div>
                                <div class="date">Applied: {{detailsApp.createdAt | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="details center">
                                <h4>{{applicants[detailsUserId].firstName}} {{applicants[detailsUserId].lastName}}</h4>
                                <div class="fit-scale">
                                    <i ng-class="getFitClass(0, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(1, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(2, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(3, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(4, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(5, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(6, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(7, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(8, detailsApp.score)"></i>
                                    <i ng-class="getFitClass(9, detailsApp.score)"></i>
                                    <span class="legend">{{getFitClass(-1, detailsApp.score) | uppercase}} Fit</span>
                                </div>

                            </div><!--details-->
                        </div><!--col-->
                    </div><!--row-->
                </div><!--box-->

                <div class="box">
                    <div class="title blue">
                        <h5>Candidate Status: {{statusLabels[detailsApp.status]}}</h5>
                    </div>
                    <div class="actions clearfix">
                        <div class="menu">
                            <div class="inner">
                                <a href="javascript:void(0);" class="action" ng-if="detailsApp.status === 1" ng-click="updateAppStatus($event, detailsApp._id, 2)">Contact</a>
                                <a href="javascript:void(0);" class="action" ng-if="detailsApp.status === 2" ng-click="updateAppStatus($event, detailsApp._id, 3)">Hire</a>
                                <a href="javascript:void(0);" class="action" ng-if="detailsApp.status === 3 || detailsApp.status === 0" ng-click="updateAppStatus($event, detailsApp._id, 1)">Applied</a>
                                <a class="drop" href="javascript:void(0);" ng-click="toggleActionMenu($event, 'detailsAction')"><i class="glyphicon glyphicon-menu-down"></i></a>
                                <a class="execlude" href="javascript:void(0);" ng-if="app.status !== 0" ng-click="updateAppStatus($event, detailsApp._id, 0)"><i class="icon-thumb_down_icon"></i></a>
                            </div>
                            <ul class="hidden" id="menu_detailsAction">
                                <li ng-if="app.status !== 1"><a href="javascript:void(0);" data-value="applied" ng-click="updateAppStatus($event, detailsApp._id, 1)">APPLIED</a></li>
                                <li ng-if="app.status !== 2"><a href="javascript:void(0);" data-value="contact" ng-click="updateAppStatus($event, detailsApp._id, 2)">CONTACT</a></li>
                                <li ng-if="app.status !== 3"><a href="javascript:void(0);" data-value="hire" ng-click="updateAppStatus($event, detailsApp._id, 3)">HIRE</a></li>
                                <li ng-if="app.status !== 0"><a href="javascript:void(0);" data-value="decline" ng-click="updateAppStatus($event, detailsApp._id, 0)">DECLINE</a></li>
                            </ul>
                        </div><!--menu-->
                    </div><!--actions-->
                </div><!--box-->

                <div class="arrows clearfix">
                    <button class="btn mid-gray pull-left" ng-click="preApplication()" ng-disabled="detailsIndex === 0"><i class="icon glyphicon glyphicon-menu-left"></i></button>
                    <button class="btn mid-gray pull-right" ng-click="nextApplication()" ng-disabled="detailsIndex <= filtered.length-1"><i class="icon glyphicon glyphicon-menu-right"></i></button>
                </dvi><!--arrows-->
            </div><!--col-->

        </div><!--row-->
    </article>
</div><!--candidate-details