/**
 * Created by bdombro on 2/27/16.
 */

#more-arrow {
  position: fixed;
  right: 4px;
  width: 60px;
  height: 66px;
  z-index: 99;
  background-image: url("../../img/jagged_rectangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  bottom: 5px;
}

#more-arrow.more-arrow-raised {
  bottom: 63px;
}


#more-arrow div {
  position: fixed;
  right: 14px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/downarrow.svg");
  background-size: contain;
  bottom: 11px;
  animation:moreArrowBounceDefault 2s infinite;
}

#more-arrow.more-arrow-raised div {
  bottom: 69px;
  animation:moreArrowBounceRaised 2s infinite;
}

@keyframes moreArrowBounceDefault {
  0%       { bottom:35px;}
  50%      { bottom:11px;}
  100%     {bottom:35px;}
}

@keyframes moreArrowBounceRaised {
  0%       { bottom:90px;}
  50%      { bottom:69px;}
  100%     {bottom:90px;}
}