<div class="form-loader" ng-show="!dataLoaded">
    <p>Loading</p>
    <div class="loader"></div>
</div>

<div class="job-business" ng-show="dataLoaded && !dataError">

    <!--hero-image-->
    <div class="row">
        <div class="col-sm-12">
            <div class="hero">
                <img src="{{heroImageURL}}"/>
            </div>
        </div>
    </div><!--hero-image-row-->

    <!--position-header-->
    <div class="row">
        <div class="col-sm-12">
            <div class="business-header padding">
                <div class="logo">
                    <div class="circle"><img src="{{business.logoImageURL}}"/></div>
                </div>

            </div><!--header-->
        </div><!--col-->
    </div><!--position-header-row-->

    <div class="details">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h2>{{business.name}}</h2>
                    <p>{{business.description}}</p>
                </div><!--title-->

                <div class="states">
                    <div class="state" ng-repeat="state in businessByStates">
                        <a href="javascript:void(0)" class="link" ng-click="expandState(state.abbreviation)">
                            <span>{{state.name}}</span>
                            <span>
                                <b ng-show="state.abbreviation != stateToShow">Show</b>
                                <b ng-show="state.abbreviation == stateToShow">Hide</b>
                                Location <i class="icon glyphicon " ng-class="{'glyphicon-plus':state.abbreviation != stateToShow, 'glyphicon-minus':state.abbreviation == stateToShow}"></i>
                            </span>
                        </a>
                        <div class="location" ng-repeat="loc in state.locations" ng-show="state.abbreviation == stateToShow">
                            <div class="details">
                                <h3>{{business.locations[loc.id].name}}</h3>
                                <p class="times">
                                    <span ng-repeat="range in business.locations[loc.id].aggregatedWeekTimes"><b>{{range.label}}</b>: {{range.hoursRanges.join(' to ').toLowerCase()}} <i>|</i> </span>
                                </p>
                                <p>
                                    {{business.locations[loc.id].street1}}, {{business.locations[loc.id].city}}, {{business.locations[loc.id].state}}, {{business.locations[loc.id].postalCode}}
                                    <br>
                                    <!-- 0.5 From my location (<a href="javascript:void(0);">change</a>) -->
                                </p>
                            </div><!--details-->
                            <table class="positions">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>type</th>
                                        <th>Pay</th>
                                        <th>Benefits</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pos in loc.positions">
                                        <td>{{business.positions[pos].title}}</td>
                                        <td>{{business.positions[pos].workType}}</td>
                                        <td>${{business.positions[pos].compensation.wageAmount}}</td>
                                        <td class="no-mobile">
                                            <span ng-show="business.positions[pos].benefits.paidVacation || business.positions[pos].benefits.paidSickTime || business.positions[pos].benefits.flexibleSchedul || business.positions[pos].benefits.healthInsurance || business.positions[pos].benefits.dentalInsurance || business.positions[pos].benefits.retirementPlan || business.positions[pos].benefits.discounts || business.positions[pos].benefits.commission || business.positions[pos].benefits.tips || business.positions[pos].benefits.bonus">Yes</span>
                                            <span ng-hide="business.positions[pos].benefits.paidVacation || business.positions[pos].benefits.paidSickTime || business.positions[pos].benefits.flexibleSchedul || business.positions[pos].benefits.healthInsurance || business.positions[pos].benefits.dentalInsurance || business.positions[pos].benefits.retirementPlan || business.positions[pos].benefits.discounts || business.positions[pos].benefits.commission || business.positions[pos].benefits.tips || business.positions[pos].benefits.bonus">No</span>
                                        </td>
                                        <td class="no-mobile"><a href="javascript:void(0)" ui-sref="master.default.job.position({businessSlug:business.slug, locationSlug:business.locations[loc.id].slug, positionSlug:business.positions[pos].slug})">VIEW</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--location-->
                    </div><!--state-->
                </div><!--states-->
            </div><!--col-->
        </div><!--row-->
    </div><!--details-->

    <div class="footer clearfix">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="inner">
                    <h3>WHO WE ARE</h3>
                    <p>{{business.description}}</p>
                </div>
            </div><!--col-->
        </div><!--row-->
    </div><!--footer-->

</div><!--job-business-->

<div class="content" ng-show="dataLoaded && dataError">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
            <h4>Business Not Found!</h4>
        </div>
    </div>
</div>