$application-header-height: 60px;
$application-footer-height: 60px;
.job-application{
    .job-title{
        // height: $application-header-height;
        background-color:$c-hirely-navy;

        color:#fff;
        text-align: center;
        padding:1.5em 0 1.5em 0;
        h4{
            margin-top:0;
            margin-bottom:0;
            line-height: 1.5em;
        }
    }
    header{
        height: $application-header-height;
        background-color:$c-hirely-gray;
        @include drop-shadow;

        .logo{
            padding-top:1em;
            padding-left:1em;
        }

        .user{
            display: table;
            width:auto;
            height: $application-header-height;
            padding-right:1em;

            .details{
                position: relative;
                height: $application-header-height;
                img{
                    width: $application-header-height - 10px;
                    height: auto;
                    margin-top:5px;
                    float:left;
                }
                .name{
                    float:left;
                    display: inline-block;
                    padding-left:1em;
                    line-height: $application-header-height;
                }
                .menu{
                    display:none;
                    position:absolute;
                    top:$application-header-height;
                    right:0;
                    width:200px;

                    ul{
                        display:table;
                        width:200px;
                        list-style: none;
                        padding:0;
                        @include drop-shadow();
                    }
                    ul > li{
                        display: block;
                        width:100%;


                    }
                    ul > li > a{
                        display: block;
                        width:100%;
                        background-color:$c-hirely-gray;

                        padding:0.5em 1em 0.5em 1em;

                    }
                    ul > li > a:hover{
                        background-color:#fff;
                    }
                }
            }//// details
            .details:hover{
                .menu{
                    display:block;
                }
            }

            .buttons{
                padding-top:10px;
            }
        }//// .user
    }//// header

    .wrapper{

    }

    .content{
        width:100%;
        margin:0 auto;
        min-height: 200px;
        padding:1em 0;

        .inner{
            width:100%;
            margin: 0 auto;
            padding:0 1em;
            @media screen and (min-width:$screen-sm-min){
                width:50%;
                padding:0 0;
            }
        }

        .red-text{
            color:$c-hirely-red;
        }
    }////.content
}//// .job-application