$sub-header-height:60px;
$candidat-menu-height:60px;
.business{
    .wrapper{
        background-color:$c-hirely-gray;

    }//// .wrapper

    .sub-header{
        display: block;
        width:100%;
        // min-height: $sub-header-height;
        background-color:$c-hirely-light-gray;
        @include drop-shadow();

        .title{
            position: absolute;
            float:none;
            width:40%;
            margin:0 auto;
            padding: 0;
            top:-60px;
            left: 0;
            color:$c-white;
            display: none;



            @media screen and (min-width:$screen-sm-min){
                margin-left:160px;
                display: block;
            }

            h2{
                font-weight: normal;
                font-size:1.5em;

                a{
                    color:$c-white;
                }

                .icon{
                    font-size:0.8em;
                    display: inline-block;
                    margin-left:0.5em;
                }
            }/// h2

            .menu{
                list-style:none;
                display: block;
                width:300px;
                padding:0;
                position:absolute;
                left:0;
                top:60px;
                z-index: 10;

                li{
                    display: block;
                    width:100%;
                    height: 50px;
                    background-color:$c-white;
                    border:1px solid $c-hirely-mid-gray;
                    margin-top:-1px;

                    a{
                        color:$c-hirely-mid-gray;
                        display: block;
                        width:100%;
                        height: 48px;
                        padding:5px;
                    }

                    a:hover{
                        background-color:$c-hirely-red;
                        color:$c-white;
                    }

                    span{
                        display:block;
                        font-size:0.8em;
                    }
                }//// li

                li.active{
                    a{
                        background-color:$c-hirely-red;
                        color:$c-white;
                    }
                }
            } //// .menu
        }//// .title

        // .buttons{
        //     float:left;
        //     width:60%;
        //     padding-top:13px;

        //     input[type="text"]{
        //         border: 1px solid $c-hirely-mid-gray;
        //         line-height: 30px;
        //         padding:2px 5px;
        //         @include border-radius(2px);
        //         width:50%;
        //         float:left;
        //         margin-right:1em;
        //     }
        //     .btn{
        //         border:none;
        //         margin-top:-1px;
        //         @include border-radius(2px);
        //         float:left;
        //         padding-top:9px;
        //         padding-bottom:9px;
        //     }
        // }

    }/// .sub-header

    .content{
        margin-top:0;
        padding-top:0;
        padding-bottom:0;
    }

    .status-bar{
        width:100%;
        margin:0 0;

        .drop{
            display: block;
            width:10%;
            height: 60px;
            float:right;
            font-size:2em;
            line-height: 60px;
            text-align: center;
            color:$c-hirely-mid-gray;
            @media screen and (min-width:$screen-sm-min){
                display: none;
            }
        }

        #statusBtnsDiv {
            width: 90%;
            float: left;

            @media screen and (min-width: $screen-sm-min) {
                width: 70%;
                margin: 0 auto;
                float: none;
            }

            ul {
                width: 100%;
                display: table;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    display: block;
                    float: left;
                    width: 100%;
                    padding-right: 2px;
                    @media screen and (min-width: $screen-sm-min) {
                        width: 25%;
                        min-width: 105px;
                        padding-right: 5px;
                    }
                    .btn {
                        width: 100%;
                        height: 60px;
                        text-align: center;
                        // padding-left:0;
                        // padding-right:0;
                        // font-size:0.8em;
                        border: 0;
                        display: none;
                        @include border-radius(2px);
                        @media screen and (min-width: $screen-sm-min) {
                            font-size: 1em;
                            padding-left: 0;
                            padding-right: 0;
                            display: inline-block;
                        }
                        // span{
                        //     display:none;
                        //     @media screen and (min-width:$screen-sm-min){
                        //         display:inline;
                        //     }
                        // }
                    }
                    .btn.active {
                        display: inline-block;
                    }
                    .btn.red {
                        @media screen and (max-width: $screen-sm-min) {
                            background-color: $c-hirely-light-gray;
                            border-color: $c-hirely-light-gray;
                            color: $c-hirely-mid-gray !important;
                            border: 0 solid $c-hirely-light-gray;
                            @include box-shadow(none);
                        }
                    }
                }
                li:last-child {
                    padding-right: 0;
                }

            }
            //// ul

            ul.show{
                background-color:$c-white;
                position:absolute;
                top:0;
                left:0;
                z-index:1000;
                @include drop-shadow();
                .btn{
                    display: inline-block;
                }
            }
        } // statusBtnsDiv


    } //// .status-bar

    .body{
        padding-top:1em;
        padding-bottom:1em;
    }

    .box{
        border:none;
        padding:0;
        margin:0;
        background-color:$c-white;
        margin-bottom:1em;
        width:100%;
        @include border-radius(2px);
        overflow: hidden;

        .header{
            background-color:$c-hirely-light-gray;
            @include box-shadow(0);
            @include drop-shadow(0, 0, 0, 0);
            padding:1.3em 1em 1.1em 1em;
            overflow: visible;
            // height: 300px;

            &.candidatesHeader {
                background-color:$c-hirely-gray;
                h3 {
                    margin-right: 34px;
                    line-height: 36px;
                }
                #showHideFilter {
                    color:$c-hirely-mid-gray;
                    div {
                        padding:8px;
                        display:inline-block;
                        border:1px solid $c-hirely-light-gray;
                    }
                    &:hover {
                        color: #E82A1D;
                    }
                    @media screen and (max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }


            h3{
                margin-top:0;
                margin-bottom: 0;
                font-weight: 400;
                font-size:1.5em;
                text-transform: uppercase;
                display: table;
                width:auto;
                clear:none;
                float:left;
                color:$c-hirely-mid-gray;

                .icon{
                    display: inline-block;
                    vertical-align: -2px;
                }
            }

            .jsFilterIcon {
                // line-height: 2em;
                color:$c-hirely-mid-gray;
                float:right;
                // font-size:0.8em;
            }

            .drop-down{
                width:100px;
                float:right;
                position:absolute; //// absolute is to fix the overflow hidden set on .box
                height: 30px;
                @include border-radius(2px);
                overflow: visible;
                top:15px;
                right:26px;

                a{
                    display: block;
                    width:100%;
                    height: 30px;
                    line-height: 30px;
                    background-color:$c-white;
                    padding:0 0 0 10px;
                    color:$c-hirely-mid-gray;
                }
                .value{
                    float:left;
                }
                .icon{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    float:right;
                }

                ul{
                    display: block;
                    padding-left:0;
                    list-style: none;
                    width:100px;
                    position:absolute;
                    top:31px;
                    left:0;
                    z-index: 10000;
                    @include drop-shadow();

                    li{
                        display: block;
                        width:100%;
                        height: 30px;


                        a{
                            display: block;
                            width:100%;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;
                            background-color:$c-white;
                            border-bottom:1px solid $c-hirely-light-gray;
                        }
                        a:hover{
                            background-color: $c-hirely-light-gray;
                            color:$c-hirely-red;
                        }
                    }
                    li:last-child{
                        a{
                            border-bottom:none;
                        }
                    }
                    li.active{
                        a{
                            background-color:$c-hirely-red;
                            color:$c-white;
                        }
                    }
                }//// ul
            }//// .drop-down
        }//// .header

        .inner{

        }//// .inner
        .inner.padding{
            padding:1.3em;
        }

        .inner.list{
            ul{
                list-style: none;
                width:100%;
                padding-left:0;
                margin-bottom: 0;

                li{
                    display:block;
                    width:100%;
                    border-bottom:1px solid $c-hirely-light-gray;

                    a{
                        width:100%;
                        display: block;
                        padding:1em;
                        color:$c-hirely-light-gray;
                    }
                    a:hover{
                        color:$c-hirely-red;
                    }
                }//// li

                li:last-child{
                    border-bottom:none;
                }
            }//// ul

        }//// inner.list

        .filter-item{
            float:left;
            margin-right:0.5em;
            padding:8px;

            .icon{
                margin-left:2px;
                vertical-align: -1px;
                color:$c-hirely-mid-gray;
            }
        }

    }//// .box

    .candidates-list{
        width:100%;
        margin-top: 1em;

        .candidate-v2{
            width:100%;
            float:none;
            margin-right:0;
            margin-bottom:2%;
            background-color:$c-hirely-navy;
            position:relative;

            @media screen and (min-width:$screen-sm-max){
                width:32%;
                float:left;
                margin-right:2%;
            }

            .card-hover{
                background-color:$c-hirely-navy;
                color:$c-white;
                padding:1em;
                text-align: center;
                position:absolute;
                width: 100%;

                h3{
                    margin-top:4px;
                    margin-bottom: 1em;
                }

                button{
                    width: 70%;
                    background: none;
                    color: $c-white;
                    border: 1px solid gray;
                    border-radius: 0;
                    font-size: 1.2em;
                    margin: .7em 15%;
                }

            }

            .card-no-hover {
                .card-top {
                    background-color: $c-hirely-navy;
                    color: $c-white;
                    padding: 1em;
                    text-align: center;
                    position: relative;

                    h3 {
                        margin-top: 4px;
                    }
                    .job {
                        font-size: 1em;
                        span {
                            text-transform: capitalize;
                        }
                    }
                    .date {
                        position: absolute;
                        display: block;
                        top: 5px;
                        left: 7px;
                        font-size: 0.8em;
                    }
                    .dotdotdot {
                        display: block;
                        width: 20px;
                        font-size: 34px;
                        height: 20px;
                        line-height: 0px;
                        text-align: center;
                        position: absolute;
                        top: 0px;
                        right: 20px;
                        color: $c-white;
                    }
                    .lastStatusChange {
                        font-size: 0.8em;
                    }
                }
                //// .top
                .details {
                    padding: 1em 1em 0;
                    background-color: $c-white;
                    color: $c-hirely-mid-gray;

                    .cardDiv {
                        margin: 1em 0 0 0;
                        display: table;
                        min-height: 4.2em;
                        font-size: 1em;

                        table {
                            margin: .4em 0 0 1.8em;

                            @media screen and (max-width: $screen-sm-max) {
                                margin: .4em 0 0 0;
                            }

                            tr {
                                min-height: 3.8em;
                                td {
                                    padding-bottom: 0.8em;
                                    padding-right: 0.8em;

                                    .icon {
                                        font-size: 2em;
                                    }
                                }
                            }

                        }

                    }
                }
                /// .details
            } // card no-hover


        }//// .candidate-v2

        .candidate-v2:nth-child(3n+3){
            margin-right: 0;
        }

        .candidate{
            padding:1.3em 1.3em 4px;
            background-color:$c-white;
            @include border-radius(2px);
            position:relative;
            margin-bottom: 1em;
            width: 49%;
            float: left;

            &:nth-child(odd) {
                float:right;
            }

            @media screen and (max-width:$screen-sm-max){
                width: 100%;
            }

            .details{
                min-height: 140px;

                h4{
                    font-size:1.5em;
                    font-weight: 600;
                    text-align:center;
                    margin-top:0;
                    @media screen and (min-width:$screen-sm-min){
                        text-align: inherit;
                    }
                }

                .fit-scale{
                    display:table;
                    width:auto;
                    height: 15px;
                    margin: 0 auto;
                    margin-bottom: 1em;

                    @media screen and (min-width:$screen-sm-min){
                        margin: 0 0;
                        margin-bottom: 1em;
                    }

                    i{
                        display: block;
                        width:15px;
                        height: 15px;
                        float:left;
                        margin-right:1px;
                        background-color:$c-hirely-light-gray;
                    }
                    i.great{
                        background-color:$c-hirely-green;
                    }
                    i.good{
                        background-color:$c-hirely-green;
                    }
                    i.poor{
                        background-color:$c-hirely-red;
                    }
                    i.ok{
                        background-color:$c-hirely-yellow;
                    }
                    .legend{
                        font-size:0.8em;
                        font-weight: 600;
                        float:left;
                        margin-left:0.5em;
                        line-height: 15px;
                    }
                } //// .fit-scale

                .answers{
                    .answer{
                        b{
                            font-weight: normal;
                            text-transform:uppercase;
                        }
                    }
                }//// .answers

                .traits{
                    //font-weight: 600;
                    font-size:0.8em;
                    //strong{
                    //    display: block;
                    //    clear: both;
                    //    font-weight: normal;
                    //
                    //    @media screen and (min-width:$screen-sm-min){
                    //        display: inline-block;
                    //        width:100px;
                    //    }
                    //}

                }//// .traits


            }//// .details

            .menu{
                width:98%;
                margin:1%;
                height: $candidat-menu-height;

                @media screen and (min-width:$screen-sm-min){
                    display: table;
                }

                .inner{
                    height: $candidat-menu-height;
                    @include border-radius(2px);
                    overflow: hidden;
                }

                .action{
                    height: $candidat-menu-height;
                    width:80px;
                    background-color:$c-hirely-green;
                    color:$c-white;
                    text-align: center;
                    line-height: $candidat-menu-height;
                    float:left;
                }
                .action.disabled{
                    cursor:not-allowed;
                }
                .action[disabled="disabled"]{
                    cursor:not-allowed;
                }
                a{
                    float:right;
                    display: block;
                    width:$candidat-menu-height;
                    height: $candidat-menu-height;
                    line-height: $candidat-menu-height;
                    text-align: center;
                    color:$c-white;
                    font-size:2em;
                    background-color:$c-hirely-mid-gray;
                    margin-right:5px;

                    &:first-of-type {
                        float: left;
                        width: 50%;
                        width: calc( 100% - 140px );
                    }
                }

                .red{
                    background-color:$c-hirely-red;
                }
                .green{
                    background-color:$c-hirely-green;
                }
                .purple{
                    background-color: $c-hirely-purple;//#C653FF
                }
            }//// .menu
        }//// .candidate
    }//// .candidates-list

}//// .business

.candidate-details{
    padding: 0;
    padding-bottom:3em;
    position:relative;
    @media screen and (min-width:$screen-sm-min){
        padding-top:0;
    }
    a.close{
        display:block;
        width:30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        // float: right;
        font-size:1.2em;
        opacity:1;///// conflict fix
        color:$c-white;
        position:absolute;
        top:0;
        right:0;
        z-index:10;
    }



    article{
        padding:0 1em;
        .box{
            border:none;
            padding:0;
            margin:0;
            background-color:$c-white;
            margin-bottom:1em;
            width:100%;
            @include border-radius(2px);
            overflow: hidden;

            &.header{
                background-color:$c-hirely-navy;
                color:$c-white;
                padding-bottom: 2em;
                margin-bottom: 2em;
                position:relative;
                overflow: visible;
                z-index: 2;
            }

            .image{
                padding: 1em 0;
                background-color:$c-hirely-navy;
                color:$c-white;

                .image-wrapper{
                    width:80px;
                    height: 80px;
                    @include border-radius(50%);
                    overflow: hidden;
                    margin: 0 auto;
                    > img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }//// .image-wrapper
                .date{
                    font-size:0.8em;
                    text-align: center;
                }
            }//// .image

            .details{
                padding:0em 1em 1em 1em;
                // background-color:$c-hirely-navy;
                // color:$c-white;
                text-align: center;
                h4{
                    font-size:1.5em;
                    font-weight: 600;
                    text-align:center;
                    @media screen and (min-width:$screen-sm-min){
                        text-align: inherit;
                    }
                }

                a{
                    color:$c-white;
                }
                .job{
                    text-transform: capitalize;
                }

                .answers{
                    .answer{
                        b{
                            font-weight: normal;
                            text-transform:uppercase;
                        }
                    }
                }//// .answers

                .traits{
                    font-weight: 600;
                    font-size:0.8em;
                    strong{
                        display: block;
                        clear: both;
                        font-weight: normal;

                        @media screen and (min-width:$screen-sm-min){
                            display: inline-block;
                            width:100px;
                        }
                    }
                    span{
                        cursor: help;
                    }
                }//// .traits


            }//// .details



            .header-status{
                position:absolute;
                bottom:-12px;
                // margin-bottom: -12px;
                width:100%;

                ul{
                    list-style: none;
                    display: table;
                    width:auto;
                    margin:0 auto;
                    padding:0;
                    li{
                        display: block;
                        background-color:$c-hirely-title-gray;
                        float:left;
                        margin-right:5px;
                        width:65px;
                        text-align:center;
                        height: 24px;
                        line-height: 24px;
                        color:$c-white;
                        font-size:0.75em;
                        @include border-radius(12px);

                        @media screen and (min-width:$screen-sm-min){
                            width:100px;
                            margin-right: 2em;
                            font-size:0.8em;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        &.blue{
                            background-color:$c-hirely-blue;
                            color:$c-white;
                        }
                        &.purple{
                            background-color:$c-hirely-purple;
                            color:$c-white;
                        }
                        &.green{
                            background-color:$c-hirely-green;
                            color:$c-white;
                        }
                        &.red{
                            background-color:$c-hirely-red;
                            color:$c-white;
                        }
                    }
                }
            }//// .header-status

            .title{
                padding:1.3em 1em;
                h5{
                    font-weight: 600;
                    font-size:1.2em;
                    text-transform: uppercase;
                    margin-top:0;
                    margin-bottom: 0;
                }

            }//// .title

            .title.gray{
                background-color:$c-hirely-title-gray;
                color:$c-white;
                h5{
                    font-weight:700;
                    // font-size:1em;
                    text-align: center;
                }
            }

            .score{
                text-align: center;
                display: table;
                width:90px;
                margin:0 auto;
                padding-bottom:1em;
                position:relative;
                height: 100px;

                .border{
                    display: block;
                    width:90px;
                    height: 90px;
                    // border:5px solid $c-hirely-green;
                    background-color:$c-hirely-mid-gray;
                    @include border-radius(50%);
                    position:absolute;
                    z-index:1;

                    &.great{
                        background-color:$c-hirely-green;
                    }
                    &.good{
                        background-color:$c-hirely-green;
                    }
                    &.poor{
                        background-color:$c-hirely-red;
                    }
                    &.ok{
                        background-color:$c-hirely-yellow;
                    }
                    // -webkit-clip-path: polygon(50% 50%, 50% 0%, 100% 0, 100% 50%);
                }
                .circle{
                    width:80px;
                    height: 80px;
                    background-color:$c-hirely-navy;
                    color:$c-white;
                    font-size:2em;
                    line-height: 80px;
                    text-align: center;
                    border: 2px solid $c-white;
                    @include border-radius(40px);
                    margin: 0 auto 0 auto;
                    position:absolute;
                    z-index: 2;
                    top:5px;
                    left:5px;
                }
            }//// .score
            .score-title{
                text-align: center;
                margin-bottom: 1em;
                border-bottom:1px solid $c-hirely-light-gray;
                padding-bottom: 1em;
            }

            .prescreen{
                padding: 1em 1em 1em 1em;
                ul{
                    list-style: none;
                }
                li{
                    margin-bottom: 2em;
                    b{
                        display: block;
                        margin-bottom:1em;
                    }
                }
                li:last-child{
                    margin-bottom: none;
                }
            }//// .prescreen

            .skills{
                padding: 1em 1em 1em 1em;

                .traits{
                    width:100%;
                    margin:0 auto;
                    // border-top:1px solid $c-hirely-light-gray;

                    @media screen and (min-width:$screen-sm-min){
                        width:60%;
                    }
                    h4{
                        padding:1em 0;
                        text-align: center;
                    }
                    .trait{
                        width:100%;

                        margin-bottom: 1em;
                        h5{
                            font-weight: normal;
                            margin:0;
                            margin-bottom:5px;
                        }
                        .scale{
                            width:100%;
                            height: 25px;
                            background-color:$c-hirely-light-gray;
                            .bar{
                                height: 25px;
                                line-height: 25px;
                                padding:0 5px;
                                background-color:$c-hirely-green;
                                text-align:right;
                                color:$c-white;

                            }
                        }
                    }//// .trait
                }//// .traits

            }//// .skills

            .personality{
                padding: 1em 1em 1em 1em;

                .traits{
                    width:100%;
                    margin:0 auto;
                    @media screen and (min-width:$screen-sm-min){
                        width:60%;
                    }
                    h4{
                        padding:1em 0;
                        text-align: center;
                    }
                    .trait{
                        width:100%;

                        margin-bottom: 1em;
                        h5{
                            font-weight: normal;
                            margin:0;
                            margin-bottom:5px;
                        }
                        .scale{
                            width:100%;
                            height: 25px;
                            background-color:$c-hirely-light-gray;
                            .bar{
                                height: 25px;
                                line-height: 25px;
                                padding:0 5px;
                                background-color:$c-hirely-green;
                                text-align:right;
                                color:$c-white;

                            }
                        }
                    }//// .trait
                }//// .traits



                .environment{
                    padding-top:1em;
                    .head{
                        text-align: center;
                    }
                    p{
                        text-align:center;
                    }
                    ul{
                        margin: 0 auto;
                        width:100%;
                        @media screen and (min-width:$screen-sm-min){
                            width:70%;
                        }
                    }
                }
            }//// .personality

            .availability{
                padding: 1em 1em 1em 1em;

                .details{
                    width:100%;
                    margin:0 auto;
                    text-align: center;
                    padding:0;
                    @media screen and (min-width:$screen-sm-min){
                        width:70%;
                    }
                }

                .shifts{
                    width:100%;
                    font-size:0.7em;
                    @media screen and (min-width:$screen-sm-min){
                        width:75%;
                        margin: 0 auto;
                        font-size:1em;
                    }
                    h4{
                        padding:1em 0;
                        text-align: center;
                    }
                    .table{

                    }//// .table
                    .srow{
                        margin-bottom:1em;
                        &:after{
                            content: ' ';
                            display: block;
                            clear:both;
                        }
                        .td{
                            display: block;
                            float:left;
                            margin-right:2.5%;
                            // min-height: 40px;
                            font-size:0.9em;
                            &:last-of-type{
                                margin-right: 0;
                            }
                            @media screen and (min-width:$screen-sm-min){
                                // min-height: auto;
                            }
                        }

                    }
                    .srow-shift{
                        width: 20%;
                        background-color:$c-hirely-light-gray;
                        text-align: center;
                        padding:5px 0;
                        &.shift-title{
                            background-color:$c-hirely-mid-gray;
                            color:$c-white;
                            font-weight:700;
                        }
                        &.shift-match{
                            background-color:$c-hirely-green-2;
                            color:$c-white;
                            font-weight:700;
                        }
                        &.shift-unmatch{
                            background-color:$c-hirely-red;
                            color:$c-white;
                            font-weight:700;
                        }
                        &.shift-no{
                            background-color:$c-white;
                        }
                        &.small{
                            @media screen and (max-width:$screen-sm-min){
                                font-size:0.7em;
                            }
                        }
                    }
                    .srow-label{
                        width:10%;
                        font-weight: 700;
                        text-align: right;
                        padding:5px 0;
                        text-transform: capitalize;
                    }

                }/// .shifts
            }//// .availability

            .experience{
                padding: 1em 1em 1em 1em;
                ul{
                    width:100%;
                    list-style: none;
                    padding-left: 0;
                }
                li{
                    display:block;
                    width:100%;
                    border-bottom:1px solid $c-hirely-light-gray;
                    padding-bottom:1em;
                    margin-bottom: 1em;

                    h6{
                        font-weight: bold;
                        font-size:1.3em;
                        margin-top:0;
                        margin-bottom:5px;

                        span{
                            font-weight: normal;
                        }
                    }
                    .address{
                        margin-bottom: 0.3em;
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .icon{
                        min-height: 74px;
                        width:10%;
                        float:left;
                        text-align: center;
                        font-size:4em;
                        line-height: 74px;
                        display: none;
                        @media screen and (min-width:$screen-sm-min){
                            font-size: 5em;
                            width:20%;
                            display: block;
                        }
                    }
                    .exp{
                        width:100%;
                        float:left;
                        @media screen and (min-width:$screen-sm-min){
                            width:80%;
                        }
                    }
                }
                li:last-child{
                    border-bottom:none;
                    margin-bottom: 0;
                }
                .curriculars{
                    margin-top:1em;
                    ul{
                        padding-left:20px;
                        li{
                            border-bottom:none;
                            padding-bottom:0;
                            padding-top:0;
                            margin-bottom: 0em;
                        }
                        li:before {
                            content: "•";
                            font-size:2em;
                            padding-right: 8px;
                            vertical-align: -5px;
                            line-height: 1em;
                            color: $c-hirely-mid-gray;
                        }
                    }
                }
            }//// .experience

            // .actions{
            //     padding:1.3em 1em;
            //     min-height: 76px;

            //     .menu{
            //         width:auto;
            //         display: none;
            //         height: $candidat-menu-height;
            //         // position:absolute;
            //         left:50%;
            //         // margin-left:-80px;
            //         margin:0 auto;

            //         @media screen and (min-width:$screen-sm-min){
            //             display: table;
            //         }

            //         .inner{
            //             height: $candidat-menu-height;
            //             @include border-radius(2px);
            //             overflow: hidden;
            //         }

            //         .action{
            //             height: $candidat-menu-height;
            //             width:80px;
            //             background-color:$c-hirely-green;
            //             color:$c-white;
            //             text-align: center;
            //             line-height: $candidat-menu-height;
            //             float:left;
            //         }
            //         .action.disabled{
            //             cursor:not-allowed;
            //         }
            //         .action[disabled="disabled"]{
            //             cursor:not-allowed;
            //         }
            //         a{
            //             float:left;
            //             display: block;
            //             width:$candidat-menu-height;
            //             height: $candidat-menu-height;
            //             line-height: $candidat-menu-height;
            //             text-align: center;
            //             color:$c-white;
            //             background-color:$c-hirely-mid-gray;
            //             font-size: 2em;
            //             margin-right: 5px;
            //         }
            //         a:last-of-type{
            //             margin-right: 0;
            //         }

            //         .red{
            //             background-color:$c-hirely-red;
            //         }
            //         .green{
            //             background-color:$c-hirely-green;
            //         }
            //         .purple{
            //             background-color: $c-hirely-purple;//#C653FF
            //         }

            //     }//// .menu
            // }//// .actions

            .contacts{
                padding:1em;
                ul{
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    width:100%;

                }
                li{
                    display: block;
                    width:100%;
                    margin-bottom: 0.5em;
                    line-height: 30px;
                    font-size: 1.2em;
                    font-weight: 700;

                    .icon{
                        display: inline-block;
                        width:30px;
                        height: 30px;
                        margin-right: 0.5em;
                        line-height: 30px;
                        text-align: center;
                        background-color:$c-hirely-gray;
                        color:$c-white;
                        font-weight: 400;
                        @include border-radius(15px);
                    }
                    .icon.blue{
                        background-color:$c-hirely-blue;
                    }
                    .icon.green{
                        background-color:$c-hirely-green;
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
                a{
                    color:$c-hirely-mid-gray;

                }
            }
        }//// .box

        .arrows{
            button{
                width:46%;
                padding-top:15px;
                padding-bottom:15px;
                font-size: 1.5em;
                @include border-radius(2px);

                @media screen and (min-width:$screen-sm-min){
                    position:fixed;
                    top:100px;
                    z-index: 10000;
                    width:50px;
                    padding:0;
                    background-color:transparent;
                    font-size:3em;
                    &:nth-child(1){
                        right:100%;
                    }
                    &:nth-child(2){
                        left:100%;
                    }
                }
            }
        }//// .arrows

        .box-activity{
            width:100%;

            .title{
                padding:1.3em 1em;
                h5{
                    font-weight: 600;
                    font-size:1.2em;
                    text-transform: uppercase;
                    margin-top:0;
                    margin-bottom: 0;
                }
            }//// .title

            .list{
                padding: 0 0em;
                ul{
                    display: table;
                    padding-left: 0;
                    list-style: none;
                    width:100%;
                }
                li{
                    display: block;
                    width:100%;
                    margin-bottom: 1em;

                    h6{
                        margin-bottom: 4px;
                    }

                    .details{
                        width:100%;
                        background-color:$c-hirely-light-gray;
                        overflow: hidden;
                        display: block;
                    }
                    .icon{
                        display: block;
                        width:40px;
                        padding-top:1em;
                        float:left;
                        height: 100%;
                        text-align: center;
                        i{
                            font-size:24px;
                            width:24px;
                            height: 24px;

                            // @include vertical-align();
                            color:inherit;
                        }
                    }
                    .body{
                        padding:1em 1em 1em 1em;
                        margin-left: 40px;
                        background-color:$c-white;
                    }
                    .red{
                        color:$c-hirely-red;
                    }
                    .green{
                        color:$c-hirely-green;
                    }
                    .blue{
                        color:$c-hirely-blue;
                    }
                    .gray{
                        color:$c-hirely-mid-gray;
                    }
                    .purple{
                        color:$c-hirely-purple;
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
        }///// .box-activity

    }//// article

}//// candidate-details

.modal-max-900{
    max-width:900px;
    margin:0 auto;
}
.floating-actions{
    display: block;
    width:100%;
    position:fixed;
    bottom:0;
    padding:1em;
    z-index:2000;
    .btns{
        display: table;
        width:auto;
        margin:0 auto;

        .btn{
            float:left;
            margin-right:1em;
            font-size:1em;
            color:$c-white;
            @include drop-shadow(1px, 2px, 5px, 1px, 0.3);
            background-color:$c-hirely-mid-gray;
            i{
                margin:0;
                padding:0;
            }
            &:last-of-type{
                margin-right: 0;
            }
            &.btn-red{
                background-color:$c-hirely-red;
            }
            &.btn-green{
                background-color:$c-hirely-green;
            }
            &.btn-purple{
                background-color:$c-hirely-purple;
            }
        }
    }
}