$sub-header-height:60px;
$candidat-menu-height:60px;
.business{
    .wrapper{
        background-color:$c-hirely-gray;

    }//// .wrapper

    .sub-header{
        display: block;
        width:100%;
        // min-height: $sub-header-height;
        background-color:$c-hirely-light-gray;
        @include drop-shadow();

        .title{
            position: absolute;
            float:none;
            width:40%;
            margin:0 auto;
            padding: 0;
            top:-60px;
            left: 0;
            color:$c-white;
            display: none;



            @media screen and (min-width:$screen-sm-min){
                margin-left:160px;
                display: block;
            }

            h2{
                font-weight: normal;
                font-size:1.5em;

                a{
                    color:$c-white;
                }

                .icon{
                    font-size:0.8em;
                    display: inline-block;
                    margin-left:0.5em;
                }
            }/// h2

            .menu{
                list-style:none;
                display: block;
                width:300px;
                padding:0;
                position:absolute;
                left:0;
                top:60px;
                z-index: 10;

                li{
                    display: block;
                    width:100%;
                    height: 50px;
                    background-color:$c-white;
                    border:1px solid $c-hirely-mid-gray;
                    margin-top:-1px;

                    a{
                        color:$c-hirely-mid-gray;
                        display: block;
                        width:100%;
                        height: 48px;
                        padding:5px;
                    }

                    a:hover{
                        background-color:$c-hirely-red;
                        color:$c-white;
                    }

                    span{
                        display:block;
                        font-size:0.8em;
                    }
                }//// li

                li.active{
                    a{
                        background-color:$c-hirely-red;
                        color:$c-white;
                    }
                }
            } //// .menu
        }//// .title

        // .buttons{
        //     float:left;
        //     width:60%;
        //     padding-top:13px;

        //     input[type="text"]{
        //         border: 1px solid $c-hirely-mid-gray;
        //         line-height: 30px;
        //         padding:2px 5px;
        //         @include border-radius(2px);
        //         width:50%;
        //         float:left;
        //         margin-right:1em;
        //     }
        //     .btn{
        //         border:none;
        //         margin-top:-1px;
        //         @include border-radius(2px);
        //         float:left;
        //         padding-top:9px;
        //         padding-bottom:9px;
        //     }
        // }

    }/// .sub-header

    .content{
        margin-top:0;
        padding-top:0;
        padding-bottom:0;
    }

    .status-bar{
        width:100%;
        margin:0 0;

        .drop{
            display: block;
            width:10%;
            height: 60px;
            float:right;
            font-size:2em;
            line-height: 60px;
            text-align: center;
            color:$c-hirely-mid-gray;
            @media screen and (min-width:$screen-sm-min){
                display: none;
            }
        }

        ul{
            display: table;
            width:90%;
            float:left;
            list-style: none;
            padding-left:0;
            margin-bottom:0;

            @media screen and (min-width:$screen-sm-min){
                width:auto;
                margin:0 auto;
                float:none;
            }


            li{
                display: block;
                float:left;
                width:100%;
                padding-right:2px;
                @media screen and (min-width:$screen-sm-min){
                    padding-right:5px;
                    width:auto;
                }
                .btn{
                    width:100%;
                    height: 60px;
                    text-align: center;
                    // padding-left:0;
                    // padding-right:0;
                    // font-size:0.8em;
                    border:0;
                    display: none;
                    @include border-radius(2px);
                    @media screen and (min-width:$screen-sm-min){
                        width:105px;
                        font-size:1em;
                        padding-left:0;
                        padding-right:0;
                        display: inline-block;
                    }
                    // span{
                    //     display:none;
                    //     @media screen and (min-width:$screen-sm-min){
                    //         display:inline;
                    //     }
                    // }
                }
                .btn.active{
                    display: inline-block;
                }
                .btn.red{
                    @media screen and (max-width:$screen-sm-min){
                        background-color:$c-hirely-light-gray;
                        border-color:$c-hirely-light-gray;
                        color:$c-hirely-mid-gray!important;
                        border:0 solid $c-hirely-light-gray;
                        @include box-shadow(none);
                    }
                }
            }
            li:last-child{
                padding-right: 0;
            }

        } //// ul

        ul.show{
            background-color:$c-white;
            position:absolute;
            top:0;
            left:0;
            z-index:1000;
            @include drop-shadow();
            .btn{
                display: inline-block;
            }
        }
    } //// .status-bar

    .body{
        padding-top:1em;
        padding-bottom:1em;
    }

    .box{
        border:none;
        padding:0;
        margin:0;
        background-color:$c-white;
        margin-bottom:1em;
        width:100%;
        @include border-radius(2px);
        overflow: hidden;

        .header{
            background-color:$c-hirely-light-gray;
            @include box-shadow(0);
            @include drop-shadow(0, 0, 0, 0);
            padding:1.3em 1em 1.1em 1em;
            overflow: visible;
            // height: 300px;


            h3{
                margin-top:0;
                margin-bottom: 0;
                font-weight: 400;
                font-size:1.5em;
                text-transform: uppercase;
                display: table;
                width:auto;
                clear:none;
                float:left;

                .icon{
                    display: inline-block;
                    vertical-align: -2px;
                }
            }

            a{
                // line-height: 2em;
                color:$c-hirely-mid-gray;
                float:right;
                // font-size:0.8em;
            }

            .drop-down{
                width:100px;
                float:right;
                position:absolute; //// absolute is to fix the overflow hidden set on .box
                height: 30px;
                @include border-radius(2px);
                overflow: visible;
                top:15px;
                right:26px;

                a{
                    display: block;
                    width:100%;
                    height: 30px;
                    line-height: 30px;
                    background-color:$c-white;
                    padding:0 0 0 10px;
                }
                .value{
                    float:left;
                }
                .icon{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    float:right;
                }

                ul{
                    display: block;
                    padding-left:0;
                    list-style: none;
                    width:100px;
                    position:absolute;
                    top:31px;
                    left:0;
                    z-index: 10000;
                    @include drop-shadow();

                    li{
                        display: block;
                        width:100%;
                        height: 30px;


                        a{
                            display: block;
                            width:100%;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;
                            background-color:$c-white;
                            border-bottom:1px solid $c-hirely-light-gray;
                        }
                        a:hover{
                            background-color: $c-hirely-light-gray;
                            color:$c-hirely-red;
                        }
                    }
                    li:last-child{
                        a{
                            border-bottom:none;
                        }
                    }
                    li.active{
                        a{
                            background-color:$c-hirely-red;
                            color:$c-white;
                        }
                    }
                }//// ul
            }//// .drop-down
        }//// .header

        .inner{

        }//// .inner
        .inner.padding{
            padding:1.3em;
        }

        .inner.list{
            ul{
                list-style: none;
                width:100%;
                padding-left:0;
                margin-bottom: 0;

                li{
                    display:block;
                    width:100%;
                    border-bottom:1px solid $c-hirely-light-gray;

                    a{
                        width:100%;
                        display: block;
                        padding:1em;
                        color:$c-hirely-light-gray;
                    }
                    a:hover{
                        color:$c-hirely-red;
                    }
                }//// li

                li:last-child{
                    border-bottom:none;
                }
            }//// ul

        }//// inner.list

        .filter-item{
            float:left;
            margin-right:0.5em;
            padding:8px;

            .icon{
                margin-left:2px;
                vertical-align: -1px;
                color:$c-hirely-mid-gray;
            }
        }

    }//// .box

    .candidates-list{
        width:100%;
        margin-top: 1em;

        .candidate{
            padding:1.3em;
            background-color:$c-white;
            @include border-radius(2px);
            position:relative;
            margin-bottom: 1em;



            .image{
                // @include vertical-align();

                .image-wrapper{
                    width:80px;
                    height: 80px;
                    @include border-radius(50%);
                    overflow: hidden;
                    margin: 0 auto;
                    > img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }//// .image-wrapper

                .tag{
                    display:table;
                    background-color:rgba(0, 0, 0, 0.5);
                    border:2px solid $c-white;
                    color:$c-white;
                    height: 20px;
                    width:70px;
                    line-height: 20px;
                    @include border-radius(10px);
                    font-size:0.8em;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top:-10px;
                    z-index: 1;
                    position:relative;
                }
                .date{
                    width:100%;
                    text-align: center;
                    font-size:0.8em;
                }
            }//// .image

            .details{

                h4{
                    font-size:1.5em;
                    font-weight: 600;
                    text-align:center;
                    @media screen and (min-width:$screen-sm-min){
                        text-align: inherit;
                    }
                }

                .fit-scale{
                    display:table;
                    width:auto;
                    height: 15px;
                    margin: 0 auto;
                    margin-bottom: 1em;

                    @media screen and (min-width:$screen-sm-min){
                        margin: 0 0;
                        margin-bottom: 1em;
                    }

                    i{
                        display: block;
                        width:15px;
                        height: 15px;
                        float:left;
                        margin-right:1px;
                        background-color:$c-hirely-light-gray;
                    }
                    i.great{
                        background-color:$c-hirely-green;
                    }
                    i.good{
                        background-color:$c-hirely-green;
                    }
                    i.poor{
                        background-color:$c-hirely-red;
                    }
                    i.ok{
                        background-color:$c-hirely-yellow;
                    }
                    .legend{
                        font-size:0.8em;
                        font-weight: 600;
                        float:left;
                        margin-left:0.5em;
                        line-height: 15px;
                    }
                } //// .fit-scale

                .answers{
                    .answer{
                        b{
                            font-weight: normal;
                            text-transform:uppercase;
                        }
                    }
                }//// .answers

                .traits{
                    font-weight: 600;
                    font-size:0.8em;
                    strong{
                        display: block;
                        clear: both;
                        font-weight: normal;

                        @media screen and (min-width:$screen-sm-min){
                            display: inline-block;
                            width:100px;
                        }
                    }

                }//// .traits

                .more-link{
                    text-align:center;

                    @media screen and (min-width:$screen-sm-min){
                        text-align: left;
                    }
                    .btn{
                        @include border-radius(2px);
                    }
                }

            }//// .details

            .menu{
                width:auto;
                display: none;
                height: $candidat-menu-height;
                position:absolute;
                top:0;
                right:0;

                z-index: 100;


                @media screen and (min-width:$screen-sm-min){
                    display: table;
                }

                .inner{
                    height: $candidat-menu-height;
                    @include border-radius(2px);
                    overflow: hidden;
                }

                .action{
                    height: $candidat-menu-height;
                    width:80px;
                    background-color:$c-hirely-green;
                    color:$c-white;
                    text-align: center;
                    line-height: $candidat-menu-height;
                    float:left;
                }
                .action.disabled{
                    cursor:not-allowed;
                }
                .action[disabled="disabled"]{
                    cursor:not-allowed;
                }
                a{
                    float:left;
                    display: block;
                    width:$candidat-menu-height;
                    height: $candidat-menu-height;
                    line-height: $candidat-menu-height;
                    text-align: center;
                    color:$c-white;
                    font-size:2em;
                    background-color:$c-hirely-mid-gray;
                    margin-right:5px;
                }

                a:last-of-type{
                    margin-right: 0;
                }

                .red{
                    background-color:$c-hirely-red;
                }
                .green{
                    background-color:$c-hirely-green;
                }
                .purple{
                    background-color: $c-hirely-purple;//#C653FF
                }
            }//// .menu
        }//// .candidate
    }//// .candidates-list




}//// .business

.candidate-details{
    padding: 0;
    padding-top:2em;
    position:relative;
    @media screen and (min-width:$screen-sm-min){
        padding-top:0;
    }
    a.close{
        display:block;
        width:30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position:absolute;
        top:15px;
        right:15px;
        font-size:1.2em;
        opacity:1;///// conflict fix
        color:$c-hirely-mid-gray;
    }
    header{
        padding: 0 1.3em;
        // background-color:$c-hirely-blue;
        display: none;
        @media screen and (min-width:$screen-sm-min){
            display: block;
        }
        .menu{
            ul{
                list-style: none;
                padding-left:0;
            }
            li{
                float:left;
                margin-right:3em;
                height: 60px;
                line-height: 60px;
                display: none;
                @media screen and (min-width:$screen-sm-min){
                    display: block;
                }
                a{
                    color:$c-hirely-mid-gray;
                }
            }
            li:last-child{
                margin-right: 0;
            }
            li.active{
                display:block;
            }

        }
    }//// head
    header.active{
        background-color:$c-hirely-mid-gray;
        .menu{
            li{
                a{
                    color:$c-white;
                }
            }
            li.active{
                font-weight: 700;
                border-bottom:4px solid $c-white;
            }
            li.all{
                a{
                    color:$c-hirely-red;
                }
                font-weight: 700;
            }

        }//// .menu

        a.close{
            color:$c-hirely-gray;
        }

    }//// header.active

    .mobile-menu{
        display: block;
         @media screen and (min-width:$screen-sm-min){
            display: none;
        }

        ul{
            list-style: none;
            padding-left:0;
            margin:0 auto;
            display: table;
            width:auto;
        }
        li{
            float:left;
            margin-right:1em;
            height: 60px;
            line-height: 60px;
            display:none;

        }
        li.active{
            display: block;
        }
        li.arrow{
            display:block;
        }
        li.arrow.right{
            float:right;
        }
        li:last-child{
            margin-right: 0;
        }
    }

    article{
        padding:1em 1em;
        .box{
            border:none;
            padding:0;
            margin:0;
            background-color:$c-white;
            margin-bottom:1em;
            width:100%;
            @include border-radius(2px);
            overflow: hidden;
            // padding:1em;

            .image{
                padding: 1.3em 0 1.3em 1em;
                .image-wrapper{
                    width:80px;
                    height: 80px;
                    @include border-radius(50%);
                    overflow: hidden;
                    margin: 0 auto;
                    > img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }//// .image-wrapper
                .date{
                    font-size:0.8em;
                    text-align: center;
                }
            }//// .image

            .details{
                padding:1.3em 1em 1.3em 1em;
                h4{
                    font-size:1.5em;
                    font-weight: 600;
                    text-align:center;
                    @media screen and (min-width:$screen-sm-min){
                        text-align: inherit;
                    }
                }

                .fit-scale{
                    display:table;
                    width:auto;
                    height: 15px;
                    margin: 0 auto;
                    margin-bottom: 1em;


                    @media screen and (min-width:$screen-sm-min){
                        margin: 0 0;
                        margin-bottom: 1em;
                    }

                    i{
                        display: block;
                        width:15px;
                        height: 15px;
                        float:left;
                        margin-right:1px;
                        background-color:$c-hirely-light-gray;
                    }
                    i.great{
                        background-color:$c-hirely-green;
                    }
                    i.good{
                        background-color:$c-hirely-green;
                    }
                    i.poor{
                        background-color:$c-hirely-red;
                    }
                    i.ok{
                        background-color:$c-hirely-yellow;
                    }
                    .legend{
                        font-size:0.8em;
                        font-weight: 600;
                        float:none;
                        text-align: center;
                        display: block;
                        margin-left:0.5em;
                        line-height: 15px;
                        @media screen and (min-width:$screen-sm-min){
                            float:left;
                            text-align: left;
                        }
                    }
                } //// .fit-scale

                .answers{
                    .answer{
                        b{
                            font-weight: normal;
                            text-transform:uppercase;
                        }
                    }
                }//// .answers

                .traits{
                    font-weight: 600;
                    font-size:0.8em;
                    strong{
                        display: block;
                        clear: both;
                        font-weight: normal;

                        @media screen and (min-width:$screen-sm-min){
                            display: inline-block;
                            width:100px;
                        }
                    }
                    span{
                        cursor: help;
                    }
                }//// .traits

                .status{
                    display: block;
                    font-size:0.8em;
                    font-weight: 700;
                    text-align: center;
                    @media screen and (min-width:$screen-sm-min){
                        display: none;
                    }

                    .applied{
                        color:$c-hirely-blue;
                    }
                    .declined{
                        color:$c-hirely-red;
                    }
                    .contacted, .hired{
                        color:$c-hirely-green;
                    }
                }
            }//// .details

            .details.center{
                h4{
                    text-align: center;
                }
                .fit-scale{
                    margin: 0 auto;
                    text-align: center;
                    .legend{
                        // float:none;
                        // display: block;
                    }
                }
            }

            .title{
                padding:1.3em 1em;
                h5{
                    font-weight: 600;
                    font-size:1.2em;
                    text-transform: uppercase;
                    margin-top:0;
                    margin-bottom: 0;
                }
                .info{
                        display: block;
                        width:22px;
                        height: 22px;
                        float:right;
                        @include border-radius(11px);
                        background-color:$c-hirely-red;
                        color:$c-white;
                        text-align: center;
                        font-weight: 700;
                        font-size:0.8em;
                        line-height: 22px;
                    }
            }//// .title
            .title.blue{
                background-color:$c-hirely-blue;
                color:$c-white;
                h5{
                    font-weight:700;
                    font-size:1em;
                }
            }
            .title.green{
                background-color:$c-hirely-green;
                color:$c-white;
                h5{
                    font-weight:700;
                    font-size:1em;
                }
            }
            .title.red{
                background-color:$c-hirely-red;
                color:$c-white;
                h5{
                    font-weight:700;
                    font-size:1em;
                }
            }
            .title.gray{
                background-color:$c-hirely-mid-gray;
                color:$c-white;
                h5{
                    font-weight:700;
                    font-size:1em;
                }
            }

            .prescreen{
                padding: 0 1em 1em 1em;
                ul{
                    list-style: none;
                }
                li{
                    margin-bottom: 2em;
                    b{
                        display: block;
                        margin-bottom:1em;
                    }
                }
                li:last-child{
                    margin-bottom: none;
                }
            }//// .prescreen

            .personality{
                padding: 0 1em 1em 1em;
                .head{
                    text-align: center;
                    font-size: 1.4em;
                    padding-bottom:1em;

                    .Visionary{
                        color:#953ecf;
                    }
                    .Mentor{
                        color:#e62f34;
                    }
                    .Analyzer{
                        color:#369ee2;
                    }
                    .Action-Taker{
                        color:#e05d26
                    }
                    .Iventory{
                        color:#59DDB0;
                    }
                    .Naturalist{
                        color:#4eb73d;
                    }
                    .Planner{
                        color:#f3c927;
                    }


                }//// .head
                .traits{
                    .col{
                        display: block;
                        width:50%;
                        float:left;
                        text-align: center;
                        div{
                            display:block;
                            margin-bottom: 1em;
                        }
                        strong{
                            display:block;
                            margin-bottom: 1em;
                        }
                    }
                    .col:first-child{
                        border-right:1px solid $c-hirely-mid-gray;
                    }
                }
                .environment{
                    padding-top:1em;
                    p{
                        text-align:center;
                    }
                    ul{
                        margin: 0 auto;
                        width:100%;
                        @media screen and (min-width:$screen-sm-min){
                            width:70%;
                        }
                    }
                }
            }//// .personality

            .timetable{
                padding: 0 1em 1em 1em;
                .days-list{

                    li{
                        position:relative;
                        width:50px;
                        height: 50px;
                        line-height: 50px;
                        margin-bottom:20px;
                        a{

                            height: 50px;
                        }

                    }
                    li.active:after{
                        position:absolute;
                        bottom:-10px;
                        left:50%;
                        margin-left:-10px;
                        display: block;
                        content:" ";
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $c-hirely-mid-gray;
                    }
                }
            }//// .timetable

            .experience{
                padding: 0 1em 1em 1em;
                ul{
                    width:100%;
                    list-style: none;
                    padding-left: 0;
                }
                li{
                    display:block;
                    width:100%;
                    border-bottom:1px solid $c-hirely-light-gray;
                    padding-bottom:1em;
                    margin-bottom: 1em;

                    h6{
                        font-weight: bold;
                        font-size:1.3em;
                        margin-top:0;
                        margin-bottom:5px;

                        span{
                            font-weight: normal;
                        }
                    }
                    .address{
                        margin-bottom: 0.3em;
                        p{
                            margin-bottom: 0;
                        }
                    }
                    .icon{
                        min-height: 74px;
                        width:10%;
                        float:left;
                        text-align: center;
                        font-size:4em;
                        line-height: 74px;
                        display: none;
                        @media screen and (min-width:$screen-sm-min){
                            font-size: 5em;
                            width:20%;
                            display: block;
                        }
                    }
                    .exp{
                        width:100%;
                        float:left;
                        @media screen and (min-width:$screen-sm-min){
                            width:80%;
                        }
                    }
                }
                li:last-child{
                    border-bottom:none;
                    margin-bottom: 0;
                }
                .curriculars{
                    margin-top:1em;
                    ul{
                        padding-left:20px;
                        li{
                            border-bottom:none;
                            padding-bottom:0;
                            padding-top:0;
                            margin-bottom: 0em;
                        }
                        li:before {
                            content: "•";
                            font-size:2em;
                            padding-right: 8px;
                            vertical-align: -5px;
                            line-height: 1em;
                            color: $c-hirely-mid-gray;
                        }
                    }
                }
            }//// .experience

            .actions{
                padding:1.3em 1em;
                min-height: 76px;

                .menu{
                    width:auto;
                    display: none;
                    height: $candidat-menu-height;
                    // position:absolute;
                    left:50%;
                    // margin-left:-80px;
                    margin:0 auto;

                    @media screen and (min-width:$screen-sm-min){
                        display: table;
                    }

                    .inner{
                        height: $candidat-menu-height;
                        @include border-radius(2px);
                        overflow: hidden;
                    }

                    .action{
                        height: $candidat-menu-height;
                        width:80px;
                        background-color:$c-hirely-green;
                        color:$c-white;
                        text-align: center;
                        line-height: $candidat-menu-height;
                        float:left;
                    }
                    .action.disabled{
                        cursor:not-allowed;
                    }
                    .action[disabled="disabled"]{
                        cursor:not-allowed;
                    }
                    a{
                        float:left;
                        display: block;
                        width:$candidat-menu-height;
                        height: $candidat-menu-height;
                        line-height: $candidat-menu-height;
                        text-align: center;
                        color:$c-white;
                        background-color:$c-hirely-mid-gray;
                        font-size: 2em;
                        margin-right: 5px;
                    }
                    a:last-of-type{
                        margin-right: 0;
                    }

                    .red{
                        background-color:$c-hirely-red;
                    }
                    .green{
                        background-color:$c-hirely-green;
                    }
                    .purple{
                        background-color: $c-hirely-purple;//#C653FF
                    }

                }//// .menu
            }//// .actions

            .contacts{
                padding:1em;
                ul{
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    width:100%;

                }
                li{
                    display: block;
                    width:100%;
                    margin-bottom: 0.5em;
                    line-height: 30px;
                    font-size: 1.2em;
                    font-weight: 700;

                    .icon{
                        display: inline-block;
                        width:30px;
                        height: 30px;
                        margin-right: 0.5em;
                        line-height: 30px;
                        text-align: center;
                        background-color:$c-hirely-gray;
                        color:$c-white;
                        font-weight: 400;
                        @include border-radius(15px);
                    }
                    .icon.blue{
                        background-color:$c-hirely-blue;
                    }
                    .icon.green{
                        background-color:$c-hirely-green;
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
                a{
                    color:$c-hirely-mid-gray;

                }
            }
        }//// .box

        .arrows{
            button{
                width:46%;
                padding-top:15px;
                padding-bottom:15px;
                @include border-radius(2px);
            }
        }//// .arrows

        .box-activity{
            width:100%;

            .title{
                padding:1.3em 1em;
                h5{
                    font-weight: 600;
                    font-size:1.2em;
                    text-transform: uppercase;
                    margin-top:0;
                    margin-bottom: 0;
                }
            }//// .title

            .list{
                padding: 0 0em;
                ul{
                    display: table;
                    padding-left: 0;
                    list-style: none;
                    width:100%;
                }
                li{
                    display: block;
                    width:100%;
                    margin-bottom: 1em;

                    h6{
                        margin-bottom: 4px;
                    }

                    .details{
                        width:100%;
                        background-color:$c-white;
                        overflow: hidden;
                    }
                    .icon{
                        display: inline-block;
                        width:40px;
                        background-color:$c-hirely-light-gray;
                        float:left;
                        margin-right: 1em;
                        padding:1em 0;
                        text-align: center;
                        i{
                            font-size:1.5em;
                            // line-height: 0.75em;
                            //
                            color:inherit;
                        }
                    }
                    .body{
                        padding:1em 0;
                    }
                    .red{
                        color:$c-hirely-red;
                    }
                    .green{
                        color:$c-hirely-green;
                    }
                    .blue{
                        color:$c-hirely-blue;
                    }
                    .gray{
                        color:$c-hirely-mid-gray;
                    }
                    .purple{
                        color:$c-hirely-purple;
                    }
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
        }///// .box-activity

    }//// article
}//// candidate-details

