
.position{
    .padding{
        padding-left:2em;
        padding-right:2em;
    }

    .hero{

        img{
            display: block;
            width:100%;
            margin:0 auto;
            height: auto;
        }
    }
    .header{
        padding-top:2em;
        padding-bottom:1em;
        position:relative;

        .logo{
            display: none;
            width:100%;
            top:-180px;
            position:absolute;
            @media screen and (min-width:$screen-sm-min){
                display: block;
            }

            .circle{
                width:200px;
                height:200px;
                margin:0 auto;
                background-color:#fff;
                @include border-radius(100px);
                @include drop-shadow();
            }
        }//// .logo

        .title{
            h1, h2, h3{
                font-weight: normal;
                padding-top:0;
                padding-bottom:0;
                margin-top:0;
                margin-bottom:7px;
                text-align: center;
                @media screen and (min-width:$screen-sm-min){
                    text-align: left;
                }
            }
            h1{
                font-size:1.6em;
            }
            h2{
                font-size:1.3em;
            }
            h3{
                font-size:1em;
            }
            .icon{
                display:block;
                float:none;
                margin-right:auto;
                margin-left:auto;
                font-size:5em;
                width:80px;
                height:80px;
                text-align: center;
                line-height: 80px;
                color:$c-hirely-blue;
                @media screen and (min-width:$screen-sm-min){
                    float:left;
                    margin-right: 10px;
                }
            }
        }//// .title

        .features{
            padding-left:0;
            @media screen and (min-width:$screen-sm-min){
                padding-left:15%;
            }

            ul{
                list-style:none;
                display: table;
                width:100%;
                float:none;
                margin:0 auto;
                padding-left:0;
                @media screen and (min-width:$screen-sm-min){
                    float:right;
                }
            }
            li{
                display: block;
                // margin-right:10px;
                text-align: center;
                // background-color:#ff0;
                float:left;
                width:25%;
                padding-left: 5px;
                padding-right:5px;
                .icon{
                    display:block;
                    font-size:3em;
                    width:60px;
                    height: 60px;
                    line-height: 60px;
                    margin:0 auto;
                }
            }
            li:last-child{
                padding-right:0;
            }
        }//// .features
    }
}/// .job