$header-height: 60px;
$footer-height: 60px;

.profile{
	padding-bottom:$footer-height;

	header{
		width:100%;
		// background-color:$c-hirely-gray;
		.steps{
			min-height: $header-height;
			@include drop-shadow;

			> ul{
				list-style:none;
				display: table;
				width:auto;
				margin: 0 auto;
				padding-left:0;
				@include transition-all();
			}
			> ul li{
				display: inline-block;
				float: left;
				margin-right: 4em;
				line-height:$header-height;
				@include transition-all();
				@media screen and (min-width:$screen-xs-min){
					margin-right: 6em;
				}

			}
			> ul li:last-child{
				margin-right:0;
			}
			> ul li a{
				color:$c-hirely-text-gray;
				@include transition-all();
			}
			> ul li.active a{
				color:$c-hirely-red;
				font-weight: 700;
				border-bottom: 1px double $c-hirely-red;
				font-size:1.1em;

			}
			> ul li.remove{
				width:0;
				overflow: hidden;
				margin-right: 0;
			}
		}
	}//// header

	footer{
		background-color: $c-hirely-gray;
		min-height: $footer-height;
		position: fixed;
		bottom:0;
		width:100%;
		z-index: 1000;

		.left{
			height: $footer-height;
		}/// .left

		.center{
			display: table;
			width:auto;
			margin: 0 auto;
			font-size: 0.9em;

			> *{
				display: block;
				margin-top:4px;
			}
		}//// .center

		.right{
			height: $footer-height;
			text-align: right;
		}//// .right

		button{
			padding: 0.5em 1em;
			@media screen and (min-width:$screen-xs-min){
				padding: 0.5em 4em;
			}
		}

		button.next{
			background-color:$c-hirely-red;
			color:$c-white;
			@include vertical-align;
		}
		button.back{
			// background-color:$c-hirely-mid-gray;
			color:$c-white;
			@include vertical-align;
		}

		.red{
			color:$c-hirely-red;
		}

		.progress-bar{
			width:100px;
			height: 8px;
			background-color:$c-hirely-text-gray;
			@include border-radius(4px);
			float:none;
			@media screen and (min-width:$screen-xs-min){
				width:200px;
			}

			> span{
				display: block;
				width:50%;
				height: 8px;
				background-color:$c-white;
				@include border-radius(4px);
				@include transition-all();
			}
		}
	}//// footer
}//// .profile
.form-loader{
	width:40px;
	margin:0 auto;
	padding: 15em 0 0 0;
	min-height:400px;
}
.form-container{
	width:90%;
	margin:0 auto;
	padding: 2em 0;
	// background-color:#eee;
	min-height:400px;
	@media screen and (min-width:$screen-xs-min){
		width:40%;
	}
}/// .form-container

.user-profile-basic{

	.user-image{
		width:150px;
		margin: 0 auto;
		> img{
			display: block;
			max-width:100%;

		}
	}//// .user-image

	.image-links{
		padding-top:0.5em;
		font-size:0.9em;
	}
}//// .user-profile-basic

.hirely-form{

	.field-wrapper{
		padding-top:3em;
	}//// field-wrapper

	.feedback-valid{
		display: none;
		color:$light-grass-green;
	}
	.feedback-error{
		display: none;
		color:$c-hirely-red;
	}

	.field-wrapper.error{
		.feedback-valid{
			display:none;
		}
		.feedback-error{
			display:inline-block;
		}
		.text-field{
			border-color:$c-hirely-red;
		}
		label{
			color:$c-hirely-red;
		}
	}

	.field-wrapper.valid{
		.feedback-valid{
			display:inline-block;
		}
		.feedback-error{
			display:none;
		}
		.text-field{
			// border-color:$c-hirely-red;
		}
		label{
			// color:$c-hirely-red;
		}
	}

	label{
		display: block;
		color:$c-hirely-mid-gray;
		font-weight: 300;
		text-transform:uppercase;
		font-size:0.9em;
		margin-bottom: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="phone"],
	input[type="email"]{
		border:none;
		border-bottom:1px solid $c-hirely-text-gray;
		color:#000;
		padding:0.3em 0;
		width:100%;
		// background-color:#ccc;
	}

	input:focus{
		outline:none;
	}
}//// .hirely-form