
    <!-- ******PROMO****** -->
<section id="promo" class="promo section">

    <div class="fixed-container">

        <div class="search" ng-controller="HomeCtrl">
            <div class="container text-center">
                <h1 class="title">Opportunity Awaits</h1>
                <form class="search-form" ng-submit="getResults()">
                    <!-- ****** Not for BETA ******  <div class="form-group">
                         <input type="text" id="search" ng-model="selected" typeahead="job as job.Lay_Title for job in jobs | filter:{Lay_Title:$viewValue} | limitTo:15" typeahead-on-select="onSelect($Code)"class="form-control" ng-init="" placeholder="What's your next gig?">
                     </div>-->
                    <div class="form-group">
                        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="results" details="details" ng-model="results"  options="options" on-Place-Changed="getResults()" required placeholder="Where's your next gig?"/>
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary btn-search">
                        <span class="btn-search-inner"></span>
                    </button>
                </form><!--//search-form-->
            </div><!--//contianer-->
        </div><!--//search-->

    </div>
    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider" flexslider>
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
                <li class="slide slide-4"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->
</section><!--//promo-->


<!-- *****getStarted****** -->
<section id="getStarted" class="getStarted section">
    <div class="intro row">

        <div class="side-left col-md-6">
            <div align="center" class="intro-content">

                <h3><span>Landing a job shouldn't be a job</span><span></span></h3>
                <h5>Search and apply for our local hourly job opportunities quickly and easily</h5>
                <a href="#works" class="btn btn-cta-blue">Start Working</a>
            </div>
        </div>
        <div class="side-right col-md-6">
            <div align="center" class="intro-content">
                <h3><span>Hiring isn't your only job</span><span></span></h3>
                <h5>Let us focus on recruiting so you can focus on your running your small business</h5>
                <a href="#works" class="btn btn-cta">Start Hiring</a>
            </div><!-- /intro content -->
        </div><!-- /side right -->
    </div>
</section><!--//why-->
    <!-- ******WHY****** -->
    <section id="why" class="why section">
        <div class="container">
            <h2 class="title text-center">We totally get it</h2>
            <p class="intro text-center">We are disrupting the way local hourly talent and small businesses connect.</p>
            <img  src="img/hirely_protos.png">
            <div class="row services">

                <!-- FIRST FOCUS BOXES -->
                <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="service-icon">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h5 class="red-border-bottom">Informative Listings</h5>
                    <p> <!-- FOCUS DESCRIPTION -->
                        Detailed job cards show you the information that's most important. Hirely ensures jobs are active and informative.                   </p>
                </div>
                <!-- / END FIRST FOCUS BOX. Other boxes has same format -->

                <div class="col-lg-4 col-sm-4 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="service-icon">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h5 class="green-border-bottom">Applicant Cards</h5>
                    <p>
                        You're more than a resume.  Applicant cards let you showcase who you are and easily apply to jobs. </p>
                </div>

                <div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="service-icon">
                        <i class="fa fa-search fa-4x"></i>
                    </div>
                    <h5 class="blue-border-bottom">Intelligent Search</h5>
                    <p>
                        Time is of the essence when you are looking for a job. Our technology works hard to find you to the right opportunities.
                    </p>
                </div>


            </div><!--//row-->
        </div><!--//container-->
    </section><!--//why-->
