<div class="form-loader" ng-show="!dataLoaded">
    <p>Loading</p>
    <div class="loader"></div>
</div>

<div class="content" ng-show="dataLoaded && dataError">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
            <h4>Data Not Found!</h4>
        </div>
    </div>
</div>

<div class="dashboard" ng-show="dataLoaded && !dataError">
    <div class="max-width">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="pull-left">My Dashboard</h1>
                <div class="pull-left" style="margin-top:20px; padding-left:10px">(<a href="javascript:void(0)" ng-click="logout()">Logout</a>)</div>
                <div class="intro" style="clear:both;">
                    <p>
                        Hi {{AuthService.currentUser.firstName}}, from your dashboard you can edit your profile, view your applications, manage your positions.
                    </p>
                </div>
            </div><!--col-->
        </div><!--row-->

        <div class="row" ng-show="showMyPositions">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>My Positions</h3>
                    </div>
                    <div class="list">
                        <!-- <h4>Location: {{loc.name}} - {{loc.city}}, {{loc.state}}</h4> -->

                        <table>
                            <thead class="clearfix">
                                <tr>
                                    <th width="25%">Position</th>
                                    <th width="22%">Business</th>
                                    <th width="22%">Location</th>
                                    <th width="10%">Openings</th>
                                    <th width="10%">Candidates</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pos in myPositions">

                                    <td class="up"><a href="javascript:void(0)" ui-sref="master.default.job.position({businessSlug:pos.business.slug, locationSlug:pos.location.slug, positionSlug:pos.slug})">{{pos.title}}</a></td>
                                    <td>{{pos.business.name}}</td>
                                    <td>{{pos.location.neighborhood}} - {{pos.location.city}}, {{pos.location.state}}</td>
                                    <td class="hidden-xs">{{pos.openingsCount}}</td>
                                    <td class="hidden-xs">{{pos.applicationCount}}</td>
                                    <td><button class="btn red" ui-sref="master.default.business.candidateList({businessSlug:pos.business.slug, locationSlug:pos.location.slug, positionSlug:pos.slug})">Manage</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>Favorite Positions</h3>
                    </div>
                    <div class="list">
                        <table ng-if="myFavorites.length > 0">
                            <thead class="clearfix">
                                <tr>
                                    <th width="25%">Position</th>
                                    <th width="22%">Business</th>
                                    <th width="22%">Location</th>
                                    <th width="15%">Wage</th>
                                    <th width="10%">Action</th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fav in myFavorites">
                                    <td class="up"><a href="javascript:void(0)" ui-sref="master.default.job.position({businessSlug: positions[fav.positionId].business.slug, locationSlug:positions[fav.positionId].location.slug, positionSlug:positions[fav.positionId].slug })">{{positions[fav.positionId].title}}</a></td>
                                    <td>{{positions[fav.positionId].business.name}}</td>
                                    <td>{{positions[fav.positionId].location.neighborhood}} - {{positions[fav.positionId].location.city}}, {{positions[fav.positionId].location.state}}</td>
                                    <td>${{positions[fav.positionId].compensation.wageAmount}} - {{positions[fav.positionId].compensation.wageType | uppercase}}</td>
                                    <td><button class="btn red" ui-sref="master.application.apply({businessSlug: positions[fav.positionId].business.slug, locationSlug:positions[fav.positionId].location.slug, positionSlug:positions[fav.positionId].slug })">Apply</button></td>
                                    <td class="close-td"><button class="btn white" ng-click="favoriteUpdate($index, fav.positionId, positions[fav.positionId].locationId, positions[fav.positionId].business._id)"><i class="glyphicon glyphicon-remove"></i></button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div ng-if="myFavorites.length < 1">
                            <td colspan="6">No favorite positions found.</td>
                        </div>
                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>Application History</h3>
                    </div>
                    <div class="list">

                        <table ng-if="myApplications.length > 0">
                            <thead class="clearfix">
                                <tr>
                                    <th width="18%">Position</th>
                                    <th width="18%">Business</th>
                                    <th width="24%">Location</th>
                                    <th width="10%">Apply Date</th>
                                    <th width="12%">Status</th>
                                    <th width="8%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="app in myApplications">
                                    <td class="up"><a href="javascript:void(0)" ui-sref="master.default.job.position({businessSlug: positions[app.positionId].business.slug, locationSlug:positions[app.positionId].location.slug, positionSlug:positions[app.positionId].slug })">{{positions[app.positionId].title}}</a></td>
                                    <td>{{positions[app.positionId].business.name}}</td>
                                    <td>{{positions[app.positionId].location.neighborhood}} - {{positions[app.positionId].location.city}}, {{positions[app.positionId].location.state}}</td>
                                    <td>{{app.appliedAt | date : 'MM/dd/yyyy'}}</td>
                                    <td>
                                        <span class="visible-xs-inline">Status: </span><span>{{getApplicationStatus(app.status+1)}}</span>
                                    </td>
                                    <td>
                                        <button class="btn red" ng-if="app.status == -1" ui-sref="master.application.apply({businessSlug: positions[app.positionId].business.slug, locationSlug:positions[app.positionId].location.slug, positionSlug:positions[app.positionId].slug })">Update</button>
                                        <button class="btn red" ng-if="app.status == 0" ui-sref="master.application.apply({businessSlug: positions[app.positionId].business.slug, locationSlug:positions[app.positionId].location.slug, positionSlug:positions[app.positionId].slug })">Finish</button>
                                        <button class="btn red" ng-if="app.status>=6 && getDaysUntilReapply(app)==0 " ui-sref="master.application.apply({businessSlug: positions[app.positionId].business.slug, locationSlug:positions[app.positionId].location.slug, positionSlug:positions[app.positionId].slug })">Reapply</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <div ng-if="myApplications.length < 1">
                            <td colspan="6">You haven't applied to any position yet.</td>
                        </div>

                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <h1>My Profile <a href="javascript:void(0)" ui-sref="master.default.user.profile"><i class="glyphicon glyphicon-edit"></i></a></h1>
                <div class="profile">
                    <p>
                        {{AuthService.currentUser.firstName}} {{AuthService.currentUser.lastName}}<br>
                        {{AuthService.currentUser.email}}<br>
                        {{getFormatedPhone(AuthService.currentUser.mobile)}}
                    </p>
                </div><!--profile-->
            </div><!--col-->
        </div><!--row-->

    </div><!--dashboard-->
</div><!--dashboard-->