<div class="form-loader" ng-show="!dataLoaded">
    <p>Loading</p>
    <div class="loader"></div>
</div>

<div class="content" ng-show="dataLoaded && dataError">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><i class="red-text glyphicon glyphicon-exclamation-sign"></i></h1>
            <h4>Data Not Found!</h4>
        </div>
    </div>
</div>

<div class="dashboard" ng-show="dataLoaded && !dataError">
    <div class="max-width">

        <div class="row">
            <div class="col-sm-12">
                <h1>My Dashboard</h1>
                <div class="intro">
                    <p>
                        Hi {{user.firstName}}, from your dashboard you can edit your profile, view your applications, manage your positions.
                    </p>
                </div>
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>My Positions</h3>
                    </div>
                    <div class="list" ng-repeat="loc in myLocations">
                        <h4>Location: {{loc.name}} - {{loc.city}}, {{loc.state}}</h4>
                        <table>
                            <thead class="clearfix">
                                <tr>
                                    <th>Position</th>
                                    <th>Status</th>
                                    <th>Openings</th>
                                    <th>Wage</th>
                                    <th>Candidates</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pos in myLocationsObj[loc._id]">
                                    <th>Position</th>
                                    <td>{{pos.title}}</td>
                                    <th>Status</th>
                                    <td>Active</td>
                                    <th>Openings</th>
                                    <td>{{pos.openingsCount}}</td>
                                    <th>Wage</th>
                                    <td>${{pos.compensation.wageAmount}}/{{pos.compensation.wageType}}</td>
                                    <th>Candidates</th>
                                    <td><button class="btn red" ui-sref="app.business.candidateList({businessSlug:pos.business.slug, locationSlug:pos.location.slug, positionSlug:pos.slug})">MANAGE</button></td>
                                    <th>Details</th>
                                    <td><button class="btn" ui-sref="app.job.position({businessSlug:pos.business.slug, locationSlug:pos.location.slug, positionSlug:pos.slug})">VIEW</button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>Favorite Positions</h3>
                    </div>
                    <div class="list">
                        <table ng-if="myFavorites.length > 0">
                            <thead class="clearfix">
                                <tr>
                                    <th>Position</th>
                                    <th>Business</th>
                                    <th>Location</th>
                                    <th>Openings</th>
                                    <th>Action</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fav in myFavorites">
                                    <th>Position</th>
                                    <td>{{positions[fav.positionId].title}}</td>
                                    <th>Business</th>
                                    <td>{{positions[fav.positionId].business.name}} - {{positions[fav.positionId].location.name}}</td>
                                    <th>Location</th>
                                    <td>{{positions[fav.positionId].location.city}}, {{positions[fav.positionId].location.state}}</td>
                                    <th>Opening</th>
                                    <td>{{positions[fav.positionId].openingsCount}}</td>
                                    <th>Action</th>
                                    <td><button class="btn red" ui-sref="application.apply({businessSlug: positions[fav.positionId].business.slug, locationSlug:positions[fav.positionId].location.slug, positionSlug:positions[fav.positionId].slug })">Apply</button></td>
                                    <th>&nbsp;</th>
                                    <td><button class="btn" ng-click="favoriteUpdate($index, fav.positionId, positions[fav.positionId].locationId, positions[fav.positionId].business._id)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div ng-if="myFavorites.length < 1">
                            <td colspan="6">No favorite positions found.</td>
                        </div>
                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="title">
                        <h3>Application History</h3>
                    </div>
                    <div class="list">

                        <table ng-if="myApplications.length > 0">
                            <thead class="clearfix">
                                <tr>
                                    <th>Position</th>
                                    <th>Business</th>
                                    <th>Location</th>
                                    <th>Apply Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="app in myApplications">
                                    <th>Position</th>
                                    <td>{{positions[app.positionId].title}}</td>
                                    <th>Business</th>
                                    <td>{{positions[app.positionId].business.name}} - {{positions[app.positionId].location.name}}</td>
                                    <th>Location</th>
                                    <td>{{positions[app.positionId].location.city}}, {{positions[app.positionId].location.state}}</td>
                                    <th>Apply Date</th>
                                    <td>{{app.createdAt | date : 'MM/dd/yyyy'}}</td>
                                    <th>Status</th>
                                    <td>{{getApplicationStatus(app.status)}}</td>
                                </tr>
                            </tbody>

                        </table>

                        <div ng-if="myApplications.length < 1">
                            <td colspan="6">You haven't applied to any position yet.</td>
                        </div>

                    </div><!--list-->
                </div><!--box-->
            </div><!--col-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-12">
                <h1>My Profile <a href="javascript:void(0)" ui-sref="app.user.profile"><i class="glyphicon glyphicon-edit"></i></a></h1>
                <div class="profile">
                    <p>
                        {{user.firstName}} {{user.lastName}}<br>
                        {{user.email}}<br>
                        {{getFormatedPhone(user.mobile)}}
                    </p>
                </div><!--profile-->
            </div><!--col-->
        </div><!--row-->

    </div><!--dashboard-->
</div><!--dashboard-->