<header>
    <a class="logo pull-left" ui-sref="app.home">
        <img src="img/hirely_logo_small.png" alt="Hirely"/>
    </a><!--//logo-->

    <div class="user pull-right">
        <div class="details" ng-show="auth.currentUser">
            <div class="image">
                <img class="img-circle" src="{{auth.currentUser.profileImageURL || defaultImage}}"/>
            </div>
            <div class="name">{{auth.currentUser.firstName}}</div>
            <div class="menu">
                <ul>
                    <li><a href="javascript:void(0);" class="" ng-click="userLogout()">logout</a></li>
                </ul>
            </div>
        </div>
        <div class="buttons" ng-show="!auth.currentUser">
            <!-- <button class="btn red">Register</button>
            <button class="btn red">Login</button> -->

        </div>

    </div>
</header>