@font-face {
    font-family: 'hirely-icons';
    src:    url('fonts/hirely-icons.eot?ag3yh6');
    src:    url('fonts/hirely-icons.eot?ag3yh6#iefix') format('embedded-opentype'),
        url('fonts/hirely-icons.ttf?ag3yh6') format('truetype'),
        url('fonts/hirely-icons.woff?ag3yh6') format('woff'),
        url('fonts/hirely-icons.svg?ag3yh6#hirely-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hirely-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-personal_services_icon:before {
    content: "\e904";
}
.icon-production_icon:before {
    content: "\e905";
}
.icon-protective_services_icon:before {
    content: "\e906";
}
.icon-repair_icon:before {
    content: "\e907";
}
.icon-maintenance_icon:before {
    content: "\e908";
}
.icon-management_icon:before {
    content: "\e909";
}
.icon-media_icon:before {
    content: "\e90a";
}
.icon-military_icon:before {
    content: "\e90b";
}
.icon-operations_icon:before {
    content: "\e90c";
}
.icon-transportation_icon:before {
    content: "\e90d";
}
.icon-sales_icon:before {
    content: "\e90e";
}
.icon-social_service_icon:before {
    content: "\e90f";
}
.icon-technology_icon:before {
    content: "\e910";
}
.icon-food_services_icon:before {
    content: "\e911";
}
.icon-healthcare_icon:before {
    content: "\e912";
}
.icon-healthcare_support_icon:before {
    content: "\e913";
}
.icon-legal_icon:before {
    content: "\e914";
}
.icon-life_social_science_icon:before {
    content: "\e915";
}
.icon-administrative_icon:before {
    content: "\e916";
}
.icon-construction_icon:before {
    content: "\e900";
}
.icon-education_icon:before {
    content: "\e901";
}
.icon-engineering_icon:before {
    content: "\e902";
}
.icon-farming_icon:before {
    content: "\e903";
}
.icon-chat_icon:before {
    content: "\e931";
}
.icon-undo_icon:before {
    content: "\e932";
}
.icon-dollar_sign_icon:before {
    content: "\e92d";
}
.icon-expired_icon:before {
    content: "\e92e";
}
.icon-phone_icon:before {
    content: "\e92f";
}
.icon-thumb_up_icon:before {
    content: "\e930";
}
.icon-thumb_down_icon:before {
    content: "\e92b";
}
.icon-users_group_icon:before {
    content: "\e92c";
}
.icon-heart_tick_icon:before {
    content: "\e92a";
}
.icon-exit_icon:before {
    content: "\e929";
}
.icon-piggbank_outline_icon:before {
    content: "\e917";
}
.icon-share_icon:before {
    content: "\e918";
}
.icon-sick_outline_icon:before {
    content: "\e919";
}
.icon-tipjar_outline_icon:before {
    content: "\e91a";
}
.icon-vacation_outline_icon:before {
    content: "\e91b";
}
.icon-heart_outline_icon:before {
    content: "\e91c";
}
.icon-info_outline_icon:before {
    content: "\e91d";
}
.icon-insurance_outline_icon:before {
    content: "\e91e";
}
.icon-location_outline_icon:before {
    content: "\e91f";
}
.icon-moneybag_outline_icon:before {
    content: "\e920";
}
.icon-commission_icon:before {
    content: "\e921";
}
.icon-discount_outline_icon:before {
    content: "\e922";
}
.icon-employeebadge_outline_icon:before {
    content: "\e923";
}
.icon-calendar_outline_icon:before {
    content: "\e924";
}
.icon-checklist_outline_icon:before {
    content: "\e925";
}
.icon-clock_outlone_icon:before {
    content: "\e926";
}
.icon-building_outline_icon:before {
    content: "\e927";
}
.icon-bonus_outline_icon:before {
    content: "\e928";
}

