
<form class="form-horizontal" name="stepOne" novalidate>
    <fieldset>
        <legend>Availability</legend>

        <!-- Date Picker -->
        <div class="form-group row">
            <label for="startDate" class="col-sm-3 control-label">Starting Date<span class="required-field">*</span></label>
            <div class="col-sm-9 col-md-6">
                <div class="input-group">
                    <!-- <input type="date" class="form-control" uib-datepicker-popup ng-model="startDate" is-open="status.opened" id="startDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> -->
                    <input type="date" class="form-control" ng-focus="openDatePicker($event)" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
					</span>
                </div>
            </div>
        </div>
        
        <legend>How many hours per week can you work?</legend>
        <div class="form-group row">
            <label for="min-hours" class="col-md-2 control-label">Min Hours<span class="required-field">*</span></label>
            <div class="col-md-2" >
                <input type="number" min="1" class="form-control" ng-model="minHours" ng-pattern="/^[0-9]*$/"/>
            </div>
            <div class="col-md-2 step-5-to">TO</div>
            <label for="max-hours" class="col-md-2 control-label">Max Hours<span class="required-field">*</span></label>
            <div class="col-md-2">
                <input type="number" min="1" class="form-control" ng-model="maxHours" ng-pattern="/^[0-9]*$/"/>
            </div>
        </div>
        
        <legend>What hours can you work each week (select all that apply)?</legend>
        <!--tablet and desktop-->
        <div class="form-group row hidden-xs">
            <div class="table-responsive">
                <table class="table table-striped table-bordered step-5-timetable">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Su</th>
                            <th>Mo</th>
                            <th>Tu</th>
                            <th>We</th>
                            <th>Th</th>
                            <th>Fr</th>
                            <th>Sa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hour in weeklyTimetable">
                            <th>{{hour.label}}</th>
                            <td><span ng-class="{'active':hour.days.su, 'inactive':!hour.days.su}"><input type="checkbox" ng-model="hour.days.su"/></span></td>
                            <td><span ng-class="{'active':hour.days.mo, 'inactive':!hour.days.mo}"><input type="checkbox" ng-model="hour.days.mo"/></span></td>
                            <td><span ng-class="{'active':hour.days.tu, 'inactive':!hour.days.tu}"><input type="checkbox" ng-model="hour.days.tu"/></span></td>
                            <td><span ng-class="{'active':hour.days.we, 'inactive':!hour.days.we}"><input type="checkbox" ng-model="hour.days.we"/></span></td>
                            <td><span ng-class="{'active':hour.days.th, 'inactive':!hour.days.th}"><input type="checkbox" ng-model="hour.days.th"/></span></td>
                            <td><span ng-class="{'active':hour.days.fr, 'inactive':!hour.days.fr}"><input type="checkbox" ng-model="hour.days.fr"/></span></td>
                            <td><span ng-class="{'active':hour.days.sa, 'inactive':!hour.days.sa}"><input type="checkbox" ng-model="hour.days.sa"/></span></td>
                        </tr>
                    </tbody>
                </table>
            </div><!--table-responsive-->
        </div><!--end-tablet-and-desktop-->

        <!--mobile-layout-->
        <div class="form-group row .visible-xs-block">
            <div class="step-5-mob-day clearfix">
                <button class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                <div class="item daylabel">Sunday</div>
                <div class="list">
                    <div class="item">Unavailable</div>
                </div>
            </div>
            
            <div class="step-5-mob-day clearfix">
                <button class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                <div class="item daylabel">Monday</div>
                <div class="list">
                    <div class="item" ng-repeat="range in weeklyTimetable | hourRangesByDay:'mo' ">{{range.start}} - {{range.end}} <a href="javascript:void(0);" class="btn"><i class="glyphicon glyphicon-remove"></i></a></div>
                </div>
            </div>

            <div class="step-5-mob-day clearfix">
                <button class="btn"><i class="glyphicon glyphicon-plus"></i></button>
                <div class="item daylabel">Tuesday</div>
                <div class="list">
                    <div class="item">6AM - 12PM <a href="javascript:void(0);" class="btn"><i class="glyphicon glyphicon-remove"></i></a></div>
                    <div class="item">1PM - 6PM <a href="javascript:void(0);" class="btn"><i class="glyphicon glyphicon-remove"></i></a></div>
                </div>
            </div>
        </div>

    </fieldset>
    <!-- END Personal data -->
</form>